$vercustom:0;

$font_family_01: 'Work Sans', sans-serif;
$font_weight_01: 400;
$font_weight_05: 500;
$font_weight_06: 600;
$font_weight_07: 700;
$font_style_01: null;
$font_size_01: null;

$font_family_02: 'Muli', sans-serif;
$font_weight_02: 400;
$font_style_02: null;
$font_size_02: null;

$special_font_family: 'Work Sans', sans-serif;
$specail_font_weight: 400;
$specail_font_style: null;
$specail_font_size: null;

$body_font_family: $font_family_01;
$body_font_size: 14;
$body_font_weight: 400;
$body_color: $quaternary;
$body_line_height: 150;
$body_font_style: normal;
$body_font_variant: normal;
$body_text_transform: none;
$body_letter_spacing: 0;
$body_word_spacing: 0;
$body_opacity: 1;
$body_size_type: 0;

$h1_font_family: $special_font_family;
$h1_font_size: 30;
$h1_font_weight: 400;
$h1_color: $primary;
$h1_line_height: 130;
$h1_font_style: normal;
$h1_font_variant: normal;
$h1_text_transform: capitalize;
$h1_letter_spacing: 0;
$h1_word_spacing: 0;
$h1_opacity: 1;
$h1_size_type: 1;

$h2_font_family: $special_font_family;
$h2_font_size: 26;
$h2_font_weight: 400;
$h2_color: $primary;
$h2_line_height: 130;
$h2_font_style: normal;
$h2_font_variant: normal;
$h2_text_transform: capitalize;
$h2_letter_spacing: 0;
$h2_word_spacing: 0;
$h2_size_type: 1;
$h2_opacity: 1;

$h3_font_family: $special_font_family;
$h3_font_size: 22;
$h3_font_weight: 400;
$h3_color: $primary;
$h3_line_height: 130;
$h3_font_style: normal;
$h3_font_variant: normal;
$h3_text_transform: capitalize;
$h3_letter_spacing: 0;
$h3_word_spacing: 0;
$h3_opacity: 1;
$h3_size_type: 1;

$h4_font_family: $special_font_family;
$h4_font_size: 20;
$h4_font_weight: 400;
$h4_color: $primary;
$h4_line_height: 130;
$h4_font_style: normal;
$h4_font_variant: normal;
$h4_text_transform: capitalize;
$h4_letter_spacing: 0;
$h4_word_spacing: 0;
$h4_opacity: 1;
$h4_size_type: 1;

$h5_font_family: $special_font_family;
$h5_font_size: 18;
$h5_font_weight: 400;
$h5_color: $primary;
$h5_line_height: 130;
$h5_font_style: normal;
$h5_font_variant: normal;
$h5_text_transform: capitalize;
$h5_letter_spacing: 0;
$h5_word_spacing: 0;
$h5_opacity: 1;
$h5_size_type: 1;


$h6_font_family: $special_font_family;
$h6_font_size: 16;
$h6_font_weight: 400;
$h6_color: $primary;
$h6_line_height: 130;
$h6_font_style: normal;
$h6_font_variant: normal;
$h6_text_transform: capitalize;
$h6_letter_spacing: 0;
$h6_word_spacing: 0;
$h6_opacity: 1;
$h6_size_type: 1;

$line_height: 150;

$margin_top: 15;
$margin_bottom: 15;
$margin_left: 15;
$margin_right: 15;
$padding_top: 15;
$padding_bottom: 15;
$padding_left: 15;
$padding_right: 15;