/* Reset CSS S */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        line-height: 1;
        vertical-align: baseline;
        @include css3-prefix ('text-rendering','optimizeLegibility');
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    html {
        height: 100%;
        width: 100%;
    }

    body {
        height: 100%;
        width: 100%;
        @include nq_bg ($nq_body_bg...);
        @include nq_font ($nq_body_font...);
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    :focus {
        outline: 0;
    }

    ins {
        text-decoration: none;
    }

    del {
        text-decoration: line-through;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        overflow: hidden;
    }
/* Reset CSS E */


/* CMS S */
    body, .cms {
        img {
            max-width: 100%;
        }
        a {
            color: inherit;
            &:hover{
                color: inherit;
            }
        }
        a, a:hover, a:focus, a:active {
            color: inherit;
            text-decoration: none;
            @include css3-prefix ('transition', 'all 0.5s ease-in-out');
            outline: 0;
            outline-offset: 0;
        }
        p, ul li, ul, blockquote, figure, figcaption{
            @include nq_font ($nq_body_cms_font...);
            + p, + ul, + ol, + blockquote, + figure{
                @include nq_margin ($nq_body_cms_margin...);
            }
            + h1, + h2, + h3, + h4, + h5, + h6, + .h1, + .h2, + .h3, + .h4, + .h5, + .h6{
                @include nq_margin ($nq_body_cms_margin...);
            }
            + div {
                margin-top: 15px;
            }
        }
        img + p{
            @include nq_margin ($nq_body_cms_margin...);
        }
        div + p, div + h1, div + h2, div + h3, div + h4, div + h5, div + h6, div + .h1, div + .h2, div + .h3, div + .h4, div + .h5, div + .h6, div + ul, div + ol, div + blockquote, div + figure{
            margin-top: 15px;
        }
        h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
            @include nq_margin ($nq_body_cms_h1_h6_margin...);
            @include nq_padding ($nq_body_cms_h1_h6_padding...);
            + h1,+ h2,+ h3,+ h4,+ h5,+ h6, + .h1, + .h2, + .h3, + .h4, + .h5, + .h6, + figure {
                @include nq_margin ($nq_body_cms_h1_h6_plus_margin...);
            }
            + p, + ul, + ol, + blockquote {
                @include nq_margin ($nq_body_cms_p_ul_ol_margin...);
            }
        }        
        ol, ul{
            @include nq_margin ($nq_body_cms_ol_ul_margin...);
            @include nq_padding ($nq_body_cms_ol_ul_padding...);
            + p, + h1,+ h2,+ h3,+ h4,+ h5,+ h6, + .h1, + .h2, + .h3, + .h4, + .h5, + .h6 {
                @include nq_margin ($nq_body_cms_margin...);
            }
        }
        ol{
            list-style-type: decimal-leading-zero;
            @include nq_margin ($nq_body_cms_ol_margin...);
        }
    }   
    .cms{
        &:after {
            display: block;
            clear: both;
            content: "";
        }
        a {
            @include nq_font ($nq_cms_a_font...);
            @include nq_hover() {
                @include nq_font ($nq_cms_a_hover_font...);
            }
        }
        /* img{
            float: left;
            width: 50%;
            @media (max-width: 480px){
                width: 100%;
            }
            @include nq_border ($nq_cms_img_border...);
            @include nq_margin ($nq_cms_img_margin...);
            @include nq_padding ($nq_cms_img_padding...);
            @include css3-prefix('box-shadow', 'none');
        } */
        .img {
            float: left;
            width: 50%;
            @media (max-width: 480px){
                width: 100%;
            }
            img {
                margin: auto;
                padding: 0;
                border: 0;
                width: auto;
                float: none;
            }
        }      
        h1,h2,h3,h4,h5,h6{
            + .table-responsive{
                @include nq_margin ($nq_body_cms_margin...);
            }
        }

        .page-break {
            position: relative;
            clear: both;
        }

        .cms-block-indent-a {
            margin-left: 10%
        }
        .cms-block-indent-b {
            margin-left: 20%
        }
    }
/* CMS E */


/* Wrapper S */
    body {
        #wrapper{
            position: relative;
            overflow:hidden;
            width: 100%;
            @include nq_bg ($nq_wrapper_bg...);
            @include css3-prefix('transition', 'all 0.5s ease-in-out');
        }
    }
/* Wrapper E */


/* Container S */
    @include nq_container ($nq_container...);
    .section{
        @include nq_padding ($nq_section_padding...);
        @media (max-width: 767px) {
            @include nq_padding ($nq_section_767_padding...);
        }
    }
    .page_section{
        @include nq_padding ($nq_page_section_padding...);
        @media (max-width: 767px) {
            @include nq_padding ($nq_page_section_767_padding...);
        }
    }
/* Container E */


/* Button S */
    .btn, .btn-primary, .btn-secondary, .btn-tertiary, a.btn, a.btn-primary, a.btn-secondary, .btn-tertiary{
        @include nq_btn ($nq_btn...);
        @include css3-prefix ('transition','all .3s ease-in-out');
        @media(max-width: 1199px){
            @include nq_btn ($nq_btn_1199...);
        }
        @media(max-width: 767px){
            @include nq_btn ($nq_btn_767...);
        }
    }
    .btn-primary, a.btn-primary {
        @include nq_btn ($nq_primary_btn...);
    }
    .btn-secondary, a.btn-secondary {
        @include nq_btn ($nq_secondary_btn...);
    }
    .btn-tertiary, a.btn-tertiary {
        @include nq_btn ($nq_tertiary_btn...);
        // span{
        //     @include nq_btn ($nq_tertiary_btn...);
        // }
    }

    .btn-tertiary{
        span{
            @include nq_border ($nq_tertiary_span_border...);
            @include nq_btn ($nq_tertiary_btn_span...);
            @include css3-prefix ('transition', 'all 0.3s ease-in-out');
        }
        &:hover{
            span{
                margin: 0 10px 0 0;
                border-bottom: 1px solid $primary;
                color: $primary;
            }
        }
        i{
            @include nq_font ($nq_tertiary_btn_i...);
        }
    }
    
/* Button E */


/* Thumbnail Container S */
    .thumbnail-container, .thumbnail_container {
        @include nq_imgthum ($nq_imgthum);
        @include nq_border_radius ($nq_thumbnail_container_radius...);
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .thumbnail{
        @include nq_margin ($nq_thumbnail_margin...);
        @include nq_padding ($nq_thumbnail_padding...);
        @include nq_border ($nq_thumbnail_border...);
        height: 100%;
        width: 100%;
        position: absolute;
        background: none;
        display: block;
        a, img, svg{
            display: block;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            width: auto !important;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            position: absolute;
            
        }
    }
    [class^='nq-thumbnail'], [class*=' nq-thumbnail'] {
        position: relative;
        margin: 0;
        max-width: 100%;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        @include css3-prefix("transform", translateZ(0));
    }

    [class^='nq-thumbnail'] > img, [class*=' nq-thumbnail'] > img {
        vertical-align: top;
        max-width: 100%;
    }

    [class^='nq-thumbnail'] .nq-caption, [class*=' nq-thumbnail'] .nq-caption {
        @include css3-prefix("transition", all 0.6s ease-in-out);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: -1;
        padding: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        @include nq_bg ($nq_thumbnail_caption_bg...);
        .btn {
            margin-left: 2.5px;
            margin-right: 2.5px;
        }
    }

    [class^='nq-thumbnail']:hover .nq-caption, [class*=' nq-thumbnail']:hover .nq-caption {
        z-index: 9;
        opacity: 1;
    }

    [class^='nq-thumbnail'], [class*=' nq-thumbnail'], [class^='nq-thumbnail']:before,
    [class^='nq-thumbnail']:after, [class*=' nq-thumbnail']:before, [class*=' nq-thumbnail']:after,
    [class^='nq-thumbnail'] *, [class*=' nq-thumbnail'] *, [class^='nq-thumbnail'] *:before,
    [class^='nq-thumbnail'] *:after, [class*=' nq-thumbnail'] *:before, [class*=' nq-thumbnail'] *:after {
        box-sizing: border-box;
        @include css3-prefix("transition", all 0.6s ease-in-out);
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
        [class^='nq-thumbnail'] .nq-caption, [class*=' nq-thumbnail'] .nq-caption {
            cursor: pointer;
        }
    }
/* Thumbnail Container E */


/* Boxed Layout S */
    body{
        &.boxed_layout{
            @include nq_bg ($nq_boxed_layout_bg...);
            #wrapper{
                @include nq_bg ($nq_boxed_layout_wrapper_bg...);
                margin: 0 auto;
                max-width: $nq_boxed_layout_wrapper_max_width + px;
                height: auto;
            }
            .shrink header{
                max-width: $nq_boxed_layout_wrapper_max_width + px;
                margin: 0 auto;
            }
        }
    }
/* Boxed Layout E */


/* Form S */
    .form-group{
        @include nq_form_group ($nq_form_group);
        @include nq_form_help ($nq_form_help...);
        @include nq_form_static ($nq_form_static...);
        @include nq_form_radio ($nq_form_radio...);
        @include nq_form_label ($nq_form_label...);
        @include nq_form_input ($nq_form_input...);
        @media(max-width: 767px){
            @include nq_form_label ($nq_form_label_767...);
            @include nq_form_input ($nq_form_input_767...);
        }
        .form-control{
            @include css3-prefix ('transition','all .3s ease-in-out');
            resize: none;
            border-bottom: 1px solid $tertiary-lighter;
            @media(max-width: 767px){
            }
            &:focus{
                border-bottom: 1px solid lighten($primary,40%);
                outline: none;
                @include css3-prefix ('box-shadow','none');
            }
            &:hover{
                border-bottom: 1px solid lighten($primary,40%);
            }
        }
    }
    @include nq_form_checkbox ($nq_form_checkbox...);
    @include nq_form_material ($nq_form_material...);
    @include nq_form_error ($nq_form_error...);
/* Form E */


/* Common Title S */
    .nqtitle{
        @include nq_font ($nq_nqtitle_font...);        
        @include nq-title-bottom;
        @media(max-width: 1440px){
            @include nq_font ($nq_nqtitle_1440_font...);
        }
        @media(max-width: 1199px){
            @include nq_font ($nq_nqtitle_991_font...);
        }
        @media (max-width: 767px){
            @include nq_font ($nq_nqtitle_767_font...);
        }
        @media(max-width: 479px){
            @include nq_font ($nq_nqtitle_479_font...);
        }
    }
    .nqtitle-ip{
        @include nq_font ($nq_nqtitle_ip_font...);
        @media (max-width: 767px){
            @include nq_font ($nq_nqtitle_ip_767_font...);
        }
    }
/* Common Title E */

/* nqsocia S */
    .nqsocia {
        @include nq_sn ($nq_sn...);
    }
/* nqsocia E */


/* Pagination S */
    @include nq_pagination($nq_pagination...);
/* Pagination E */


@import '../../assets/scss/utilities/spacing';

.owl-carousel{
    .owl-dots{
        .owl-dot{
            @include css3-prefix ('border', 'none');
            padding: 2px !important;
            margin: 0 3px;
            @include css3-prefix ('transition','all 0.3s ease-in-out');
            span{
                width: 6px;
                height: 6px;
                margin: 0;
                background-color: lighten($primary,40%);
                @include css3-prefix ('transition','all 0.3s ease-in-out');
                position: relative;
                &:before{
                    position: absolute;
                    content: "";
                    border:1px solid lighten($primary,40%);
                    width: 12px;
                    height: 12px;
                    top: -3px;
                    left: -3px;
                    @include css3-prefix ('border-radius', '100px');
                    @include css3-prefix ('transition','all 0.3s ease-in-out');
                    opacity: 0;
                }
            }
            &.active{
                span{
                    background-color: lighten($primary,40%);
                    &:before{
                        opacity: 1;
                    }
                }
            }
            &:hover{                    
                span{
                    background-color: lighten($primary,40%) !important;
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.image_hover{
    position: relative;
    .thumbnail{
        overflow: hidden;
        img{
            @include css3-prefix ('transition', 'all 0.5s ease-in-out');
        }
    }
    .mask{
        width: 100%;
        height: 100%;
        background: rgba($black,.5);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        @include css3-prefix('transform', perspective(400px) rotateX(-90deg));
        @include css3-prefix('transform-origin', center top 0);
        @include css3-prefix('transition', all .5s ease 0s);
    }
    &:hover{
        @media(min-width:1200px){
            img{
                @include css3-prefix('transform', scale(1.2));
            }
            .mask{
                opacity: 1;
                @include css3-prefix('transform', perspective(400px) rotateX(0));
            }
        }
    }
}

/* for top cms content for inner pages start */
.cms_top{
    p{
        font-size: body_font_size + 2px;
        text-align: center;
    }
}
/* for top cms content for inner pages end */

/*CMS CUSTOM CSS S*/
.cms{
    .nqtitle {
        border-bottom: 0;
        margin: 0;
    }
    h1,.h1{
            @include nq_font ($nq_body_cms_h1_font...);
            @media (max-width: 1199px) {
                @include nq_font ($nq_body_cms_h1_1199_font...);
            }
            @media (max-width: 767px) {
                @include nq_font ($nq_body_cms_h1_767_font...);
            }
        }
        h2,.h2{
            @include nq_font ($nq_body_cms_h2_font...);
            @media (max-width: 1199px) {
                @include nq_font ($nq_body_cms_h2_1199_font...);
            }
            @media (max-width: 767px) {
                @include nq_font ($nq_body_cms_h2_767_font...);
            }
        }
        h3,.h3{
            @include nq_font ($nq_body_cms_h3_font...);
            @media (max-width: 1199px) {
                @include nq_font ($nq_body_cms_h3_1199_font...);
            }
            @media (max-width: 767px) {
                @include nq_font ($nq_body_cms_h3_767_font...);
            }
        }
        h4,.h4{
            @include nq_font ($nq_body_cms_h4_font...);
            @media (max-width: 1199px) {
                @include nq_font ($nq_body_cms_h4_1199_font...);
            }
            @media (max-width: 767px) {
                @include nq_font ($nq_body_cms_h4_767_font...);
            }
        }
        h5,.h5{
            @include nq_font ($nq_body_cms_h5_font...);
            @media (max-width: 1199px) {
                @include nq_font ($nq_body_cms_h5_1199_font...);
            }
            @media (max-width: 767px) {
                @include nq_font ($nq_body_cms_h5_767_font...);
            }
        }
        h6,.h6{
            @include nq_font ($nq_body_cms_h6_font...);
            @media (max-width: 1199px) {
                @include nq_font ($nq_body_cms_h6_1199_font...);
            }
            @media (max-width: 767px) {
                @include nq_font ($nq_body_cms_h6_767_font...);
            }
        }
        img {
            max-width: 100%;
        }
    p{
        font-size: $body_font_size + 2px;
        @media(max-width: 767px){
            font-size: 14px;
            text-align: justify;
        }
    }

    .image {
        display: table;
        clear: both;

        text-align: center;
        // @include nq_border ($nq_cms_img_border...);
        @include nq_margin ($nq_cms_img_margin...);
        // @include nq_padding ($nq_cms_img_padding...);
        // @include css3-prefix ('box-shadow','#{$nq_box_shadow_5}');
        @media (max-width: 480px){
            max-width: 100% !important;
        }
        img {
            display: block;
            margin: 0 auto;            
            max-width: 100%;
            min-width: 50px;
        }
        figcaption {
            display: block;
            padding: 9px 0;
            color: $white;            
            font-weight:$font_weight_05; 
            background: $primary;            
            border-top: none;
        }
        &.image_resized {
            max-width: 100%;
            display: block;
            box-sizing: border-box;
        }
        &.image_resized{
            img {
                width: 100%;
            }
        }
        &.image-style-side,
        &.image-style-align-left,
        &.image-style-align-center,
        &.image-style-align-right {
            max-width: 50%;
        }
        &.image-style-side {
            float: right;
            margin-left: 15px;
        }
        &.image-style-align-left {
            float: left;
            margin-right: 15px;
            width: 400px;
            @media(max-width: 568px){
                width: 100%;
                float: none;
                margin: 10px auto 15px;
            }
        }
        &.image-style-align-center {
            margin-left: auto;
            margin-right: auto;
        }
        &.image-style-align-right {
            float: right;
            margin-left: 15px;
            width: 400px;
            @media(max-width: 568px){
                width: 100%;
                float: none;
                margin: 10px auto 15px;
            }
        }
    }

    blockquote{
        @include nq_bg ($nq_body_blockquote_bg...);
        @include nq_padding ($nq_body_cms_blockquote_padding...);
        @include nq_margin ($nq_body_cms_blockquote_margin...);
        // @include nq_border($nq_body_blockquote_border...);
        border-left: 15px solid lighten($primary,40%);
        display: flex;
        @media(max-width: 767px){
            border-left: 10px solid lighten($primary,40%);
        }
    }


    ol,ul{
        position: relative;
        @media(max-width: 1199px){
            
        }
        li{
            display: table;
            padding: 0;
            line-height: 150%;
            font-size: $body_font_size + 2px;            
            @media(max-width: 767px){
                font-size: 14px;
            }
        }
    }
    ol{
        left: 25px;
        li{
            list-style-type: decimal-leading-zero;
        }
    }
    ul{ 
        left: 0;
        li {
            position: relative;
            list-style-type: none;
            padding-left: 17px;
            &:before{
                position: absolute;
                content: "";
                border: 1px solid $primary;
                width: 12px;
                height: 12px;
                top: 6px;
                left: 0;
                @include css3-prefix('border-radius','100px');     
                @media(max-width: 767px){
                    width: 10px;
                    height: 10px;
                }        
            }
            &:after{
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                margin: 0;
                top: 9px;
                left: 3px;
                background:$primary;
                @include css3-prefix('border-radius','100px');
                 @media(max-width: 767px){
                    width: 4px;
                    height: 4px;
                } 
            }
            + li {
                @include nq_margin ($nq_body_cms_li_limargin...);
            }
        }
    }
    .media {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        margin: 10px 0 0;
        iframe{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

/* Default and Responsive Table S */
    .cms{
        .table {
            display: block;
            width: 100%;
            overflow-x: auto;
        }
        table{
            width: 100%;
            @include nq_margin ($nq_table_margin...);
            @include nq_border ($nq_table_border...);
            tr{
                th{
                    @include nq_bg ($nq_table_th_bg...);
                    @include nq_font ($nq_table_th_font...);
                    @include nq_border ($nq_table_th_border...);
                    @media(max-width: 1199px){
                        @include nq_font ($nq_table_th_1199_font...);
                    }
                }
                td {
                    @include nq_bg ($nq_table_td_bg...);
                    @include nq_font ($nq_table_td_font...);                    
                    @include nq_border ($nq_table_td_border...);
                    @media(max-width: 1199px){
                        @include nq_font ($nq_table_td_1199_font...);
                    }
                }
                th, td{
                    @include nq_padding ($nq_table_td_th_padding...);
                }
            }
        }
        .table-responsive{
            border: fnone;
        }
    }
/* Default and Responsive Table E */
/*CMS CUSTOM CSS E*/


/*Right Panel*/
.right-panel{
    padding: 25px;
    background: lighten($tertiary-light,45%);
    border:1px solid lighten($tertiary-light,30%);
    @media(max-width: 1199px){
        margin:20px 0 0;
    }
    @media(max-width: 767px){
        padding: 15px;
    }
    .detail-category{
        margin: 0 0 25px;
        @media(max-width: 479px){
            margin: 0 0 15px;
        }
        .category{
            margin: 0;
            padding: 0;
        }
    }
    .form-title{
        @include nq_font ($right_panel_form_title...);
        margin: 0 0 8px;
        @media(max-width: 1366px){
            @include nq_font ($right_panel_form_1366_title...);
        }
        @media(max-width: 1280px){
            @include nq_font ($right_panel_form_1280_title...);
        }
    }
    form{
        text-align: left;
        .form-group{
            .nq-label{
                @include css3-prefix("transition","all .3s ease-in-out");
                // @include nq_font ($service_detail_form_label...);
            }
            .form-control{
                @include nq_form_input ($right_panel_form_input...);
                // @include nq_font ($service_detail_form_input_font...);
                @include css3-prefix ('transition','all .3s ease-in-out');                    
                background-color: transparent;                    
            }
            &.captcha{
                text-align: center;
                @media(max-width: 479px){
                    @include css3-prefix ('transform','scale(0.8)');
                    margin-left: -20px;
                }
            }
            &.captcha-img{
                @media(max-width: 568px){
                    display: table;
                    margin: 10px auto;
                }
            }
        }
    }
    .service-btn,.form-btn{
        text-align:center;
        @media(max-width: 1199px){
            text-align:right;
        }
        @media(max-width: 568px){
            text-align:center;
        }
        .form-group{
            margin: 10px 0 0;
            @media(max-width: 1199px){
                margin: 40px 0 0;
            }
            @media(max-width: 568px){
                margin: 10px 0 0;
            }            
        }
    }
    // .form-btn{
    //     .form-group{
    //         margin: 40px 0 15px;
    //         @media(max-width: 479px){
    //             margin: 10px 0;
    //         }
    //     }
    // }
}
/*Right Panel*/


/*Menu Scroll S*/
.body-overflow{
    overflow: hidden;
}
/*Menu Scroll E*/

// @media all and (-ms-high-contrast:none)
// {
// *::-ms-backdrop,
// [data-aos^=fade][data-aos^=fade],[data-aos^=zoom][data-aos^=zoom]{opacity: 1;}
// }
.page_section {
    min-height: 400px;
}