/* Reset CSS S */
	$nq_body_bg: (
	    background-color: $white,
	    background-repeat: repeat,
	    background-position: center top
	);
	
	$nq_body_font: (
	    font-size: $body_font_size,
	    font-weight: $body_font_weight,
	    line-height: $body_line_height,
	    color: $body_color,
	    font-style: $body_font_style,
	    font-variant: $body_font_variant,
	    font-family: $body_font_family,
	    text-transform: $body_text_transform,
	    letter-spacing: $body_letter_spacing,
	    word-spacing: $body_word_spacing,
	);
/* Reset CSS E */


/* Wrapper S */
	$nq_wrapper_bg: (
	    background-color: $white,
	);
/* Wrapper E */


/* Container S */
	$nq_container: container;
	$nq_section_padding: 50 0;
	$nq_section_767_padding: 25 0;
	$nq_page_section_padding: 70 0;
	$nq_page_section_767_padding: 40 0;
/* Container E */


/* Button S */
	$nq_btn: (
	    background-color: $white,	    	    
	    border-radius: 100,
	    border-width: 1,
	    border-style: solid,
	    border-color: $quaternary-medium,	    
	    padding: 14 50,
	    line-height: 100,	    
	    font-size: $body_font_size + 2,
	    font-weight: $font_weight_05,
	    color: $quaternary,  
	    color-h: $white,   
	    background-color-h:$primary,
	    border-color-h: $primary,   
	);

	$nq_btn_1199: (
	    padding: 11 40,
	    line-height: 100,	    
	    font-size: $body_font_size,
	    color-h: $quaternary,
	    background-color-h: $primary,
	    border-color-h: $primary,
	);

	$nq_btn_767: (
	    padding: 11 23,	    
	);

	$nq_primary_btn: (
	    background-color: $primary,	    	    
	    border-radius: 100,
	    border-width: 1,
	    border-style: solid,
	    border-color: $quaternary,	    
	    padding: 14 50,
	    line-height: 100,	    
	    font-size: $body_font_size + 2,
	    font-weight: $font_weight_05,
	    color: $white,  
	    color-h: $white,   
	    background-color-h:$secondary,
	    border-color-h: $secondary,
	);

	$nq_secondary_btn: (
	    background-color: $quaternary-light,	    	    
	    border-radius: 100,
	    border-width: 1,
	    border-style: solid,
	    border-color: $quaternary-medium,	    
	    padding: 14 50,
	    line-height: 100,	    
	    font-size: $body_font_size + 2,
	    font-weight: $font_weight_05,
	    color: $quaternary,  
	    color-h: $white,   
	    background-color-h:$secondary,
	    border-color-h: $secondary,
	);

	$nq_tertiary_btn: (
	    color: $quaternary,
        font-size: 14,
        font-weight: $font_weight_05,
        background-color: transparent,
        border-width: 0,
        color-h: $primary,
        padding: 0,
        background-color-h: transparent,
	);

	$nq_tertiary_btn_span: (
		// border-bottom-width: 1,
		// border-style: solid,
		// border-color: $quaternary-lighter,
		margin: 0 4 0 0,
		color: $quaternary,
	);

	$nq_tertiary_span_border:(1),(solid),(($white,0) ($white,0) ($quaternary-lighter,1) ($white,0));

	$nq_tertiary_btn_i: (
		font-size: $body_font_size - 4,
		font-weight: $font_weight_07,
	);
/* Button E */


/* Thumbnail Container S */
	$nq_imgthum: square;
	$nq_thumbnail_container_radius: 0;
	$nq_thumbnail_caption_bg:(
		background-color: rgba($black,0.3),
	);
	$nq_thumbnail_margin: 0;
	$nq_thumbnail_padding: 0;
	$nq_thumbnail_border: (0),(solid),(($white,0) ($white,0) ($white,0) ($white,0));
/* Thumbnail Container E */


/* CMS S */
	$nq_body_cms_font: (
	    font-size: $body_font_size,
	    font-weight: $body_font_weight,
	    line-height: $body_line_height,
	    color: $body_color,
	    font-style: $body_font_style,
	    font-variant: $body_font_variant,
	    font-family: $body_font_family,
	    text-transform: $body_text_transform,
	    letter-spacing: $body_letter_spacing,
	    word-spacing: $body_word_spacing,
	);

	$nq_body_cms_margin: 15 0 0 0;
	$nq_body_cms_h1_h6_margin: 0;
	$nq_body_cms_h1_h6_padding: 0;
	$nq_body_cms_h1_h6_plus_margin: 5 0 0 0;
	$nq_body_cms_p_ul_ol_margin: 5 0 0 0;

	$nq_body_cms_h1_font: (
	    font-size: 36,
	    font-weight: $h1_font_weight,
	    line-height: $h1_line_height,
	    color: $h1_color,
	    font-style: $h1_font_style,
	    font-variant: $h1_font_variant,
	    font-family: $h1_font_family,
	    text-transform: $h1_text_transform,
	    letter-spacing: $h1_letter_spacing,
	    word-spacing: $h1_word_spacing,
	);

	$nq_body_cms_h1_1199_font: (
	    font-size: 32,
	);
	$nq_body_cms_h1_767_font: (
	    font-size: 28,
	);

	$nq_body_cms_h2_font: (
	    font-size: 32,
	    font-weight: $h2_font_weight,
	    line-height: $h2_line_height,
	    color: $h2_color,
	    font-style: $h2_font_style,
	    font-variant: $h2_font_variant,
	    font-family: $font_family_02,
	    text-transform: $h2_text_transform,
	    letter-spacing: $h2_letter_spacing,
	    word-spacing: $h2_word_spacing,
	);

	$nq_body_cms_h2_1199_font: (
	    font-size: 28,
	);
	$nq_body_cms_h2_767_font: (
	    font-size: 24,
	);

	$nq_body_cms_h3_font: (
	    font-size: 28,
	    font-weight: $h3_font_weight,
	    line-height: $h3_line_height,
	    color: $h3_color,
	    font-style: $h3_font_style,
	    font-variant: $h3_font_variant,
	    font-family: $h3_font_family,
	    text-transform: $h3_text_transform,
	    letter-spacing: $h3_letter_spacing,
	    word-spacing: $h3_word_spacing,
	);

	$nq_body_cms_h3_1199_font: (
	    font-size: 26,
	);
	$nq_body_cms_h3_767_font: (
	    font-size: 22,
	);

	$nq_body_cms_h4_font: (
	    font-size: 24,
	    font-weight: $h4_font_weight,
	    line-height: $h4_line_height,
	    color: $h4_color,
	    font-style: $h4_font_style,
	    font-variant: $h4_font_variant,
	    font-family: $h4_font_family,
	    text-transform: $h4_text_transform,
	    letter-spacing: $h4_letter_spacing,
	    word-spacing: $h4_word_spacing,
	);

	$nq_body_cms_h4_1199_font: (
	    font-size: 24,
	);
	$nq_body_cms_h4_767_font: (
	    font-size: 22,
	);

	$nq_body_cms_h5_font: (
	    font-size: 22,
	    font-weight: $h5_font_weight,
	    line-height: $h5_line_height,
	    color: $h5_color,
	    font-style: $h5_font_style,
	    font-variant: $h5_font_variant,
	    font-family: $h5_font_family,
	    text-transform: $h5_text_transform,
	    letter-spacing: $h5_letter_spacing,
	    word-spacing: $h5_word_spacing,
	);

	$nq_body_cms_h5_1199_font: (
	    font-size: 22,
	);
	$nq_body_cms_h5_767_font: (
	    font-size: 20,
	);

	$nq_body_cms_h6_font: (
	    font-size: 20,
	    font-weight: $h6_font_weight,
	    line-height: $h6_line_height,
	    color: $h6_color,
	    font-style: $h6_font_style,
	    font-variant: $h6_font_variant,
	    font-family: $h6_font_family,
	    text-transform: $h6_text_transform,
	    letter-spacing: $h6_letter_spacing,
	    word-spacing: $h6_word_spacing,
	);

	$nq_body_cms_h6_1199_font: (
	    font-size: 18,
	);
	$nq_body_cms_h6_767_font: (
	    font-size: 16,
	);

	$nq_body_cms_ol_ul_margin: 0 0 0 20;
	$nq_body_cms_ol_ul_padding: 0;
	$nq_body_cms_li_limargin: 3 0 0 0;
	$nq_body_cms_ol_margin: 0 0 0 25;

	$nq_cms_a_font: (
		color: $primary,
	);

	$nq_cms_a_hover_font: (
		color: $secondary,
	);

	$nq_cms_img_margin:15 auto;
	$nq_cms_img_padding:15;

	$nq_cms_img_border: (1),(solid),(($tertiary,0.1) ($tertiary,0.1) ($tertiary,0.1) ($tertiary,0.1));

	$nq_body_blockquote_bg:(
		background-color: lighten($tertiary-light,45%),
	);
	$nq_body_cms_blockquote_padding: 15;
	$nq_body_cms_blockquote_margin: 15 0 15 0;
	// $nq_body_blockquote_border: (0 0 0 15),(solid),(($primary,0) ($primary,0) ($primary,0) ($primary,1));

/* CMS E */


/* Default and Responsive Table S */
	$nq_table_margin: 0;
	$nq_table_border: (1),(solid),(($black,0.05) ($black,0.05) ($black,0.05) ($black,0.05));
	
	$nq_table_th_bg:(
		background-color: $primary
	);
	$nq_table_th_font:(
		font-size: $body_font_size + 4,
		font-weight: $body_font_weight,
		line-height: 120,
		color: $white
	);

	$nq_table_th_1199_font:(
		font-size: $body_font_size + 2,
	);
	$nq_table_th_border:(1),(solid),(($white,0.08) ($white,0.08) ($white,0.08) ($white,0.08));

	$nq_table_td_font:(
		font-size: $body_font_size + 2,
		font-weight: $body_font_weight,
		line-height: 120,
		color: $black
	);

	$nq_table_td_1199_font:(
		font-size: $body_font_size,
	);
	$nq_table_td_bg:(
		background-color: lighten($primary,70%)
	);
	$nq_table_td_border:(1),(solid),(($black,0.08) ($black,0.08) ($black,0.08) ($black,0.08));

	$nq_table_td_th_padding:10;
/* Default and Responsive Table E */


/* Boxed Layout S */
	$nq_boxed_layout_bg: (
	    background-color: $primary,
	);
	$nq_boxed_layout_wrapper_bg: (
	    background-color: $white,
	);
	$nq_boxed_layout_wrapper_max_width: 1200;
/* Boxed Layout E */


/* Form S */
	$nq_form_group:0 0 15 0;
	$nq_form_label: (
		font-size: 16,
		font-weight: 400,
		line-height: $line_height,
	    color: $primary,
	    padding: 0
	);
	$nq_form_label_767:(
		font-size: 14,
	);
	$nq_form_help: (
		font-size: $body_font_size,
		font-weight: $body_font_weight,
		line-height: $line_height,
	    color: $black,
	    padding: 0 0 0 5
	);
	$nq_form_static: (
	    font-size: $body_font_size,
		font-weight: $body_font_weight,
		line-height: $line_height,
	    color: $black,
	);
	$nq_form_error: (
	    font-size: 12,
		font-weight: $body_font_weight,
		line-height: $line_height - 30,
	    padding: 8 0,
	    border-color: $required,
	    color: $required
	);
	$nq_form_input: (
	    font-size: $body_font_size + 2,
		font-weight: $body_font_weight,
		line-height: $line_height,
	    color: $black,
	    background-color: $white,
	    border-width: 1,
	    border-style: solid,
	    border-color: rgba($tertiary-light, 0.5),
	    border-radius: 2,
	    height: 35,
	    border-color-h: $primary,
	    color-placeholder: rgba($tertiary,0.5),
	    min-height: 74,
	);
	$nq_form_input_767:(
		font-size: $body_font_size,
	);
	$nq_form_checkbox: (
	    font-size: $body_font_size,
		font-weight: $body_font_weight,
		line-height: $line_height,
	    color: $black,
	    padding: 0 0 0 30,
	    margin: 0 0 3 0,
	    border-radius: 2,
	    border-width: 1,
	    border-style: solid,
	    border-color: $tertiary,
	    border-width-after: 0 2 2 0,
	    border-style-after: solid,
	    border-color-after: $primary,
	    border-width-checked: 1,
	    border-style-checked: solid,
	    border-color-checked: $primary,
	    height: 18,
	    width: 18
	);
	$nq_form_radio: (
	    font-size: $body_font_size,
		font-weight: $body_font_weight,
		line-height: $line_height,
	    color: $black,
	    padding: 0 0 0 30,
	    margin: 0 0 3 0,
	    border-radius: 100,
	    border-width: 1,
	    border-style: solid,
	    border-color: $tertiary,
	    border-width-after: 1,
	    border-style-after: solid,
	    border-color-after: $primary,
	    background-after: $primary,
	    border-width-checked: 1,
	    border-style-checked: solid,
	    border-color-checked: $primary,
	    height: 18,
	    width: 18
	);
	$nq_form_material: (
	    margin: 25 0 15 0,
	    border-width: 0 0 1 0,
	    background-color: transparent,
	    font-size: $body_font_size,
	);
/* Form E */


/* Common Title S */
	$nq_nqtitle_font: (
		font-size: $h1_font_size + 14,
		font-weight: 600,
		line-height: $line_height - 30,
		color: $primary,
		letter-spacing: 1,
		font-family: $font_family_02,
	);

	$nq_nqtitle_1440_font:(
		font-size: $h1_font_size + 4
	);

	$nq_nqtitle_991_font:(
		font-size: $h2_font_size + 2
	);
	$nq_nqtitle_767_font:(
		font-size: $h2_font_size
	);
	$nq_nqtitle_479_font:(
		font-size: $h3_font_size
	);
	$nq_nqtitle_ip_font: (
		font-size: $h2_font_size,
		font-weight: $body_font_weight,
		line-height: $line_height - 30,
		color: $primary,
	);
	$nq_nqtitle_ip_767_font:(
		font-size: $h3_font_size
	);
/* Common Title S */


/* Pagination S */
    $nq_pagination:(
        width: 35,
        height: 35,
        font-size: $body_font_size + 2,
        font-weight: $font_weight_05,
        color: $primary,
        background-color: $white,
        border-width: 1,
        border-style: solid,
        border-color: rgba($tertiary,0.2),
        padding: 0 5,
        color-h: $white,
        background-color-h: $primary,
        border-color-h: $primary,
        first-child-radius: 0,
        last-child-radius: 0,
    );
/* Pagination E */

/* nqsocia S */
	$nq_sn:(
		margin-ul:0,
		display: inline-block,
		margin-li-li: 0 0 0 5,		
		font-size: $body_font_size,
		line-height: 220,
		color: $white,
		background-color: $primary,
		text-align: center,
		height: 30,
		width: 30,
		border-radius: 2,
		background-color-h: $secondary,
		color-h: $white,
	);
/* nqsocia E */

/*Right Panel*/
$right_panel_form_title:(
	font-size: 24,
);

$right_panel_form_1366_title:(
	font-size: 22,
);

$right_panel_form_1280_title:(
	font-size: 20,
);

$right_panel_form_input:(
	background-color: transparent,
);
/*Right Panel*/