.buorg{
    position: fixed;
    text-align: center;
    display: none;
    background-color: $primary;
    padding: 8px 15px;
    z-index: 99999999;
    width: 100%;
    i{
    	color: $white;
    }
    .buorg__text{
    	font-size: 14px;
    	font-weight: 400;
    	line-height: 120%;
    	color: $white;	
    }
    a{
    	font-size: 14px;
    	font-weight: 400;
    	line-height: 120%;
    	color: lighten($primary,40%);
    	&:hover{
    		color: $white;
    	}
    }
}