/*  Material Color Generator: http://scg.ar-ch.org/ */

$primary					:#0b3b61;

$secondary					:#f2a104;

$tertiary					:#707070;
$tertiary-medium			:#686868;
$tertiary-light				:#858585;
$tertiary-lighter			:#9B9B9B;

$quaternary 				:#333333;
$quaternary-medium			:#cccccc;
$quaternary-light			:#e0e0e0;
$quaternary-lighter			:#797979;

$black						:#000000;
$white						:#ffffff;
$required					:#ff0000;
