/*  Material Color Generator: http://mcg.mbitson.com/ */

$primary					:#3763eb;
$primary-medium				:#315BE9;
$primary-light				:#557AEE;
$primary-lighter			:#7392F1;

$secondary					:#f3525a;
$secondary-medium			:#F14B52;
$secondary-light			:#F56C73;
$secondary-lighter			:#F7868C;

$tertiary					:#707070;
$tertiary-medium			:#686868;
$tertiary-light				:#858585;
$tertiary-lighter			:#9B9B9B;

$black						:#000000;
$black-medium				:#262626;
$black-light				:#4D4D4D;
$black-lighter				:#808080;

$white						:#ffffff;
$required					:#ff0000;
