/* - - - - - - - - - - - - 
* Update Date: 14 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */
	$section_08_container:container;
	$section_08_bg:(
		background-color: $white,
	);
	$section_08_alignment: center;
	$section_08_nqtitle_font:(
		text-align: center,
	);
/* Default Setting E */

$section_08_cms_margin:0 0 15 0;
$section_08_cms_alignment: center;

$section_08_imgthum:(
	imgthum:horizontal,
);

$section_08_article_margin:0;

/* Content S */
	$section_08_content_bg:(
		background-color: rgba($tertiary-lighter,0.1),
	);
	$section_08_content_padding:15;
	$section_08_content_alignment: left;

	$section_08_name_font:(
	    font-weight: 400,
	    font-size: 20
	);
	$section_08_name_margin:0 0 15 0;
	$section_08_name_a_link:(
	    color: $primary,
	    color-h: $secondary,
	);

	$section_08_content_font:(
	    font-size: 15,
	    line-height: 130
	);
	$section_08_content_margin:0;
/* Content E */

/* Icon S */
	$section_08_icon_bg:(
	    background-color: $secondary
	);
	$section_08_icon_padding:0;
	$section_08_icon_margin:0 10;
	$section_08_icon_font:(
	    font-size: 24,
	    color: $white
	);
	$section_08_icon_border_radius:2;
	$section_08_icon_alignment:center;
	$section_08_icon_width:45;
	$section_08_icon_height:45;
/* Icon E */