/* - - - - - - - - - - - - 
* Update Date: 14 11 2019
- - - - - - - - - - - - - */

@import "section_08_variables";
@import "section_08_temp_variables";

.section_08 {
    /* Default Setting S */
        position: relative;
        z-index: 1;
        @include nq_container ($section_08_container...);
        @include nq_bg($section_08_bg...);
        @include nq_align ($section_08_alignment);
        .nqtitle {
            @include nq_font ($section_08_nqtitle_font...);
        }
    /* Default Setting E */

    .thumbnail-container {
        @include nq_imgthum ($section_08_imgthum...);
    }

    .icon{
        position: absolute;
        right: 0;
        top: nq-height(-$section_08_icon_height / 2);
        width: nq-width($section_08_icon_width);
        height: nq-height($section_08_icon_height);
        @include nq_bg($section_08_icon_bg...);
        @include nq_padding($section_08_icon_padding...);
        @include nq_margin($section_08_icon_margin...);
        @include nq_font($section_08_icon_font...);
        @include nq_border_radius($section_08_icon_border_radius...);
        @include nq_align ($section_08_icon_alignment);
        line-height: nq-height($section_08_icon_height);
    }

    article{
        @include nq_margin ($section_08_article_margin...);
        .content {
            position: relative;
            @include nq_bg($section_08_content_bg...);
            @include nq_padding ($section_08_content_padding...);
            @include nq_align ($section_08_content_alignment);
            .name{
                @include nq_font ($section_08_name_font...);
                @include nq_margin ($section_08_name_margin...);
                a{
                    @include nq_link ($section_08_name_a_link...);
                }
            }
            .info{
                p{
                    @include nq_font ($section_08_content_font...);
                    @include nq_margin ($section_08_content_margin...);
                }
            }
        }
    }
}