/* - - - - - - - - - - - - 
* Update Date: 17 12 2019
- - - - - - - - - - - - - */

@import 'process_variables';
@import 'process_temp_variables';

.process-section {
    /* Default Setting S */
        position: relative;
        z-index: 1;
        margin-top: -130px;
        @include nq_bg($process_section_bg...);
        @include respond-below (sm) {
            margin-top: 0;
        }
        .container{
            @include respond-above(xl) {
                @include nq_container ($process_section_container...);
            }
        }

        
    /* Default Setting E */
    .card{
        border: none;
        @include css3-prefix('box-shadow', 0 0 12px rgba($black,0.08));
        margin-bottom: 30px;
        .card-title{
            @include nq_font ($process_card_title...);
            color: lighten($primary,40%);
            padding-left: 35px;
            position: relative;
            @media(max-width:479px){
                padding-left: 0;
            }
            .number{
                @include nq_font ($process_card_title_num...);
                margin-right: 3px;
                position: absolute;
                left: 0;
                top: -2px;
                @media(max-width:1199px){
                    top: 0;
                }
                @media(max-width:479px){
                    position: relative;
                    display: block;
                }
            }
        }
    }

    .congratulation{
        max-width:635px;
        width: 100%;
        margin:10px auto 80px;
        @include d-flex();
        @include align-items-center();
        @media(max-width: 1199px){
            margin: 10px auto 40px;
        }
        .thumb-icon{
            width: 79px;
            height: 82px;
            flex:0 0 79px;
            margin-right: 20px;
            background-image: url(../images/thumb.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .con-body{
            margin-top: 6px;
            color: lighten($primary,40%);
        }
        .cong-title{
            @include nq_font($congratulation_cong_title...);
            margin-bottom: 10px;
        }
        .short-text{
            @include nq_font($congratulation_short_text...);
        }
    }
}