/* - - - - - - - - - - - - 
* Update Date: 17 12 2019
- - - - - - - - - - - - - */

/* Default Setting S */
    $process_section_container:1440;
    $process_section_bg:(
        background-color: $white,
    );
/* Default Setting E */
$process_card_title:(
    font-size: 16,
);
$process_card_title_num:(
    font-size: 22,
    font-weight: $font_weight_07,
    color: $secondary,
);

$congratulation_cong_title:(
	font-size: 22,
	line-height: 130 
);
$congratulation_short_text:(
	font-size: 16,
	line-height: 130,
);

