/* - - - - - - - - - - - - 
* Update Date: 13 11 2019
- - - - - - - - - - - - - */

@import 'our_recent_work_variables';
@import 'our_recent_work_temp_variables';

.our-recent-work{
    padding: 60px 0 50px;
    position: relative;
    &:before{
        position: absolute;
        content: "";
        background: url(../images/build-home-bg.png);
        top: 180px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    @media(max-width: 1199px) {
        padding: 20px 0 40px;
    }
    .btn-secondary{        
        padding: 14px 36px;
        @include respond-below (sm) {
            padding: 12px 20px;
        }
    }
    .recent-work-desc{
        @media(max-width: 1199px){
            margin-top: 15px;
        }
        .item{
            @include d-flex();
            @include align-items-row();
            position: relative;            
            @media(max-width: 991px){
                display: block;
            }
        }
        .owl-dots{
            bottom: 0;
            right: 0;
            text-align: right;
            @media(max-width: 767px){
                text-align: center;
            }
        }
        .our-recent-work-image{
            @media(max-width: 767px){
                margin: 15px 0 0;
            }
            a{
                // @include css3-prefix('transition','all .3s ease-in-out');   
                .thumbnail-container{
                    padding-bottom: 66.6%;
                    img{
                        @include css3-prefix('transition','all .5s ease-in-out');   
                    }
                }
            }
        }
        .our-recent-work-detail{
            padding: 80px 25px  0 50px;
            @media(max-width: 1366px){
                padding: 80px 0 0 42px;
            }
            @media(max-width: 1280px){
                padding: 60px 0 0 42px;
            }
            @media(max-width: 1199px){
                padding:0px 0 0 10px;
            }
            @media(max-width: 991px){
                margin: 15px 0 0;
            }            
            h4,.work-name{
                @include nq_font($work_title...);
                @include css3-prefix('transition','all .3s ease-in-out');
                @media(max-width: 1199px){
                    @include nq_font($work_title_1199...);
                }
                @media(max-width: 767px){
                    @include nq_font($work_title_767...);
                }
                &:hover{
                    color: $secondary;
                }
            }
            span{
                display: block; 
                @include nq_font($work_title_span...);                       
                @media(max-width: 1199px){
                    @include nq_font($work_title_span_1199...);
                }
            }            
            .work-desc{
                margin: 35px 0 40px;
                @media(max-width: 1199px){
                    margin: 20px 0;
                }
                p{
                    @include nq_font($work_desc_para...);            
                    @media(max-width: 767px){
                        @include nq_font($work_desc_para_767...);
                    }
                }
            }
            .btn-tertiary{
                span{
                    color: $quaternary;
                }
                &:hover{
                    span{
                        color: $primary;
                    }
                }
            }
        }
    }
}