/* - - - - - - - - - - - - 
* Update Date: 13 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */
$work_title:(
	font-size: 26,
    font-family: $font_family_01,
    color: lighten($primary,40%),
);
$work_title_1199:(
	font-size: 22,
);
$work_title_767:(
	font-size: 20,
);
$work_title_span:(
	font-size: 14,
    font-family: $font_family_01,
    color: $secondary,
);
$work_title_span_1199:(
	font-size: 12,
);
$work_desc_para:(
	font-size: 16,
    font-family: $font_family_01,
    font-weight: $font_weight_01,
    color: $quaternary,
    line-height: 160,
);
$work_desc_para_767:(
	font-size: 14,
);