/* - - - - - - - - - - - - 
* Update Date: 21 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */
	$service_01_container:container;
	$service_01_bg:(
		background-color: $white,
		background-repeat: no-repeat,
		background-image: 'service-bg.svg',
		background-position: left bottom,
	);
	$service_01_alignment: center;
	$service_01_nqtitle_font:(
		text-align: center,
	);
	$service_01_nqtitle_margin:0 0 30 0;
	$service_01_nqtitle_767_margin:0 0 15 0;
/* Default Setting E */

$service_01_cms_margin:0 0 15 0;
$service_01_cms_alignment: center;

$service_01_imgthum:(
	imgthum:vertical,
);
$service_01_article_margin:0 0 30;

/* Content S */
	$service_01_content_alignment: left;

	$service_01_name_font:(
	    font-weight: 400,
	    font-size: 26,
	);
	$service_01_name_font_1199:(
		font-size: 20,	
	);
	$service_01_name_a_link:(
	    color: $white,
	    color-h: $secondary,
	);

	$service_01_content_font:(
	    font-size: 15,
	    line-height: 130
	);
	$service_01_content_margin:0;
/* Content E */

/* Nav Tab */
$service-01_nav_tabs_link:(
	font-size: 22,
    font-family: $font_family_01,
);
/* Nav Tab */

/*pagination*/
$service_01_pagination_align:center;
$service_01_pagination_media_align:center;

$service_01_gap_margin:30 0 0 0;