/* - - - - - - - - - - - - 
* Update Date: 21 11 2019
- - - - - - - - - - - - - */

@import "service_01_variables";
@import "service_01_temp_variables";

.service_listing {
    /* Default Setting S */
        position: relative;
        z-index: 1;
        @include nq_container ($service_01_container...);
        @include nq_bg($service_01_bg...);
        @include nq_align ($service_01_alignment);
        .nqtitle {
            @include nq_font ($service_01_nqtitle_font...);
            @include nq_margin ($service_01_nqtitle_margin...);
            @media (max-width: 767px){
                @include nq_margin ($service_01_nqtitle_767_margin...);
            }
        }
        @media(max-width: 767px){
            padding: 40px 0 20px;
        }
    /* Default Setting E */

    .thumbnail-container {
        @include nq_imgthum ($service_01_imgthum...);
        background-color: lighten($black,95%);
        .thumbnail{
            &:before{
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                background: linear-gradient(to top, rgba($black,0.45) 0%,rgba($black,0) 100%);
                @include css3-prefix ('transition', 'all 0.3s ease-in-out');
            }
        }
    }

    .tab-content{
        margin: 10px 0 0;
        text-align: left;
        @include respond-below (lg) {
            margin: 25px 0 0;
        }
        .tab-pane{
            display: block;
            opacity: 0;
            visibility: hidden;
            height:0;
            overflow: hidden;
            @include css3-prefix ('transition', 'all 0.8s ease-in-out');
            &.active{
                opacity: 1;
                visibility: visible;
                height: auto;
                overflow: visible;
            }
            .center{
                @media(min-width: 568px){
                    @include align-items-center();
                    @include justify-center();
                }
            }
        }
    }
    .nav-tabs{
        @include justify-center();
        @include align-items-center();
        @include flex-wrap();        
        border:0;
        border-bottom: 1px solid lighten($black,50%);
        text-align: center;
        margin-left: 0;
        @media(max-width: 767px){
            width: 450px;
            margin:0 auto !important;
        }
        @media(max-width: 479px){
            width: 100%;
        }
        .nav-item{
            padding: 0 20px 10px;
            margin: 0;
            @media(max-width: 767px){
                padding: 0 10px 10px;
            }
            @media(max-width: 479px){
                display: inline-block;
                float: left;
                padding: 0 5px 10px;
            }
            .nav-link{                    
                @include nq_font ($service-01_nav_tabs_link...);   
                color: darken($tertiary,5%);             
                text-transform: capitalize;
                padding: 0;
                border:0;
                border-radius: 0;
                @media(max-width: 767px){
                    font-size: 20px;
                }
                @media(max-width: 767px){
                    font-size: 16px;
                }
                &.active{
                    border:0;
                    color: lighten($primary,40%);
                    font-weight: $font_weight_06;
                    position: relative;
                    &:before{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 5px;
                        background: lighten($primary,40%);
                        bottom: -13px;
                    }
                }
            }
            + .nav-item{
                margin:0 0 0 40px;
                @media(max-width: 1199px){
                    margin:0 0 0 30px;                        
                }
                @media(max-width: 767px){
                    margin: 0 0 0 20px;
                }
                @media(max-width: 479px){
                    margin: 0 0 0 10px;
                }
            }
        }
    }

    article{
        position: relative;
        @include nq_margin ($service_01_article_margin...);
        @media(max-width:1199px){
            margin-bottom:0;
        }
        .content {
            position: absolute;
            width: 100%;
            bottom: 20px;
            left: 0;
            z-index: 1;
            padding: 0 15px;
            @include nq_align ($service_01_content_alignment);
            .name{
                @include nq_font ($service_01_name_font...);
                position: relative;
                padding-bottom: 10px;
                @media(max-width:1199px){
                    @include nq_font ($service_01_name_font_1199...);                    
                }
                &:before{
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0px;
                    width: 40px;
                    height: 2px;
                    background: $secondary;
                }
                a{
                    @include nq_link ($service_01_name_a_link...);
                }
            }
            .info{
                p{
                    @include nq_font ($service_01_content_font...);
                    @include nq_margin ($service_01_content_margin...);
                }
            }
        }
    }
    .pagination {
        @include nq_align ($service_01_pagination_align);
        @media (max-width: 992px){
            @include nq_align ($service_01_pagination_media_align);
        }
    }

}