$process_card_title:(
    font-size: 24,
    color: lighten($primary,40%),
);
$process_card_767_title:(
    font-size: 20,
);

$process_step_number_font:(
    font-size: 16,
    font-weight: 500,
    color: $white,
);
$process_step_number_767_font:(
    font-size: 14,
);
$process_step_number_span_font:(
    font-size: 30,
    font-weight: 600,
    color: $secondary,
);
$process_step_number_span_767_font:(
    font-size: 26,
);
$process_text_para_font:(
    font-size: 16,
);
$process_text_para__767_font:(
    font-size: 14,
);