    
/* - - - - - - - - - - - - 
* Update Date: 17 12 2019
- - - - - - - - - - - - - */

@import 'process_listing_variables';
@import 'process_listing_temp_variables';

.process_listing{
    padding: 70px 0;
    @media(max-width: 1199px){
        padding: 40px 0;
    }
    @media(max-width: 479px){
        padding: 15px 0;
    }
    .process-detail{
        .process-step{
            width: 50%;
            float: left;
            clear: both;
            position: relative;            
            padding: 30px 80px 30px 30px;
            background:lighten($quaternary-light,10%);
            border:1px solid $quaternary-light;
            @media(max-width: 1281px){
                padding: 20px 60px 20px 20px;
            }
            @media(max-width: 1199px){
                padding: 20px 50px 20px 20px;
            }
            @media(max-width: 767px){
                width: 100%;
                float: none;
                padding: 15px;
                margin: 0 0 20px;
            }
            &:before{
                position: absolute;
                content: "";
                right: -4px;
                top: 4px;
                bottom: 0;
                width: 1px;
                height: 100%;
                border-right:8px dotted lighten($quaternary-medium,10%);
                @media(max-width: 767px){
                    right: auto;
                    left: 30px;
                    content: none;
                    display: none;
                }
            }
            &:nth-child(2n){
                float: right;
                padding: 30px 30px 30px 80px;
                left: 0;
                @media(max-width: 1281px){
                    padding: 20px 20px 20px 60px;
                }
                @media(max-width: 1199px){
                    padding: 20px 20px 20px 50px;
                }
                @media(max-width: 767px){
                    padding: 15px;
                }
                &:before{
                    right: auto;
                    left: -4px;
                }
                &:after{
                    right: 15px;
                    left: auto;
                    @media(max-width: 767px){
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
                .step-number{
                    right:auto;
                    left: -35px;
                    @media(max-width: 767px){
                        margin: -15px 10px 0 -15px;
                    }
                    &:before{
                        left: auto;
                        right: -24px;
                        transform: rotate(90deg);
                        @media(max-width: 767px){
                            display: none;
                            content: none;
                        }
                    }
                }
            }
            &:last-child{
                margin: 0;
            }
            .step-number{
                position: absolute;
                right: -35px;
                top: -1px;
                width: 70px;
                height: 70px;
                text-transform: uppercase;
                text-align: center;                
                padding: 13px;
                background: $primary;
                @include nq_font($process_step_number_font...);
                @include css3-prefix('box-shadow', 0 0 12px rgba($black,0.08));
                &:before{
                    position: absolute;
                    content: "";
                    left: -24px;
                    top: calc(50% - 12px);
                    border-top: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom: 12px solid $primary;
                    border-left: 12px solid transparent;
                    z-index: 0;
                    transform: rotate(-90deg);
                    @media(max-width: 767px){
                        display: none;
                        content: none;
                    }
                }
                @media(max-width: 767px){
                    position: static;
                    right: auto;
                    left: 0;
                    width: 60px;
                    height: 60px;
                    float: left;
                    margin: -15px 10px 0 -15px;                    
                    padding: 10px;
                    @include nq_font($process_step_number_767_font...);
                }
                span{
                    display: block;      
                    @include nq_font($process_step_number_span_font...);           
                    @media(max-width: 767px){                        
                        @include nq_font($process_step_number_span_767_font...);                 
                    }
                }
            }
            .card-title{
                position: relative;
                @include nq_font ($process_card_title...);                
                line-height: 100%;
                margin:0 0 10px;
                @media(max-width: 767px){
                    line-height: 100%;
                    @include nq_font ($process_card_767_title...);
                }
            }
            .short_text{
                p{
                    @include nq_font ($process_text_para_font...);
                    @media(max-width: 1199px){
                        text-align: justify;
                    }
                    @media(max-width: 767px){
                        @include nq_font ($process_text_para__767_font...);
                    }
                    + p{
                        @media(max-width: 767px){
                            margin: 7px 0 0;
                        }
                    }
                }
            }
        }
    }
}