/* - - - - - - - - - - - - 
* Update Date: 13 11 2019
- - - - - - - - - - - - - */

@import 'testimonial_variables';
@import 'testimonial_temp_variables';

.testimonial-section{
    padding: 80px 0 40px;
    @include respond-below(lg) {
        padding: 30px 0;
    }
    @include respond-below(md) {
        padding: 20px 0 15px;
    }
    .container{
        width: 100%;
        @media(min-width: 1400px){
            max-width: 1310px;
        }   
    }
    .single-testimonial{
        @include d-flex();
        position: relative;
        &:before{
            position: absolute;
            content: "";
            background: lighten($tertiary-light,45%);
            top: 30px;
            bottom: -30px;
            right: 0;
            left: 115px;
            @media(max-width: 767px){
                top: 0;
                bottom: -20px;
            }
            @media(max-width: 479px){
                left: 0;
                top: 100px;
            }
        }
        .item{
            @include align-items-row();
            @media(max-width: 991px){
                @include align-items-center();
                @include justify-center();
            }
            @media(max-width: 568px){
                display: block;
            }
        }
        .testi-img{
            width: 100%;
            flex: 0 0 30.6%;
            position: relative;
            @media(max-width: 767px){
                flex: 0 0 40%;
            }
            .thumbnail-container{
                padding-bottom: 66.6%;
                .overlay{
                    position: absolute;
                    top: calc(50% - 30px);
                    left: calc(50% - 27px);
                    text-align: center;
                    @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                    opacity: 0;
                    @media(max-width: 1199px){
                        top: calc(50% - 20px);
                        left: calc(50% - 20px);
                        opacity: 1;
                    }
                    i{
                        color: $white;
                        font-size: 60px;
                        opacity: 0.6;
                        line-height: 100%;
                        @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                        @media(max-width: 1199px){
                            font-size: 35px;
                        }
                        &:hover{
                            @media(min-width: 1199px){
                                color: $secondary;
                            }
                        }
                    }
                }
                &:hover{
                    @media(min-width: 1199px){
                        .overlay{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .testi-desc{
            padding: 50px 30px 0 30px;
            position: relative; 
            flex: 0 0 69.4%;
            @media(max-width: 1199px){
                padding: 40px 20px 0 20px;
            }
            @media(max-width: 767px){
                flex: 0 0 60%;
                padding: 15px 15px 0 15px;
            }
            i{
                color: $quaternary-light;
                opacity: 0.25;
                position: absolute;
                font-size: 240px;
                top: 50px;
                left: 0;
                right: 0;
                text-align: center;  
                @media(max-width: 767px){
                    font-size: 180px;
                }              
            }           
            .test-title{
                @include nq_font ($testimonial_title_font...);
                margin-bottom: 10px;
                @media(max-width: 1199px){
                    @include nq_font ($testimonial_title_1199_font...);
                }
                @media(max-width: 767px){
                    @include nq_font ($testimonial_title_767_font...);
                }
            }
            .testi-border{
                border-bottom: 1px solid $secondary;
                position: relative;
                padding-bottom: 20px;
                &:after{
                    position: absolute;
                    content: "";
                    background-color: transparent;
                    height: 21px;
                    width: 21px;
                    border-left: 1px solid $secondary;
                    border-bottom: 1px solid $secondary;
                    left: 40px;
                    bottom: -11px;                    
                    @include css3-prefix('transform','rotate(-45deg)') ;
                    background: lighten($tertiary-light,45%);
                    @media(max-width: 479px){
                        
                    }
                }
                p{
                    @include nq_font ($testimonial_desc_font...);
                    position: relative;                    
                    @media(max-width: 1199px){
                        @include nq_font ($testimonial_desc_1199_font...);                        
                    }
                    @media(max-width: 767px){
                        @include nq_font ($testimonial_desc_767_font...);
                    }
                    // span{
                    //     position: absolute;
                    //     &.left{
                    //         background: $secondary;
                    //         bottom: 0;
                    //         height: 1px;
                    //         width: 30px;
                    //         left: 0;
                    //     }
                    //     &.center{
                    //         background-color: transparent;
                    //         border-color: transparent $secondary $secondary transparent;
                    //         border-style: solid;
                    //         border-width: 1px;
                    //         bottom: -10px;                        
                    //         height: 21px;
                    //         left: 44px;                        
                    //         @include css3-prefix ('transform', 'translateX(-50%) rotate(45deg)');
                    //         width: 21px;
                    //     }
                    //     &.right{
                    //         background: $secondary;
                    //         bottom: 0;
                    //         height: 1px;
                    //         width: calc(100% - 58px);
                    //         right: 0;
                    //     }
                    // }                       
                }
                
            }
            .testi-writer{
                margin: 45px 0 0;
                @include nq_font ($testimonial_writer_font...);
                @media(max-width: 1199px){
                    margin: 25px 0 0;
                }
                @media(max-width: 767px){
                    @include nq_font ($testimonial_writer_767_font...);
                }
            }
        }
        .owl-dots{
            position: absolute;
            bottom: 14px;
            right: 30px;
            @media(max-width: 767px){
                bottom: 4px;
            }
            .owl-dot{
                @include css3-prefix ('border', 'none');
                padding: 2px !important;
                margin: 0 3px;
                @include css3-prefix ('transition','all 0.3s ease-in-out');
                span{
                    width: 6px;
                    height: 6px;
                    margin: 0;
                    background: lighten($primary,40%);
                    @include css3-prefix ('transition','all 0.3s ease-in-out');
                    position: relative;
                    &:before{
                        position: absolute;
                        content: "";
                        border:1px solid lighten($primary,40%);
                        width: 12px;
                        height: 12px;
                        top: -3px;
                        left: -3px;
                        @include css3-prefix ('border-radius', '100px');
                        @include css3-prefix ('transition','all 0.3s ease-in-out');
                        opacity: 0;
                    }
                }
                &.active{
                    span{
                        background: lighten($primary,40%);
                        &:before{
                            opacity: 1;
                        }
                    }
                }
                &:hover{                    
                    span{
                        background: lighten($primary,40%);
                        &:before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .testimonial-btn{
        display: inline-block;
        margin: 75px 0 0;
        padding: 14px 26px;
        @include css3-prefix ('transition', 'all 0.3s ease-in-out');
        @include respond-below(md) {
            margin: 45px 0 0;
        }
    }
    @supports (-ms-ime-align:auto) {
        &.aos-init{
            opacity: 1;
        }
    }   
}