/* - - - - - - - - - - - - 
* Update Date: 13 11 2019
- - - - - - - - - - - - - */


$testimonial_title_font:(
	font-size: 26,
	font-family: $font_family_01,
	color: lighten($primary,40%),
);

$testimonial_title_1199_font:(
	font-size: 24,
);

$testimonial_title_767_font:(
	font-size: 22,
);

$testimonial_desc_font:(
	font-size: 16,
	font-family: $font_family_01,
	font-weight: $font_weight_05,
	color: $quaternary,
	letter-spacing: 0.6,
);

$testimonial_desc_1199_font:(
	font-size: 15,
);

$testimonial_desc_767_font:(
	font-size: 14,
);

$testimonial_writer_font:(
	font-size: 18,
	font-family: $font_family_01,
	font-weight: $font_weight_06,
	color: $quaternary,
);

$testimonial_writer_767_font:(
	font-size: 16,
);