/* - - - - - - - - - - - - 
* Update Date: 11 12 2019
- - - - - - - - - - - - - */

@import 'request_quote_listing_variables';
@import 'request_quote_temp_variables';

.request_quote{
    position: relative;
    padding: 70px 0;
    @media(max-width: 1199px){
        padding: 40px 0 20px;
    }
    @media(max-width: 767px){
        padding: 20px 0 20px;
    }
        &:before{
            position: absolute;
            content: "";
            background-image: url(../images/service-bg.svg);
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 70%;
            right: -44%;
            bottom: 5%;            
        }
    .container{
        max-width: 700px;
    }
    .request-form{
        background: rgba(lighten($primary,40%),0.2);
        box-shadow: 0 0 12px rgba(0,0,0,.08);
        border:1px solid rgba(0,0,0,0.08);
        padding: 30px;
        .form-group{
            textarea{
                &.form-control{
                    height: 120px;
                    @media(max-width: 479px){
                        height: 70px;
                    }
                }
            }
            .form-control{
                background: transparent;
            }
            .bootstrap-select{
                .dropdown-toggle{
                    // border-bottom: 1px solid #9b9b9b !important;
                    // padding: 0 0 10px 0;
                    // .filter-option{
                    //     .filter-option-inner-inner{
                    //         color: $primary;
                    //         line-height: 120%;
                    //     }
                    // }
                }
                // &:hover{
                //     .dropdown-toggle{
                //         border-bottom: 1px solid lighten($primary,40%) !important;
                //     }
                // }
            }
        }
        .form-btn{
            .form-group{
                margin: 40px 0 0;
                @media(max-width: 479px){
                    margin: 10px 0 0;
                }
            }
        }
    }
    .request-title{
        text-align: center;
        h2{
            margin: 0 0 20px;
            @media(max-width: 767px){
                margin: 0 0 10px;
            }
        }
    }
}