/* - - - - - - - - - - - - 
* Update Date: 19 11 2019
- - - - - - - - - - - - - */

@import 'thankyou_01_variables';
@import 'thankyou_01_temp_variables';

.thankyou_01 {
    /* Default Setting S */
        position: relative;
        z-index: 1;
        background-image: url('#{$nq_image}build-home-bg.png');
        @include nq_padding($thankyou_01_padding...);
        @include nq_margin($thankyou_01_margin...);
        @include respond-below(md_lg){
            @include nq_padding($thankyou_01_md_lg_padding...);
        }
        @include respond-below(lg){
            @include nq_margin($thankyou_01_lg_margin...);
        }
        @include respond-below(sm){
            @include nq_padding($thankyou_01_sm_padding...);
        }
        @include respond-below(xs){
            @include nq_padding($thankyou_01_xs_padding...);
        }
        @include respond-below(xss){
            @include nq_padding($thankyou_01_xss_padding...);
        }
        @include nq_container ($thankyou_01_container...);
        @include nq_bg($thankyou_01_bg...);
        @include nq_align ($thankyou_01_align);
        .btn {
            @include nq_btn ($thankyou_01_btn...);
        }
    /* Default Setting E */
    
    .icon{
        height: 170px;
        width: 170px;
        margin: auto;
        @include css3-prefix('border-radius', '50%');
        @include d-flex();
        @include justify-center();
        @include align-items-center();
        @include nq_bg($thankyou_01_icon_bg...);
        @include nq_font($thankyou_01_icon_font...);
        @include respond-below(md){
            @include nq_font($thankyou_01_icon_md_font...);
            height: 140px;
            width: 140px;
        }
        @include respond-below(sm){
            @include nq_font($thankyou_01_icon_sm_font...);
            height: 120px;
            width: 120px;
        }
        @include respond-below(xss){
            @include nq_font($thankyou_01_icon_xss_font...);
        }
    }
    .title{
        @include nq_font ($thankyou_01_title_font...);
        @include respond-below(md){
            @include nq_font($thankyou_01_title_md_font...);
        }
        @include respond-below(sm){
            @include nq_font($thankyou_01_title_sm_font...);
        }
        @include respond-below(xs){
            @include nq_font($thankyou_01_title_xs_font...);
        }
    }
    .desc{
        @include nq_font ($thankyou_01_desc_font...);    
        @include respond-below(xs){
            @include nq_font($thankyou_01_desc_xs_font...);
        }
        @include respond-below(xss){
            @include nq_font($thankyou_01_desc_xss_font...);
        }     
    }
    .great_day{
        @include nq_font ($thankyou_01_great_day_font...);
        @include respond-below(sm){
            @include nq_font($thankyou_01_great_day_sm_font...);
        }
        @include respond-below(xs){
            @include nq_font($thankyou_01_great_day_xs_font...);
        }
        @include respond-below(xss){
            @include nq_font($thankyou_01_great_day_xss_font...);
        }
    }
}
