/* - - - - - - - - - - - - 
* Update Date: 12 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */
	$thankyou_01_container:container;
	$thankyou_01_bg:(
		background-color: lighten($primary, 40%),
	);
	$thankyou_01_align: null;
	$thankyou_01_btn:();
    $thankyou_01_margin: 113 0 0 0;
    $thankyou_01_lg_margin: 0 0 0 0;
    $thankyou_01_padding: 70 0 80 0;
    $thankyou_01_md_lg_padding: 50 0 60 0;
    $thankyou_01_sm_padding: 40 0 50 0;
    $thankyou_01_xs_padding: 30 0 40 0;
    $thankyou_01_xss_padding: 20 0 30 0;
/* Default Setting E */

$thankyou_01_icon_font:(
    font-size: 110,
    font-weight: 200,
    line-height: 100,
    color: $secondary,
);
$thankyou_01_icon_bg:(
    background-color: $primary,
);
$thankyou_01_icon_md_font:(
    font-size: 80,
);
$thankyou_01_icon_sm_font:(
    font-size: 80,
);
$thankyou_01_icon_xss_font:(
    font-size: 60,
);
$thankyou_01_title_font:(
    font-size: 60,
    font-weight: 400,
    line-height: 110,
    color: $black,
    text-transform: uppercase,
);
$thankyou_01_title_md_font:(
    font-size: 48,
);
$thankyou_01_title_sm_font:(
    font-size: 38,
);
$thankyou_01_title_xs_font:(
    font-size: 28,
);
$thankyou_01_desc_font:(
    font-size: 20,
    font-weight: 300,
    line-height: 150,
    color: lighten($primary, 40%),
);
$thankyou_01_desc_xs_font:(
    font-size: 18,
);
$thankyou_01_desc_xss_font:(
    font-size: 16,
);
$thankyou_01_great_day_font:(
    font-size: 32,
    font-weight: 300,
    line-height: 100,
   color: $black,
);
$thankyou_01_great_day_sm_font:(
    font-size: 28,
);
$thankyou_01_great_day_xs_font:(
    font-size: 24,
);
$thankyou_01_great_day_xss_font:(
    font-size: 20,
);