/* - - - - - - - - - - - - 
* Update Date: 13 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */
	$our-service-section_container:1310;
/* Default Setting E */

$nq_our-service-tabbing_link: (
	font-size: 22,
    font-family: $font_family_01,        
);
$nq_our-service-tabbing_1199_link:(
	font-size: 20,
);
$nq_our-service-tabbing_767_link:(
	font-size: 16,
);


$services_title_font:(
	font-size: 26,
    font-family: $font_family_01,
    color: $white,
);
$services_title_1199_font:(
	font-size: 22,
);
$services_title_767_font:(
	font-size: 18,
);