/* - - - - - - - - - - - - 
* Update Date: 13 11 2019
- - - - - - - - - - - - - */

@import 'our-service_variables';
@import 'our-service_temp_variables';

.our-service-section{
    /* Default Setting S */
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 40px 0 200px;
        &:before{
            position: absolute;
            content: "";
            background-image: url(../images/service-bg.svg);
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 70%;
            right: -44%;
            bottom: 0;
            opacity: 1;
            @include respond-below (sm) {
                display: none;
                content: "";
            }
        }
        @media(max-width: 767px){
            padding: 0 0 40px;
        }
        .container{
            width: 100%;
            @media(min-width: 1400px){
                max-width: 1310px;
            }

        }
        
    /* Default Setting E */

    .our-service-tabbing{
        ul{
            width: 570px;      
            margin: 0 auto;
            @include justify-center();
            @include align-items-center();            
            border:0;
            border-bottom: 1px solid $tertiary-medium;
            text-align: center;
            @media(max-width: 767px){
                width: 450px;
            }
            @media(max-width: 479px){
                width: 100%;
            }
            li{
                padding: 0 20px 10px;
                margin: 0;
                @media(max-width: 767px){
                    padding: 0 10px 10px;
                }
                @media(max-width: 479px){
                    display: inline-block;
                    float: left;
                    padding: 0 5px 10px;
                }
                a{                    
                    @include nq_font ($nq_our-service-tabbing_link...);   
                    color: darken($tertiary,5%);             
                    text-transform: capitalize;
                    padding: 0;
                    border:0;
                    border-radius: 0;
                    @media(max-width: 1199px){                        
                        @include nq_font ($nq_our-service-tabbing_1199_link...); 
                    }
                    @media(max-width: 767px){                        
                        @include nq_font ($nq_our-service-tabbing_767_link...); 
                    }
                    &.active{
                        border:0;
                        color: lighten($primary,40%);
                        font-weight: $font_weight_06;
                        position: relative;
                        &:before{
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 5px;
                            background: lighten($primary,40%);
                            bottom: -13px;
                        }
                    }
                }
                + li{
                    margin:0 0 0 40px;
                    @media(max-width: 1199px){
                        margin:0 0 0 30px;                        
                    }
                    @media(max-width: 767px){
                        margin: 0 0 0 20px;
                    }
                    @media(max-width: 479px){
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
        .tab-content{
            margin: 45px 0 0;
            text-align: left;
            @include respond-below (lg) {
                margin: 25px 0 0;
            }
            .tab-pane{
                display: block;
                opacity: 0;
                visibility: hidden;
                height:0;
                overflow: hidden;
                @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                &.active{
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    overflow: visible;
                }
                .item{
                    position: relative;
                    .thumbnail-container{
                        border-radius: 0;
                        padding-bottom: 150%;
                        @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                            &:before{
                                position: absolute;
                                content: "";
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                z-index: 1;
                                background: linear-gradient(to top, rgba($black,0.45) 0%,rgba($black,0) 100%);
                            }

                            .thumbnail{
                                img{
                                    @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                                }
                            }
                            &:hover{
                                @media(min-width: 1199px){
                                    .thumbnail{
                                        img{
                                            @include css3-prefix ('transform', 'scale(1.1)');
                                        }
                                    }
                                    .services-title{
                                        color: $secondary;
                                    }
                                }
                            }
                        .services-title{
                            position: absolute;
                            bottom: 50px;
                            left: 30px;                            
                            max-width: 146px;
                            line-height: 120%;
                            text-align: left;
                            z-index: 2;
                            @include d-flex()
                            @include flex-wrap()
                            // flex-wrap: wrap;
                            @include nq_font($services_title_font...);
                            @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                            @media(max-width: 1199px){                                
                                @include nq_font($services_title_1199_font...);
                                left: 20px;
                            }
                            @media(max-width: 767px){
                                @include nq_font($services_title_767_font...);                                
                                left: 15px;
                                bottom: 40px;
                            }
                            &:before{
                                position: absolute;
                                content: "";
                                left: 0;
                                bottom: -10px;
                                width: 40px;
                                height: 2px;
                                background: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
    .owl-dots{
        margin: 10px 0 0;
    }
}