/* - - - - - - - - - - - - 
* Update Date: 18 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */


/* Default Setting E */
$contact_01_nqtitle_font:(
	font-size: 30,
);
$contact_01_nqtitle_font_1199:(
	font-size: 22,
);
$contact_01_des_link:(
    color: $white,    
    color-h: $secondary,
);
$contact_01_des_link_font:(
	font-size: $body_font_size + 2,
);
$contact_01_des_font_icon:(
	font-size: $h2_font_size + 2,
);
$contact_01_des_font_icon_767:(
	font-size: $h2_font_size,
);
$contact_01_des_font:(
    font-size: $body_font_size + 2,
    font-weight: $body_font_weight,
    line-height: $line_height,
    color: $tertiary,
);
$contact_01_des_font_767:(
	font-size: $body_font_size,
);
$contact_01_info_margin:25 0 0 0;


$contact_01_des_font_social_icon:(    
    font-size: $h4_font_size,
    font-weight: $font_weight_05,
    color: $secondary,
);
$contact_01_des_font_social_icon_1199:(    
    font-size: $body_font_size + 2,
);

$contact_01_title_font:(
    font-size: $h4_font_size,
    font-weight: $body_font_weight,
    line-height: $h4_line_height,
    color: $primary,
);

$contact_01_des_margin:5 0 0 0;

$contact_01_title_social_font:(
	font-size: 24,
);
$contact_01_title_social_font_767:(
	font-size: 20,
);
$contact_01_social_font_marker:(
    font-size: 26,
);
$contact_01_social_font_marker_767:(
    font-size: 24,
);
$contact_01_social_font_email:(
    font-size: 22,
);
$contact_01_social_font_email_767:(
    font-size: 18,
);