/* - - - - - - - - - - - - 
* Update Date: 18 11 2019
- - - - - - - - - - - - - */

@import 'contact_01_variables';
@import 'contact_01_temp_variables';


.contact_01 {
    /* Default Setting S */
        position: relative;
        z-index: 1;
        padding: 120px 0;
        &:before{
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            width: 200px;
            right: 0;
            height: 100%;            
            @include css3-prefix('background','linear-gradient(to bottom,rgba(252, 181, 45, 1) 0,rgba(252, 181, 45, 0.7) 60%,rgba(0,0,0,0) 100%)');
            @media(max-width: 767px){
                display: none;
                content: none;
            }
        }
        @media(max-width: 1199px){
            padding:60px 0 30px;
        }
        @media(max-width: 767px){
            padding: 30px 0 20px;
        }
        .container{
            @media(min-width: 1366px){                
                max-width: 1260px;
            }
            @media(min-width: 1441px){                
                max-width: 1310px;
            }
        }
    /* Default Setting E */
    .contact-form{
        background: lighten($tertiary-light,45%);
        border:1px solid lighten($tertiary,40%);
        padding: 25px; 
        @media(max-width: 1199px){
            padding: 20px;
        }  
        @media(max-width: 991px){
            margin-left: -9px;
        }
        @media(max-width: 767px){            
            @include css3-prefix("order","2");
            padding: 15px;
            margin: 0;
        }
        form{
            .form-group{
                .nq-label{
                    @include css3-prefix("transition","all .3s ease-in-out");
                }
                .form-control{
                    background-color: transparent;
                    &.nq-textarea{
                        height: 50px;
                    }
                }
                &.captcha{
                    @media(max-width: 479px){
                        text-align: center;
                    }
                    .g-recaptcha{
                        display: table;
                        margin: 0 auto;
                    }
                }                
            }
            .form-btn{
                .form-group{
                    margin:40px 0 0;
                    @media(max-width: 991px){
                        margin: 10px 0 0;
                    }
                    @media(max-width: 767px){
                        margin: 40px 0 0;
                    }
                    @media(max-width: 479px){
                        margin: 10px 0 0;
                    }
                    .btn-primary{
                        @media(max-width: 767px){
                            padding: 11px 40px;
                        }
                    }
                }       
            }
        }
    }
    .contact-information{
        background: $primary;
        padding: 25px;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            background: $primary;
            top: 0;
            bottom: 0;
            right: -100%;
            height: 100%;
            left: 99%;
            @media(max-width: 767px){
                content: none;
                display: none;
            }
        }
        @media(max-width: 1199px){
            padding: 20px;
        }
        @media(max-width: 767px){            
            @include css3-prefix("order","1");
            padding: 15px;
        }
        .nqtitle{
            color: $white;
            border-bottom: 1px solid $white;
            margin: 0 0 20px;
            @include nq_font ($contact_01_nqtitle_font...);
            @media(max-width: 1199px){
                @include nq_font ($contact_01_nqtitle_font_1199...);
            }
        }
        .info{
            position: relative;
            .title{
                @include nq_font ($contact_01_title_font...);
            }
            .icon{
                position: absolute;
                top: 0;
                left: 2px;
                color: $white;
                @include nq_font ($contact_01_des_font_icon...);
                @media(max-width: 767px){
                    @include nq_font ($contact_01_des_font_icon_767...);
                    left: 4px;
                }
                &.fa-map-marker{
                    @include nq_font ($contact_01_social_font_marker...);                    
                    @media(max-width: 767px){
                        @include nq_font ($contact_01_social_font_marker_767...);                        
                    }
                }
                &.icon-email{
                    @include nq_font ($contact_01_social_font_email...);  
                    @media(max-width: 767px){
                        @include nq_font ($contact_01_social_font_email_767...);                          
                    }
                }
            }
            .des{
                @include nq_font ($contact_01_des_font...);
                @include nq_margin ($contact_01_des_margin...);
                color: $white;
                padding: 0 0 0 30px;
                @media(max-width: 767px){
                    @include nq_font ($contact_01_des_font_767...);
                }
                a{
                    @include nq_link ($contact_01_des_link...);
                    @include nq_font ($contact_01_des_link_font...);
                    @media(max-width: 767px){
                        @include nq_font ($contact_01_des_font_767...);
                    }
                }
            }            
            + .info {
                @include nq_margin ($contact_01_info_margin...);
            }
            &.contact-social{
                margin:30px 0 0;
                padding: 15px 0 0;
                border-top: 1px solid lighten($quaternary-light,5%);
                @media(max-width: 767px){
                    margin: 20px 0 0;
                    padding: 10px 0 0;
                }
                .title{
                    color: $white;
                    margin: 0 0 15px;
                    @include nq_font ($contact_01_title_social_font...);
                    @media(max-width: 767px){
                        @include nq_font ($contact_01_title_social_font_767...);
                        margin: 0 0 8px;
                    }
                }
                .des{
                    padding: 0;
                    .nqsocia{
                        li{
                            a{
                                height: 40px;
                                width: 40px;
                                border: 1px solid lighten($primary,40%);
                                @include css3-prefix("border-radius","100%");
                                @media(max-width: 1199px){
                                    height: 30px;
                                    width: 30px;
                                }
                                i{
                                    @include nq_font ($contact_01_des_font_social_icon...);
                                    line-height: 40px;
                                    @include d-flex()
                                    @include align-items-center()
                                    @include justify-center()
                                    border-radius: 50%;
                                    @include css3-prefix("transition","all .3s ease-in-out");
                                    @media(max-width: 1199px){
                                        line-height: 30px;
                                        @include nq_font ($contact_01_des_font_social_icon_1199...);
                                    }
                                }
                                &:hover{
                                    background-color: lighten($primary,40%) !important;
                                    i{
                                      color: $white;  
                                    }
                                }
                            }
                            + li{
                                margin: 0 0 0 15px;
                                @media(max-width: 1199px){
                                    margin: 0 0 0 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .map{
        position: relative;
        margin: 60px 0 0;
        iframe{
            width: 100%;
            height: 500px;
            display: block;
            border:0;
            @media(max-width: 1199px){
                height: 300px;
            }
        }
    }
}