@mixin css3-prefix-last($property, $value) {
    #{$property}: -webkit-#{$value};
    #{$property}: -khtml-#{$value};
    #{$property}: -moz-#{$value};
    #{$property}: -ms-#{$value};
    #{$property}: -o-#{$value};
    #{$property}: #{$value};
}

@mixin placeholder () {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
}

@mixin nq_hover () {
    @media (min-width: 1024px) {
        &:hover{
        	@content;
        }
    }
}

@mixin nq_ulli (
	$margin-ul: null,
	$padding-ul: null,
	$margin-li: null,
	$padding-li: null,
	$display: null,
	$margin-li-li: null,
	$padding-li-li: null,
	){
	@if $margin-ul != null {
		@include nq_margin ($margin-ul...);
	} @else {
		margin: 0;
	}
	@if $padding-ul != null {
		@include nq_padding ($padding-ul...);
	} @else {
		padding: 0;
	}
	list-style: none;
	li {
		@if $margin-li != null {
			@include nq_margin ($margin-li...);
		} @else {
			margin: 0;
		}
		@if $padding-li != null {
			@include nq_padding ($padding-li...);
		} @else {
			padding: 0;
		}
		display: nq-display($display);
		+ li {
			@include nq_margin ($margin-li-li...);
			@include nq_padding ($padding-li-li...);
		}
		&:last-child{
			margin-right: 0;
		}
	}
}


@import "css3mixins";
@import "nq_alignment";
@import "nq_background";
@import "nq_border";
@import "nq_border_radius";
@import "nq_button";
@import "nq_contact";
@import "nq_container";
@import "nq_font";
@import "nq_imgthum";
@import "nq_margin";
@import "nq_modal";
@import "nq_padding";
@import "nq_pagination";
@import "nq_breadcrumb";
@import "nq_social";
@import "nq_links";

//@import "nq_header";
//@import "nq_img_effects";
//@import "nq_title";
//@import "nqicon_effect";
//@import "nqlink_pattern_mixins";