@mixin nq_padding ($value...) {
    $padding: ();
    @each $i in $value {
        @if $i != null {
            @if type-of($i) == 'number' {
                $padding: append($padding, $i + px);
            } @else if $i == 'inherit' {
                $padding: append($padding, inherit);
            } @else if $i == 'initial' {
                $padding: append($padding, initial);
            } @else if $i == 'unset' {
                $padding: append($padding, unset);
            } @else {
                @error "Unknown padding value -> #{$i}";
            }
        }
    }
    padding: $padding;
}