@mixin nq_align ($direction: null){
	@if $direction != null{
	    @if index(left right center justify inherit, $direction){
	        text-align: $direction;
	    } @else {
	        @error "UNKNOWN TEXT-ALIGN VALUE -> #{$direction} N E T Q U I C K  D E F A U L T  V A L U E -> left | right | center | justify | inherit | null";
	    }
	}
}

/*
$SECTION_OR_PAGE_NAME_align:center;
@include nq_align ($SECTION_OR_PAGE_NAME_align);
*/