@import "nq_function";

@mixin nq_btn (
	$font-size: null,
	$font-weight: null,
	$color: null,
	$line-height: null,
	$background-color: null,
	$padding: null,
	$margin: null,
	$border-radius: null,
	$border-width: null,
    $border-style: null,
    $border-color: null,
    $height: null,
    $common: false,
    $color-h: null,
    $background-color-h: null,
    $border-width-h: null,
    $border-style-h: null,
    $border-color-h: null,
    $border-radius-h: null,
	){

	font-size: nq-font-size($font-size);
	font-weight: nq-font-weight($font-weight);
	color: nq-color($color);
	line-height: nq-line-height($line-height);
	background-color: nq-color($background-color);
	border-width: nq-border-width($border-width);
	border-style: nq-border-style($border-style);
	border-color: nq-border-color($border-color);
	height: nq-height($height);

	@if $padding != null {
		@include nq_padding ($padding...);
	}
	@if $margin != null {
		@include nq_margin ($margin...);
	}
	@if $border-radius != null {
		@include nq_border_radius ($border-radius...);
	}
	@if $common == true {
		text-transform: capitalize;
		cursor: pointer;
		white-space: normal;
		display: -webkit-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		@include css3-prefix ('box-shadow', 'none');
	}
	&:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
		@if $font-size != null {
			@include css3-prefix ('box-shadow', 'none');
			outline: none;
		}
		font-size: nq-font-size($font-size);
		font-weight: nq-font-weight($font-weight);
		color: nq-color($color);
		background-color: nq-color($background-color);
		border-color: nq-border-color($border-color);
	}
	@include nq_hover (){
		@include css3-prefix ('box-shadow', 'none');
		color: nq-color($color-h);
		background-color: nq-color($background-color-h);
		border-width: nq-border-width($border-width-h);
		border-style: nq-border-style($border-style-h);
		border-color: nq-border-color($border-color-h);
		@if $border-radius-h != null {
			@include nqmixin_border_radius ($border-radius-h...);
		}
		&:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active{
			@include css3-prefix ('box-shadow', 'none');
			color: nq-color($color-h);
			background-color: nq-color($background-color-h);
			border-width: nq-border-width($border-width-h);
			border-style: nq-border-style($border-style-h);
			border-color: nq-border-color($border-color-h);
			@if $border-radius-h != null {
				@include nqmixin_border_radius ($border-radius-h...);
			}
		}
	}
}


/*
$VARIABLE_NAME_btn: (
    font-size: 14,
    font-weight: 400,
    color: $white,
    line-height: 150,
    background-color: $primary,
    padding: 9.5px 15px,
    margin: 0,
    border-radius: 5,
    border-width: 1,
    border-style: solid,
    border-color: $primary,
    height: 40,
    common: true,
    color-h: $white,
    background-color-h: rgba($primary, 0.8),
    border-width-h: null,
    border-style-h: null,
    border-color-h: rgba($primary, 0.8),
    border-radius-h: null,
);

.nq-btn-NAME{
    @include nq_btn ($VARIABLE_NAME_btn...);
}
*/

