@mixin nq_border_radius ($radiusValue...) {
    $radius: ();
    @each $i in $radiusValue {
        @if $i != null {
            @if type-of($i) == 'number' {
                $radius: append($radius, $i + px);
            } @else if $i == 'inherit' {
                $radius: append($radius, inherit);
            } @else if $i == 'initial' {
                $radius: append($radius, initial);
            } @else if $i == 'unset' {
                $radius: append($radius, unset);
            } @else {
                @error "Unknown border-radius value -> #{$i}";
            }
        }
    }
    @include css3-prefix('border-radius', $radius);
}

/*
$border_radius:1 2 3 4;
@include nq_border_radius ($border_radius...);
*/