/* Pagination S */
    @mixin nq_pagination(
        $width: null,
        $height: null,
        $font-size: null,
        $font-weight: null,
        $color: null,
        $background-color: null,
        $border-width: null,
        $border-style: null,
        $border-color: null,
        $padding: null,

        $color-h: null,
        $background-color-h: null,
        $border-color-h: null,
        $first-child-radius: null,
        $last-child-radius: null,
        ){
        .pagination{
            margin: 40px 0;
            padding: 0;
            font-size: 0;
            display: block;
            text-align: center;
            @media(max-width: 767px){
                margin:30px 0;
            }
            li{
                display: inline-flex;
                a, .page-link{
                    position: relative;
                    display: inline-block;
                    text-align: center;
                    margin-left: -1px;
                    min-width: nq-width($width);
                    height: nq-height($height);
                    font-size: nq-font-size($font-size);
                    font-weight: nq-font-weight($font-weight);
                    line-height: nq-height($height);
                    color: nq-color($color);
                    background-color: nq-color($background-color);
                    border-width: nq-width($border-width);
                    border-style: $border-style;
                    border-color: nq-color($border-color);
                    border-radius: 0 !important;
                    @include nq_padding ($padding...);
                    &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
                        @include css3-prefix ('box-shadow', 'none');
                    }
                    @include nq-hover (){
                        &:hover {
                            color: nq-color($color-h);
                            background-color: nq-color($background-color-h);
                            border-color: nq-color($border-color-h);
                        }
                    }
                }
                &.active{
                    a, .page-link{
                        color: nq-color($color-h);
                        background-color: nq-color($border-color-h);
                        border-color: nq-color($background-color-h);
                        cursor: default;
                        pointer-events: none;
                    }
                }
                &:first-child{
                    a{
                        @include nq_border_radius ($first-child-radius...);
                        
                    }
                }
                &:last-child{
                    a{
                        @include nq_border_radius ($last-child-radius...);
                        
                    }
                }
                + li{
                    margin-left: 10px;
                }
            }
        }
    }
/* Pagination E */

/*
    $nq_pagination:(
        width: 35,
        height: 35,
        font-size: 14,
        font-weight: 400,
        color: $tertiary,
        background-color: $white,
        border-width: 1,
        border-style: solid,
        border-color: $tertiary,
        padding: 0 5,
        color-h: $white,
        background-color-h: $primary,
        border-color-h: $primary,
        first-child-radius: 2 0 0 2,
        last-child-radius: 0 2 2 0,
    );

    @include nq_pagination($nq_pagination...);
*/