@mixin nq_bg (
	$background-image: null,
	$background-color: null,
	$background-repeat: null,
	$background-position: null,
	$background-size: null,
	$background-attachment: null,
	$background-blend-mode: null,
	$background-clip: null,
	$background-origin: null,
	){
	@if $background-image != null {
		background-image: url(#{$nq_image}#{$background-image});
	}

	background-color: nq-color($background-color);

	@if $background-repeat != null {
		@if index(repeat repeat-x repeat-y no-repeat initial inherit, $background-repeat){
		    background-repeat: $background-repeat;
		} @else {
			@error "UNKNOWN BACKGROUND-REPEAT VALUE -> #{$background-repeat} N E T Q U I C K  D E F A U L T  V A L U E -> repeat | repeat-x | repeat-y | no-repeat | initial | inherit | null";
		}
	}

	@if $background-position != null {
		background-position: $background-position;
	} @else if $background-position == null {

	} @else {
		@error "UNKNOWN BACKGROUND-POSITION VALUE -> #{$background-position} N E T Q U I C K  D E F A U L T  V A L U E -> left top | left center | left bottom | right top | right center | right bottom | center top | center center | center bottom | top | right | bottom | left | center | 50% 50% | 10px 200px | left 50% | left 50px | initial | null";
	}

	@if $background-size != null {
		background-size: $background-size;
	} @else if $background-size == null {

	} @else {
		@error "UNKNOWN BACKGROUND-SIZE VALUE -> #{$background-size} N E T Q U I C K  D E F A U L T  V A L U E -> auto | cover | contain | initial | 100px 100px | 200px | 100% 100% | null";
	}

	@if $background-attachment != null {
		@if index(scroll fixed local initial inherit, $background-attachment){
		    background-attachment: $background-attachment;
		} @else {
			@error "UNKNOWN BACKGROUND-ATTACHMENT VALUE -> #{$background-attachment} N E T Q U I C K  D E F A U L T  V A L U E -> scroll | fixed | local | initial | inherit | null";
		}
	}

	@if $background-blend-mode != null {
		@if index(normal multiply screen overlay darken lighten color-dodge saturation color luminosity, $background-blend-mode){
		    background-blend-mode: $background-blend-mode;
		} @else {
			@error "UNKNOWN BACKGROUND-BLEND-MODE VALUE -> #{$background-blend-mode} N E T Q U I C K  D E F A U L T  V A L U E -> normal | multiply | screen | overlay | darken | lighten | color-dodge | saturation | color | luminosity | null";
		}
	}

	@if $background-clip != null {
		@if index(border-box padding-box content-box initial inherit, $background-clip){
		    background-clip: $background-clip;
		} @else {
			@error "UNKNOWN BACKGROUND-CLIP VALUE -> #{$background-clip} N E T Q U I C K  D E F A U L T  V A L U E -> border-box | padding-box | content-box | initial | inherit | null";
		}
	}

	@if $background-origin != null {
		@if index(padding-box border-box content-box initial inherit, $background-clip){
		    background-clip: $background-clip;
		} @else {
			@error "UNKNOWN BACKGROUND-ORIGIN VALUE -> #{$background-origin} N E T Q U I C K  D E F A U L T  V A L U E -> padding-box | border-box | content-box | initial | inherit | null";
		}
	}
}

/*
$VARIABLE_NAME _bg: (
    background-image: 'image-name.jpg',
    background-color: $primary,
    background-repeat: repeat,
    background-position: left 50%,
    background-size: cover,
    background-attachment: fixed,
    background-blend-mode: normal,
    background-clip: border-box,
    background-origin: padding-box,
);
.example{
    @include nq_bg ($VARIABLE_NAME _bg...);
}
*/


@mixin nqmixin_background_multi ($BgMulti...) {
    $baMulti_1: nth($BgMulti,1);
	$baMulti_2: nth($BgMulti,2);
	$baMulti_3: nth($BgMulti,3);
	$baMulti_4: nth($BgMulti,4);

    $BgMultiImg: ();
    @each $i in $baMulti_1 {
        @if $i != null{
            $BgMultiImg: append($BgMultiImg, url(#{$nq_image}#{$i}), comma);
        }
    }
    background-image: $BgMultiImg;
    
    $BgMultiRepeat: ();
    @each $i in $baMulti_2 {
        @if $i != null{
            $BgMultiRepeat: append($BgMultiRepeat, #{$i}, comma);
        }
    }
    background-repeat: $BgMultiRepeat;
    
    $BgMultiPosition: ();
    @each $i in $baMulti_3 {
        @if $i != null{
            $BgMultiPosition: append($BgMultiPosition, #{$i}, comma);
        }
    }
    background-position: $BgMultiPosition;
    
    $BgMultiSize: ();
    @each $i in $baMulti_4 {
        @if $i != null{
            $BgMultiSize: append($BgMultiSize, #{$i}, comma);
        }
    }
    background-size: $BgMultiSize;
}

/*
* How to used this
* ------------------------
* @include nqmixin_background_multi ($<SECTION_OR_PAGE_NAME_bg>);
* $SECTION_OR_PAGE_NAME _bg: 01_IMAGE-null, 02_COLOR-$black, 03_COLOR_OPACITY-1, 04_REPEAT-no-repeat, 05_POSITION-null, 06_SIZE-null, 07_ATTACHMENT-null, 08_BLEND_MODE-null, 09_CLIP-null, 10_ORIGIN-null, 11_GRADIENT-null;
* Default Values:
* - - - - - - - - - - - - - - - - - - - - - 
* 01. background-image: (<IMAGE_NAME>.png, <IMAGE_NAME>.png);
* - - - - - - - - - - - - - - - - - - - - - 
* 02. background-repeat: repeat | repeat-x | repeat-y | no-repeat | initial | inherit
* - - - - - - - - - - - - - - - - - - - - - 
* 03. background-position: left top | left center | left bottom | right top | right center | right bottom | center top | center center | center bottom | x% y% | xpos ypos | initial | inherit
* - - - - - - - - - - - - - - - - - - - - - 
* 04. background-size: auto | 100px 100px | 200px | 50% | 100% 100% | cover | contain | initial | inherit
* - - - - - - - - - - - - - - - - - - - - - 
* Less than '<' and greater than '>' arrow will not be included in the variable.
* Do not change the underscore small letter variable '_align'. This is an alias name.
* You can only pass a single value in this mixing.
*/