@import "nq_function";


@mixin nq_form_group($margin: null){
	.#{$nq}-form-group, .form-group {
		@if $margin != null {
			@include nq_margin ($margin...);
		}
	}
}

/*
$VARIABLE_NAME_form_group: 0 0 0 15;
@include nq_form_group ($VARIABLE_NAME_form_group);
*/


@mixin nq_form_label (
	$font-size: null,
	$font-weight: null,
	$color: null,
	$line-height: null,
	$padding: null,
	){
	.#{$nq}-label{
        font-size: nq-font-size($font-size);
		font-weight: nq-font-weight($font-weight);
		color: nq-color($color);
		line-height: nq-line-height($line-height);
        @if $padding != null {
			@include nq_padding ($padding...);
		}
        display: block;
        white-space: nowrap;
    }
}

/*
$VARIABLE_NAME_form_label: (
    font-size: 14,
    font-weight: 400,
    color: #000,
    line-height: 150,
    padding: 0 0 0 5
);
@include nq_form_label ($VARIABLE_NAME_form_label...);
*/


@mixin nq_form_help (
	$font-size: null,
	$font-weight: null,
	$color: null,
	$line-height: null,
	$padding: null,
	){
	.#{$nq}-form-help{
	    font-size: nq-font-size($font-size);
		font-weight: nq-font-weight($font-weight);
		color: nq-color($color);
		line-height: nq-line-height($line-height);
        @if $padding != null {
			@include nq_padding ($padding...);
		}
	    display: block;
	}
}

/*
$VARIABLE_NAME_form_help: (
    font-size: 14,
    font-weight: 400,
    color: #000,
    line-height: 150,
    padding: 0 0 0 5
);
@include nq_form_help ($VARIABLE_NAME_form_help...);
*/


@mixin nq_form_static (
	$font-size: null,
	$font-weight: null,
	$color: null,
	$line-height: null,
	){
	.#{$nq}-form-static{
	    font-size: nq-font-size($font-size);
		font-weight: nq-font-weight($font-weight);
		color: nq-color($color);
		line-height: nq-line-height($line-height);
	    display: block;
	}
}

/*
$VARIABLE_NAME_form_static: (
    font-size: 14,
    font-weight: 400,
    color: #000,
    line-height: 150
);
@include nq_form_static ($VARIABLE_NAME_form_static...);
*/


@mixin nq_form_error (
	$font-size: null,
	$font-weight: null,
	$color: null,
	$line-height: null,
	$padding: null,
	$border-color: null,
	){
	.error, .required {
        font-size: nq-font-size($font-size);
		font-weight: nq-font-weight($font-weight);
		color: nq-color($color);
		line-height: nq-line-height($line-height);
        display: block;
    }
    span.error, span.required {
        @if $padding != null {
			@include nq_padding ($padding...);
		}
    }
    label.error{
        margin: 0px 0 0 0;
    }
    .star {
    	color: nq-color($color);
    }
    .form-control{
        &.error{
            border-color: nq-border-color($border-color);
        }
    }
}

/*
$VARIABLE_NAME_form_error: (
    font-size: 14,
    font-weight: 400,
    color: $required,
    line-height: 110,
    padding: 8 0,
    border-color: $required
);
@include nq_form_error ($VARIABLE_NAME_form_error...);
*/

@mixin nq_form_input (
	$font-size: null,
	$font-weight: null,
	$color: null,
	$line-height: null,
	$background-color: null,
	$border-width: null,
    $border-style: null,
    $border-color: null,
    $border-radius: null,
    $height: null,
    $border-color-h: null,
    $color-placeholder: null,
    $min-height: null,
	){
	.#{$nq}-input, .form-control, .#{$nq}-textarea{
		font-size: nq-font-size($font-size);
		font-weight: nq-font-weight($font-weight);
		color: nq-color($color);
		line-height: nq-line-height($line-height);
		background-color: nq-color($background-color);
		border-width: nq-border-width($border-width);
		border-style: nq-border-style($border-style);
		border-color: nq-border-color($border-color);
		height: nq-height($height);
		@if $border-radius != null {
			@include nq_border_radius ($border-radius...);
		}		
        @include css3-prefix ('box-shadow', 'none');
        resize: none;
        &:focus{
            outline: none;
            border-color: nq-border-color($border-color);
            @include css3-prefix ('box-shadow', 'none');
            @include css3-prefix ('transition', 'all 0.5s ease-in-out');
        }
        &:hover{
            border-color: nq-border-color($border-color-h);
        }
        @include placeholder () {
            color: nq-color($color-placeholder);
        }
    }
    .#{$nq}-textarea{
        height: auto;
        resize: none;
        min-height: nq-height($min-height);
    }
    .#{$nq}-input[disabled], .#{$nq}-input[readonly],
    .#{$nq}-textarea[disabled], .#{$nq}-textarea[readonly]{
        background-color: transparent;
    }
    select{
        &.form-control, &.#{$nq}-input{
            &:not([size]):not([multiple]){
                height: nq-height($height);
            }
        }
    }
}

/*
$VARIABLE_NAME_form_input: (
    font-size: 14,
    font-weight: 400,
    color: $tertiary,
    line-height: 150,
    background-color: transparent,
    border-width: 1,
    border-style: solid,
    border-color: rgba($tertiary-light, 0.5),
    border-radius: 0,
    height: 35,
    border-color-h: $primary,
    color-placeholder: rgba($tertiary,0.5),
    min-height: 74,
);
@include nq_form_input ($VARIABLE_NAME_form_input...);
*/


@mixin nq_form_checkbox (
	$font-size: null,
	$font-weight: null,
	$line-height: null,
	$color: null,
	$padding: null,
	$margin: null,
	$border-radius: null,
	$border-width: null,
    $border-style: null,
    $border-color: null,
    $border-width-after: null,
    $border-style-after: null,
    $border-color-after: null,
    $border-width-checked: null,
    $border-style-checked: null,
    $border-color-checked: null,
    $height: null,
    $width: null,
	){
	.#{$nq}-checkbox{
	    font-size: nq-font-size($font-size);
		font-weight: nq-font-weight($font-weight);
		line-height: nq-line-height($line-height);
		color: nq-color($color);
	    @if $padding != null {
    		@include nq_padding ($padding...);
    	}
    	@if $margin != null {
    		@include nq_margin ($margin...);
    	}
	    position: relative;
	    display: block;
	    cursor: pointer;
	    span{
	        @if $border-radius != null {
				@include nq_border_radius ($border-radius...);
			}
	        border-width: nq-border-width($border-width);
        	border-style: nq-border-style($border-style);
        	border-color: nq-border-color($border-color);
        	@if $height != null {
        		height: nq-height($height);
        	} @else {
        		height: 18px;
        	}
        	@if $width != null {
        		width: nq-width($width);
        	} @else {
        		width: 18px;
        	}
	        background: none;
	        position: absolute;
	        top: 1px;
	        left: 0;
	        @include css3-prefix ('transition', 'all 0.5s ease-in-out');
	        &::after{
        	    border-width: nq-border-width($border-width-after);
        		border-style: nq-border-style($border-style-after);
        		border-color: nq-border-color($border-color-after);
        		@if $height != null {
        			height: nq-height($height/2);
        		} @else {
        			height: 10px;
        		}
        		@if $width != null {
        			width: nq-width($width/4);
        		} @else {
        			width: 5px;
        		}
	            content: '';
	            position: absolute;
	            opacity: 0;
	            top: 50%;
	            left: 50%;
	            margin-left: -2px;
	            margin-top: -6px;	            
	            @include css3-prefix ('transform', 'rotate(45deg)');
	            @include css3-prefix ('transition', 'all 0.5s ease-in-out');
	        }
	    }
	    input{
	        position: absolute;
	        z-index: -1;
	        opacity: 0;
	        &:checked{
	            ~ span{
	                border-width: nq-border-width($border-width-checked);
		        	border-style: nq-border-style($border-style-checked);
		        	border-color: nq-border-color($border-color-checked);
	                &::after{
	                    opacity: 1;
	                }
	            }
	        }
	    }
	    &:last-child{
	        margin-bottom: 3px;
	    }
	}
	.#{$nq}-checkbox-list{
	    padding: 11px 0 0 0;
	}
	.#{$nq}-checkbox-inline{
	    padding-top: 11px; 
	    .#{$nq}-checkbox{
	        display: inline-block !important;
	        margin-right: 15px;
	    }
	}
}

/*
$VARIABLE_NAME_form_checkbox: (
    font-size: 14,
    font-weight: 400,
    line-height: 150,
    color: $black,
    padding: 0 0 0 30,
    margin: 0 0 3 0,
    border-radius: 3,
    border-width: 1,
    border-style: solid,
    border-color: $tertiary,
    border-width-after: 0 2 2 0,
    border-style-after: solid,
    border-color-after: $primary,
    border-width-checked: 1,
    border-style-checked: solid,
    border-color-checked: $primary,
    height: 18,
    width: 18
);
@include nq_form_checkbox ($VARIABLE_NAME_form_checkbox...);
*/


@mixin nq_form_radio (
	$font-size: null,
	$font-weight: null,
	$line-height: null,
	$color: null,
	$padding: null,
	$margin: null,
	$border-radius: null,
	$border-width: null,
    $border-style: null,
    $border-color: null,
    $border-width-after: null,
    $border-style-after: null,
    $border-color-after: null,
    $background-after: null,
    $border-width-checked: null,
    $border-style-checked: null,
    $border-color-checked: null,
    $height: null,
    $width: null,
	){
	.#{$nq}-radio{
	    font-size: nq-font-size($font-size);
		font-weight: nq-font-weight($font-weight);
		line-height: nq-line-height($line-height);
		color: nq-color($color);
	    @if $padding != null {
    		@include nq_padding ($padding...);
    	}
    	@if $margin != null {
    		@include nq_margin ($margin...);
    	}
	    position: relative;
	    display: block;
	    cursor: pointer;
	    > span{
	        @if $border-radius != null {
				@include nq_border_radius ($border-radius...);
			}
	        border-width: nq-border-width($border-width);
        	border-style: nq-border-style($border-style);
        	border-color: nq-border-color($border-color);
	        @if $height != null {
	        	height: nq-height($height);
	        } @else {
	        	height: 18px;
	        }
	        @if $width != null {
	        	width: nq-width($width);
	        } @else {
	        	width: 18px;
	        }
	        background: none;
	        position: absolute;
	        top: 1px;
	        left: 0;
	        @include css3-prefix ('transition', 'all 0.5s ease-in-out');
	        &::after{
	            content: '';
	            position: absolute;
	            opacity: 0;
	            border-width: nq-border-width($border-width-after);
	        	border-style: nq-border-style($border-style-after);
	        	border-color: nq-border-color($border-color-after);
	        	@if $height != null {
	        		height: nq-height($height/3);
	        	} @else {
	        		height: 6px;
	        	}
	        	@if $width != null {
	        		width: nq-width($width/3);
	        	} @else {
	        		width: 6px;
	        	}
    	        @if $border-radius != null {
    				@include nq_border_radius ($border-radius...);
    			}
	            background: nq-color($background-after);
	            top: 50%;
	            left: 50%;
	            margin-left: -3px;
	            margin-top: -3px;
	            @include css3-prefix ('transform', 'rotate(45deg)');
	            @include css3-prefix ('transition', 'all 0.5s ease-in-out');
	        }
	    }
	    > input{
	        position: absolute;
	        z-index: -1;
	        opacity: 0;
	        &:checked{
	            ~ span{
	                border-width: nq-border-width($border-width-checked);
		        	border-style: nq-border-style($border-style-checked);
		        	border-color: nq-border-color($border-color-checked);
	                &::after{
	                    opacity: 1;
	                }
	            }
	        }
	    }
	    &:last-child{
	        margin-bottom: 3px;
	    }
	}
	.#{$nq}-radio-list{
	    padding: 11px 0 0 0;
	}
	.#{$nq}-radio-inline{
	    padding-top:11px;
	    .#{$nq}-radio{
	        display: inline-block !important;
	        margin-right: 15px;
	    }
	}
}


/*
$VARIABLE_NAME_form_radio: (
    font-size: 14,
    font-weight: 400,
    line-height: 150,
    color: $black,
    padding: 0 0 0 30,
    margin: 0 0 3 0,
    border-radius: 100,
    border-width: 1,
    border-style: solid,
    border-color: $tertiary,
    border-width-after: 1,
    border-style-after: solid,
    border-color-after: $primary,
    background-after: $primary,
    border-width-checked: 1,
    border-style-checked: solid,
    border-color-checked: $primary,
    height: 18,
    width: 18
);
@include nq_form_radio ($VARIABLE_NAME_form_radio...);
*/


@mixin nq_form_material (
	$margin: null,
	$border-width: null,
	$background-color: null,
	$font-size: null,
	){
	.#{$nq}-form-md{
	    .form-group{
	        @if $margin != null {
    			@include nq_margin ($margin...);
    		}
	        position: relative;
	        label{
	            &.#{$nq}-label{
	                position: absolute;
	                pointer-events: none;
	                left: 0;
	                top: 0px;
	                @include css3-prefix ('transition', 'all 0.5s ease-in-out');
	            }
	        }
	        .#{$nq}-input, .#{$nq}-textarea{
	            border-width: nq-border-width($border-width) !important;
	            padding-left: 0 !important;
	            padding-right: 0 !important;
	            border-radius: 0 !important;
	            &:focus+label.#{$nq}-label,
	            &:valid+label.#{$nq}-label{    
	                top: -18px;
	            }
	        }
	        .#{$nq}-input[disabled], .#{$nq}-input[readonly],
	        .#{$nq}-textarea[disabled], .#{$nq}-textarea[readonly]{
	            background-color: nq-color($background-color);
	        }
	    }
	    .#{$nq}-active, .#{$nq}-active-label .#{$nq}-label{
	        @include css3-prefix ('transform', 'translateY(-100%)');
	        font-size: nq-font-size($font-size) - 2px;
	    }
	    .#{$nq}-active-label .#{$nq}-label-normal{
	        @include css3-prefix ('transform', 'translateY(0%)');
	    }
	    .#{$nq}-label-normal{
	        font-size: nq-font-size($font-size) - 2px;
	    }
	}
}

/*
$VARIABLE_NAME_form_material: (
    margin: 25 0 0 0,
    border-width: 0 0 1 0,
    background-color: transparent,
    font-size: 14,
);
@include nq_form_material ($VARIABLE_NAME_form_material...);
*/