@import "nq_function";

@mixin nq_font (
    $font-size: null,
    $font-weight: null,
    $line-height: null,
    $color: null,
    $font-style: null,
    $font-variant: null,
    $font-family: null,
    $font-kerning: null,
    $text-transform: null,
    $letter-spacing: null,
    $word-spacing: null,    
    $white-space: null,
    $word-break: null,  
    $word-wrap: null,
    $writing-mode: null,
    $text-align: null,
    ){
    font-size: nq-font-size($font-size);
    font-weight: nq-font-weight($font-weight);
    line-height: nq-line-height($line-height);
    color: nq-color($color);
    font-style: nq-font-style($font-style);
    font-variant: nq-font-variant($font-variant);
    font-family: nq-font-family($font-family);
    font-kerning: nq-font-kerning($font-kerning);
    text-transform: nq-text-transform($text-transform);
    letter-spacing: nq-letter-spacing($letter-spacing);
    word-spacing: nq-word-spacing($word-spacing);
    white-space: nq-white-space($white-space);
    word-break: nq-word-break($word-break);
    word-wrap: nq-word-wrap($word-wrap);
    writing-mode: nq-writing-mode($writing-mode);
    @include nq_align ($text-align);
}

/*
$VARIABLE_NAME_font: (
    font-size: 14,
    font-weight: 400,
    line-height: 150,
    color: $primary,
    font-style: normal,
    font-variant: normal,
    font-family: $font_family_01,
    font-kerning: normal,
    text-transform: uppercase,
    letter-spacing: 1,
    word-spacing: 1,    
    white-space: normal,
    word-break: normal,  
    word-wrap: normal,
    writing-mode: horizontal-tb,
);
.example{
    @include nq_font ($VARIABLE_NAME_font...);
}
*/