@mixin nq_breadcrumb (
    $margin-ul: null,
    $padding-ul: null,
    $margin-li: null,
    $padding-li: null,
    $font-size: null,
    $font-weight: null,
    $line-height: null,
    $color: null,
    $color-h: null,
    $padding-before: null,
    $color-before: null,
    $content-before: null,
    ){
    .#{$nq}-breadcrumb{
        @include nq_padding ($padding-ul...);
        @include nq_margin ($margin-ul...);
        list-style: none;
        font-size: 0;
        li{
            @include nq_padding ($padding-li...);
            @include nq_margin ($margin-li...);
            display: inline-block;
            a{
                font-size: nq-font-size($font-size);
                font-weight: nq-font-weight($font-weight);
                line-height: nq-line-height($line-height);
                color: nq-color($color);
                text-transform: capitalize;
                &:hover{
                    color: nq-color($color-h);
                }
            }
            &.active{
                a{
                    color: nq-color($color-h);
                }
            }
            + li{
                &:before{
                    display: inline-block;
                    line-height: 1;
                    @include nq_padding ($padding-before...);
                    color: nq-color($color-before);
                    @if $content-before != null {
                        content: $content-before;
                    } @else {
                        content: "-";
                    }
                }
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
}

/*
	$inner_banner_01_breadcrumb:(
	    margin-ul: 15 0 0 0,
	    padding-ul: 0,
	    margin-li: 0,
	    padding-li: 0,
	    font-size: 14,
	    font-weight: 400,
	    line-height: 120,
	    color: $white,
	    color-h: $secondary,
	    padding-before:0 0 0 5,
	    color-before: $white,
	    content-before:'-',
	);
    @include nq_breadcrumb ($inner_banner_01_breadcrumb...);
*/