@mixin nq_margin ($value...) {
    $margin: ();
    @each $i in $value {
        @if $i != null {
            @if type-of($i) == 'number' {
                $margin: append($margin, $i + px);
            } @else if $i == 'inherit' {
                $margin: append($margin, inherit);
            } @else if $i == 'initial' {
                $margin: append($margin, initial);
            } @else if $i == 'unset' {
                $margin: append($margin, unset);
            } @else if $i == 'auto' {
                $margin: append($margin, auto);
            } @else {
                @error "Unknown margin value -> #{$i}";
            }
        }
    }
    margin: $margin;
}