@mixin nq_container ($container: null){
    @if $container == "container" {
        @media (min-width: 576px){
            .container{ max-width: 100%;}
        }
        @media (min-width: 768px){
            .container{ max-width: 750px; }
        }
        @media (min-width: 992px){
            .container{ max-width: 970px; }
        }
        @media (min-width: 1200px){
            .container{ max-width: 1170px; }
        }
        @media (min-width: 1366px){
            .container{ max-width: 1260px; }
        }
        @media (min-width: 1400px){
            .container{ max-width: 1360px; }
        }
        @media (min-width: 1600px){
            .container{ max-width: 1440px; }
        }
    } @else if $container == "container-fluid" {
        .container {
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
    } @else if type-of($container) == 'number' {
         @media (min-width: 576px){
            .container{ max-width: 100%;}
        }
        @media (min-width: 768px){
            .container{ max-width: 750px; }
        }
        @media (min-width: 992px){
            .container{ max-width: 970px; }
        }
        @if $container >= 1170 {
            @media (min-width:1200px){
                .container{ max-width: 1170px; }
            }
        }
        @media (min-width: ($container+30)+ unquote('px')){
            .container{ max-width: $container + unquote('px'); }
        }
    } @else if $container == null {

    } @else {
        @error "UNKNOWN CONTAINER VALUE -> #{$container} N E T Q U I C K  D E F A U L T  V A L U E -> container | container-fluid | custom (Only Integer Number) | null";
    }
}

/*
$VARIABLE_NAME_container: container;
@include nq_container ($VARIABLE_NAME_container);
*/