@mixin nq_imgthum (
    $class: true,
    $imgthum: null,
    $background-color: null,
    $border-radius: null,
    $margin: null,
    $background-color-h: null,
    ) {
    @if $class == false {
        .thumbnail-container, .thumbnail_container {
            @if $imgthum != null {
                @if type-of($imgthum) == 'number' {
                    padding-bottom: $imgthum + unquote('%');
                } @else if $imgthum == 'square' {
                    padding-bottom: 100%;
                } @else if $imgthum == 'vertical' {
                    padding-bottom: 150%;
                } @else if $imgthum == 'horizontal' {
                    padding-bottom: 66.7%;
                } @else {
                    @error "UNKNOWN IMGTHUM VALUE -> #{$imgthum} N E T Q U I C K  D E F A U L T  V A L U E -> square-100% | vertical-150% | horizontal-66.7% | custom (Only Number) | null";
                }
            }

            background-color: nq-color($background-color);
            @include nq_border_radius ($border-radius...);
            @include nq_margin ($margin...);
            @if $background-color-h != null {
                .nq-caption{
                    background-color: nq-color($background-color-h);
                    @include nq_border_radius ($border-radius...);
                }
            }
        }
    } @else if $class == true {
        @if $imgthum != null {
            @if type-of($imgthum) == 'number' {
                padding-bottom: $imgthum + unquote('%');
            } @else if $imgthum == 'square' {
                padding-bottom: 100%;
            } @else if $imgthum == 'vertical' {
                padding-bottom: 150%;
            } @else if $imgthum == 'horizontal' {
                padding-bottom: 66.7%;
            } @else {
                @error "UNKNOWN IMGTHUM VALUE -> #{$imgthum} N E T Q U I C K  D E F A U L T  V A L U E -> square-100% | vertical-150% | horizontal-66.7% | custom (Only Number) | null";
            }
        }

        background-color: nq-color($background-color);
        @include nq_border_radius ($border-radius...);
        @include nq_margin ($margin...);
        @if $background-color-h != null {
            .nq-caption{
                background-color: nq-color($background-color-h);
                @include nq_border_radius ($border-radius...);
            }
        }
    }
}

/*
$VARIABLE_NAME_imgthum: square;
.thumbnail_container {
    @include nq_imgthum ($VARIABLE_NAME_imgthum);
}
*/