@function nq-font-family($font-family) {
  	$result: ();
  	@if $font-family != null {
		@if $font-family == $font_family_01 or $font-family == $font_family_02 or $font-family == $special_font_family or $font-family == $body_font_family or $font-family == $h1_font_family or $font-family == $h2_font_family or $font-family == $h3_font_family or $font-family == $h4_font_family or $font-family == $h5_font_family or $font-family == $h6_font_family {
			$result: $font-family;
		} @else if $font-family == 'initial' {
			$result: initial;
		} @else if $font-family == 'inherit' {
			$result: inherit;
		} @else {
			@error "UNKNOWN FONT-FAMILY VALUE -> #{$font-family} N E T Q U I C K  D E F A U L T  V A L U E -> $font_family_01 | $font_family_02 | $special_font_family | $body_font_family | $h1_font_family | $h2_font_family | $h3_font_family | $h4_font_family | $h5_font_family | $h6_font_family | initial | inherit | null";
		}
	}
  	@return $result;
}

@function nq-font-size($font-size) {
  	$result: ();
  	@if $font-size != null {
		@if type-of($font-size) == 'number' {
			$result: $font-size + px;
		} @else {
			@error "UNKNOWN FONT-SIZE VALUE -> #{$font-size} N E T Q U I C K  D E F A U L T  V A L U E -> Only Integer Number | null";
		}
	}
  	@return $result;
}

@function nq-font-weight($font-weight) {
  	$result: ();
  	@if $font-weight != null {
		@if type-of($font-weight) == 'number' {
			$result: $font-weight;
		} @else if $font-weight == '100' {
			$result: 100;
		} @else if $font-weight == '200' {
			$result: 200;
		} @else if $font-weight == '300' {
			$result: 300;
		} @else if $font-weight == '400' {
			$result: 400;
		} @else if $font-weight == '500' {
			$result: 500;
		} @else if $font-weight == '600' {
			$result: 600;
		} @else if $font-weight == '700' {
			$result: 700;
		} @else if $font-weight == '800' {
			$result: 800;
		} @else if $font-weight == '900' {
			$result: 900;
		} @else if $font-weight == 'normal' {
			$result: normal;
		} @else if $font-weight == 'bold' {
			$result: bold;
		} @else if $font-weight == 'bolder' {
			$result: bolder;
		} @else if $font-weight == 'lighter' {
			$result: lighter;
		} @else if $font-weight == 'initial' {
			$result: initial;
		} @else if $font-weight == 'inherit' {
			$result: inherit;
		} @else {
			@error "UNKNOWN FONT-WEIGHT VALUE -> #{$font-weight} N E T Q U I C K  D E F A U L T  V A L U E -> 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900 | normal | bold | bolder | lighter | initial | inherit | null";
		}
	}
  	@return $result;
}

@function nq-font-style($font-style) {
  	$result: ();
  	@if $font-style != null {
		@if $font-style == 'normal' {
			$result: normal;
		} @else if $font-style == 'italic' {
			$result: italic;
		} @else if $font-style == 'oblique' {
			$result: oblique;
		} @else if $font-style == 'initial' {
			$result: initial;
		} @else if $font-style == 'inherit' {
			$result: inherit;
		} @else {
			@error "UNKNOWN FONT-STYLE VALUE -> #{$font-style} N E T Q U I C K  D E F A U L T  V A L U E -> normal | italic | oblique | initial | inherit | null";
		}
	}
  	@return $result;
}

@function nq-font-variant($font-variant) {
  	$result: ();
  	@if $font-variant != null {
		@if $font-variant == 'normal' {
			$result: normal;
		} @else if $font-variant == 'small-caps' {
			$result: small-caps;
		} @else if $font-variant == 'initial' {
			$result: initial;
		} @else if $font-variant == 'inherit' {
			$result: inherit;
		} @else {
			@error "UNKNOWN FONT-VARIANT VALUE -> #{$font-variant} N E T Q U I C K  D E F A U L T  V A L U E -> normal | small-caps | initial | inherit | null";
		}
	}
  	@return $result;
}

@function nq-font-kerning($font-kerning) {
  	$result: ();
  	@if $font-kerning != null {
		@if $font-kerning == 'auto' {
			$result: auto;
		} @else if $font-kerning == 'normal' {
			$result: normal;
		} @else if $font-kerning == 'none' {
			$result: none;
		} @else {
			@error "UNKNOWN FONT-KERNING VALUE -> #{$font-kerning} N E T Q U I C K  D E F A U L T  V A L U E -> auto | normal | none | null";
		}
	}
  	@return $result;
}

@function nq-text-transform($text-transform) {
  	$result: ();
  	@if $text-transform != null {
		@if $text-transform == 'none' {
			$result: none;
		} @else if $text-transform == 'capitalize' {
			$result: capitalize;
		} @else if $text-transform == 'uppercase' {
			$result: uppercase;
		} @else if $text-transform == 'lowercase' {
			$result: lowercase;
		} @else if $text-transform == 'initial' {
			$result: initial;
		} @else if $text-transform == 'inherit' {
			$result: inherit;
		} @else {
			@error "UNKNOWN TEXT-TRANSFORM VALUE -> #{$text-transform} N E T Q U I C K  D E F A U L T  V A L U E -> none | capitalize | uppercase | lowercase | initial | inherit | null";
		}
	}
  	@return $result;
}

@function nq-letter-spacing($letter-spacing) {
  	$result: ();
  	@if $letter-spacing != null {
		@if type-of($letter-spacing) == 'number' {
			$result: $letter-spacing + px;
		} @else if $letter-spacing == 'normal' {
			$result: normal;
		} @else if $letter-spacing == 'initial' {
			$result: initial;
		} @else {
			@error "UNKNOWN LETTER-SPACING VALUE -> #{$letter-spacing} N E T Q U I C K  D E F A U L T  V A L U E -> Only Integer Number | 2 | -2 | normal | initial | null";
		}
	}
  	@return $result;
}

@function nq-word-spacing($word-spacing) {
  	$result: ();
  	@if $word-spacing != null {
		@if type-of($word-spacing) == 'number' {
			$result: $word-spacing + px;
		} @else if $word-spacing == 'normal' {
			$result: normal;
		} @else if $word-spacing == 'initial' {
			$result: initial;
		} @else {
			@error "UNKNOWN WORD-SPACING VALUE -> #{$word-spacing} N E T Q U I C K  D E F A U L T  V A L U E -> Only Integer Number | 2 | -2 | normal | initial | null";
		}
	}
  	@return $result;
}

@function nq-white-space($white-space) {
  	$result: ();
  	@if $white-space != null {
		@if $white-space == 'normal' {
			$result: normal;
		} @else if $white-space == 'nowrap' {
			$result: nowrap;
		} @else if $white-space == 'pre' {
			$result: pre;
		} @else if $white-space == 'pre-line' {
			$result: pre-line;
		} @else if $white-space == 'pre-wrap' {
			$result: pre-wrap;
		} @else if $white-space == 'initial' {
			$result: initial;
		} @else if $white-space == 'inherit' {
			$result: inherit;
		} @else {
			@error "UNKNOWN WHITE-SPACE VALUE -> #{$white-space} N E T Q U I C K  D E F A U L T  V A L U E -> normal | nowrap | pre | pre-line | pre-wrap | initial | inherit | null";
		}
	}
  	@return $result;
}

@function nq-word-break($word-break) {
  	$result: ();
  	@if $word-break != null {
		@if $word-break == 'normal' {
			$result: normal;
		} @else if $word-break == 'break-all' {
			$result: break-all;
		} @else if $word-break == 'keep-all' {
			$result: keep-all;
		} @else if $word-break == 'break-word' {
			$result: break-word;
		} @else if $word-break == 'initial' {
			$result: initial;
		} @else if $word-break == 'inherit' {
			$result: inherit;
		} @else {
			@error "UNKNOWN WORD-BREAK VALUE -> #{$word-break} N E T Q U I C K  D E F A U L T  V A L U E -> normal | break-all | keep-all | break-word | initial | inherit| null";
		}
	}
  	@return $result;
}

@function nq-word-wrap($word-wrap) {
  	$result: ();
  	@if $word-wrap != null {
		@if $word-wrap == 'normal' {
			$result: normal;
		} @else if $word-wrap == 'break-word' {
			$result: break-word;
		} @else if $word-wrap == 'initial' {
			$result: initial;
		} @else if $word-wrap == 'inherit' {
			$result: inherit;
		} @else {
			@error "UNKNOWN WORD-WRAP VALUE -> #{$word-wrap} N E T Q U I C K  D E F A U L T  V A L U E -> normal | break-word | initial | inherit | null";
		}
	}
  	@return $result;
}

@function nq-writing-mode($writing-mode) {
  	$result: ();
  	@if $writing-mode != null {
		@if $writing-mode == 'horizontal-tb' {
			$result: horizontal-tb;
		} @else if $writing-mode == 'vertical-rl' {
			$result: vertical-rl;
		} @else if $writing-mode == 'vertical-lr' {
			$result: vertical-lr;
		} @else {
			@error "UNKNOWN WRITING-MODE VALUE -> #{$writing-mode} N E T Q U I C K  D E F A U L T  V A L U E -> horizontal-tb | vertical-rl | vertical-lr | null";
		}
	}
  	@return $result;
}

@function nq-color($color) {
  	$result: ();
  	@if $color != null {
  		@if type-of($color) == 'color'{
  			$result: $color;
  		} @else if $color == 'transparent'{
  			$result: transparent;
  		} @else if $color == 'initial'{
  			$result: initial;
  		} @else if $color == 'inherit'{
  			$result: inherit;
  		} @else {
			@error "UNKNOWN COLOR OR BACKGROUND-COLOR VALUE -> #{$color} N E T Q U I C K  D E F A U L T  V A L U E -> $primary | $primary-medium | $primary-light | $primary-lighter | $secondary | $secondary-medium | $secondary-light | $secondary-lighter | $tertiary | $tertiary-medium | $tertiary-light | $tertiary-lighter | $black | $black-medium | $black-light | $black-lighter | $white | $required | #000 | #000000 | transparent | initial | inherit | null";
		}
	}
  	@return $result;
}

@function nq-line-height($line-height) {
  	$result: ();
  	@if $line-height != null {
		@if type-of($line-height) == 'number' {
			$result: $line-height + unquote('%');
		} @else if $line-height == 'inherit' {
			$result: inherit;
		} @else if $line-height == 'initial' {
			$result: initial;
		} @else if $line-height == 'normal' {
			$result: normal;
		} @else if $line-height == 'unset' {
			$result: unset;
		} @else {
			@error "UNKNOWN LINE-HEIGHT VALUE -> #{$line-height} N E T Q U I C K  D E F A U L T  V A L U E -> Only Number | inherit | initial | normal | unset | null";
		}
	}
  	@return $result;
}

@function nq-border-width($border-width) {
  	$result: ();
  	$borderWidth: ();
	@each $i in $border-width {
	    @if $i != null {
	        @if type-of($i) == 'number' {
	            $borderWidth: append($borderWidth, $i + px);
	        } @else if $i == 'inherit' {
	            $borderWidth: append($borderWidth, inherit);
	        } @else if $i == 'initial' {
	            $borderWidth: append($borderWidth, initial);
	        } @else if $i == 'unset' {
	            $borderWidth: append($borderWidth, unset);
	        } @else {
	            @error "UNKNOWN BORDER-WIDTH VALUE -> #{$i} N E T Q U I C K  D E F A U L T  V A L U E -> Only Number | inherit | initial | unset | null";
	        }
	    }
	}
	$result: $borderWidth;
  	@return $result;
}

@function nq-border-style($border-style) {
  	$result: ();
  	$borderStyle: ();
	@each $i in $border-style {
	    @if $i != null {
	        @if type-of($i) == 'string' {
	            @if $i == 'none' {
		            $borderStyle: append($borderStyle, none);
		        } @else if $i == 'hidden' {
		            $borderStyle: append($borderStyle, hidden);
		        } @else if $i == 'dotted' {
		            $borderStyle: append($borderStyle, dotted);
		        } @else if $i == 'dashed' {
		            $borderStyle: append($borderStyle, dashed);
		        } @else if $i == 'solid' {
		            $borderStyle: append($borderStyle, solid);
		        } @else if $i == 'double' {
		            $borderStyle: append($borderStyle, double);
		        } @else if $i == 'groove' {
		            $borderStyle: append($borderStyle, groove);
		        } @else if $i == 'ridge' {
		            $borderStyle: append($borderStyle, ridge);
		        } @else if $i == 'inset' {
		            $borderStyle: append($borderStyle, inset);
		        } @else if $i == 'outset' {
		            $borderStyle: append($borderStyle, outset);
		        } @else if $i == 'initial' {
		            $borderStyle: append($borderStyle, initial);
		        } @else if $i == 'unset' {
		            $borderStyle: append($borderStyle, unset);
		        } @else if $i == 'inherit' {
		            $borderStyle: append($borderStyle, inherit);
		        } @else {
		            @error "UNKNOWN BORDER-STYLE VALUEA -> #{$i} N E T Q U I C K  D E F A U L T  V A L U E -> none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset | initial | unset | inherit | null";
		        }
	        } @else {
	            @error "UNKNOWN BORDER-STYLE VALUEA -> #{$i} N E T Q U I C K  D E F A U L T  V A L U E -> none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset | initial | unset | inherit | null";
	        }
	    }
	}
	$result: $borderStyle;
  	@return $result;
}

@function nq-border-color($border-color) {
  	$result: ();
  	$borderColor: ();
	@each $i in $border-color {
	    @if $i != null {
	        @if type-of($i) == 'color'{
	        	$borderColor: append($borderColor, $i);
	        } @else if $i == 'transparent'{
	        	$borderColor: append($borderColor, transparent);
	        } @else if $i == 'initial'{
	        	$borderColor: append($borderColor, initial);
	        } @else if $i == 'inherit'{
	        	$borderColor: append($borderColor, inherit);
	        } @else {
	        	@error "UNKNOWN BORDER-COLOR VALUE -> #{$i} N E T Q U I C K  D E F A U L T  V A L U E -> $primary | $primary-medium | $primary-light | $primary-lighter | $secondary | $secondary-medium | $secondary-light | $secondary-lighter | $tertiary | $tertiary-medium | $tertiary-light | $tertiary-lighter | $black | $black-medium | $black-light | $black-lighter | $white | $required | #000 | #000000 | null";
	        }
	    }
	}
	$result: $borderColor;
  	@return $result;
}

@function nq-height($height) {
  	$result: ();
  	@if $height != null {
	  	@if type-of($height) == 'number' {
			$result: $height + px;
		} @else if index(auto fit-content inherit initial max-content min-content min-content unset, $height){
			$result: $height;
		} @else {
			@error "UNKNOWN HEIGHT VALUE -> #{$height} N E T Q U I C K  D E F A U L T  V A L U E -> Only Number | auto | fit-content | inherit | initial | max-content | min-content | min-content | unset | null";
		}
  	}
  	@return $result;
}

@function nq-width($width) {
  	$result: ();
  	@if $width != null {
	  	@if type-of($width) == 'number' {
			$result: $width + px;
		} @else if index(auto fit-content inherit initial max-content min-content min-content unset, $width){
			$result: $width;
		} @else {
			@error "UNKNOWN WIDTH VALUE -> #{$width} N E T Q U I C K  D E F A U L T  V A L U E -> Only Number | auto | fit-content | inherit | initial | max-content | min-content | min-content | unset | null";
		}
  	}
  	@return $result;
}


@function nq-display($display) {
  	$result: ();
  	@if $display != null {
  		@if index(block contents flex flow-root grid inherit initial inline inline-block inline-flex inline-grid inline-table list-item none table table-caption table-cell table-column table-column-group table-footer-group table-header-group table-row table-row-group unset webkit-box webkit-inline-box, $display) {
	      	$result: $display;
	    } @else {
			@error "UNKNOWN DISPLAY VALUE -> #{$display} N E T Q U I C K  D E F A U L T  V A L U E -> block | contents | flex | flow-root | grid | inherit | initial | inline | inline-block | inline-flex | inline-grid | inline-table | list-item | none | table | table-caption | table-cell | table-column | table-column-group | table-footer-group | table-header-group | table-row | table-row-group | unset | webkit-box | webkit-inline-box";
		}
  	}
  	@return $result;
}