@mixin nqmixin_popup (
	$width:null,
	$bgcolor: null,	$bgalpha: null,
	$innerbgcolor: null, $innerbgalpha: null,
	$radius: null,
	$padding: null,
	$bordercolor: null, $borderbgalpha: null, $borderwidth: null,
	$innerbgimg: null) {
	
	@if $width != null {
		.popup{
			@media (min-width: 980px) {
				.modal-dialog {
					width: $width + px;
					position: absolute;
				    bottom: 0;
				    top: 0;
				    left: 0;
				    right: 0;
				}
				.modal-content {
				    position: relative;
				    left: 50%;
				    top: 50%;
				    @include css3-prefix("transform", translate(-50%, -50%));
				}
			}	
			.close {
			    position: absolute;
			    z-index: 9999;
			    top: 2px;
    			right: 0px;
			    opacity: 1;
			    a{
			    	font-size: 14px;
			    	color: $black;
			    	padding: 5px 10px;
			    	background-color: $white;
			    	opacity: 0.5;
			    	&:hover{
			    		opacity: 1;
			    	}
			    }
			}
			.modal-content {
			    @include nqmixin_border_radius ($radius...);
			    @if $bordercolor != null {
				    border-style: solid;			    
				    border-color: rgba($bordercolor, $borderbgalpha);
				    border-width: $borderwidth + px;
				}@else { border: none; }
			}
			.modal-body {
			    min-height: 40px;
			    @include nqmixin_padding ($padding...);
			    @if $innerbgcolor != null {
			    	background-color: rgba($innerbgcolor, $innerbgalpha);
			    }
			    @if $innerbgimg != null {
			    	background-image: url($innerbgimg);
			    	background-repeat: repeat;
				    background-position: center top;
				    background-size: cover;
			    }
			}
			@if $bgcolor != null {
		    	&.modal {
					background-color: rgba($bgcolor, $bgalpha);
				}
		    }
		}
	}

}