@mixin nq_link (
    $color: null,
    $background-color: null,
    $color-h: null,
    $background-color-h: null,
    ) {
    color: nq-color($color);
    background-color: nq-color($background-color);
    @include nq_hover(){
        color: nq-color($color-h);
        background-color: nq-color($background-color-h);
    }
    &.active{
        color: nq-color($color-h);
        background-color: nq-color($background-color-h);   
    }
}