@mixin nq_sn (
	$margin-ul: null,
	$padding-ul: null,
	$margin-li: null,
	$padding-li: null,
	$display: null,
	$margin-li-li: null,
	$padding-li-li: null,

	$font-size: null,
	$font-weight: null,
	$line-height: null,
	$color: null,
	$background-color: null,
	$text-align: null,

	$height: null,
	$width: null,

	$border-radius: null,

	$background-color-h: null,

	$font-size-h: null,
	$font-weight-h: null,
	$line-height-h: null,
	$color-h: null,
	){
	@if $margin-ul != null {
		@include nq_margin ($margin-ul...);
	} @else {
		margin: 0;
	}
	@if $padding-ul != null {
		@include nq_padding ($padding-ul...);
	} @else {
		padding: 0;
	}
	list-style: none;
	li {
		@if $margin-li != null {
			@include nq_margin ($margin-li...);
		} @else {
			margin: 0;
		}
		@if $padding-li != null {
			@include nq_padding ($padding-li...);
		} @else {
			padding: 0;
		}
		display: nq-display($display);
		+ li {
			@include nq_margin ($margin-li-li...);
			@include nq_padding ($padding-li-li...);
		}
	}
	a {
	    font-size: nq-font-size($font-size);
	    font-weight: nq-font-weight($font-weight);
	    line-height: nq-line-height($line-height);
	    color: nq-color($color) !important;
	    height: nq-height($height);
	    width: nq-width($height);
	    background-color: nq-color($background-color) !important;
	    @include nq_align ($text-align...);
	    @include nq_border_radius ($border-radius...);	
	    display: inherit;    
	    @include nq_hover () {
	        background-color: nq-color($background-color-h) !important;
	        font-size: nq-font-size($font-size-h);
	        font-weight: nq-font-weight($font-weight-h);
	        line-height: nq-line-height($line-height-h);
	        color: nq-color($color-h) !important;
	    }
	}
}