@mixin nq_border ($borderValue...) {  
    $borderWidthArg: nth($borderValue, 1);
    $borderStyleArg: nth($borderValue, 2);
    $borderColorArg: nth($borderValue, 3);

    $borderWidth: ();
    @if $borderWidthArg != null {
        @each $i in $borderWidthArg {
            @if $i != null{
              $borderWidth: append($borderWidth, $i + px);
            } @else {
              $borderWidth: append($borderWidth, 0 + px);
            }
        }
        border-width:$borderWidth;
    }

    $borderStyle: ();
    @if $borderStyleArg != null {
        @each $j in $borderStyleArg {
            @if $j != null{
              $borderStyle: append($borderStyle, $j);
            } @else {
              $borderStyle: append($borderStyle, none );
            }
        }
        border-style:$borderStyle;
    }

    $borderColor: ();
    @each $k in $borderColorArg {
        @if $k != null{
          $borderColor: append($borderColor, rgba(nth($k, 1),nth($k, 2)));
        } @else {
          //$borderColor: append($borderColor, inherit );
        }
    }
    border-color:$borderColor;
}

/*
$SECTION_OR_PAGE_NAME_border:(01_BORDER_WITHD),(02_BORDER_STYLE),((03_1_1_TOP_COLOR, 03_1_2_TOP_OPACITY), (03_2_1_TOP_COLOR, 03_2_2_TOP_OPACITY), (03_3_1_TOP_COLOR, 03_3_2_TOP_OPACITY), (03_4_1_TOP_COLOR, 03_4_2_TOP_OPACITY))
@include nqmixin_border ($SECTION_OR_PAGE_NAME_border...);
*/


@mixin nqmixin_border ($direction, $size:flase, $type:flase, $color:flase, $colorRgba:flase) {
    @if ($direction != null) {
        @if index(none hidden dotted dashed solid double groove ridge inset outset initial, $type) {
            @if ($direction == "none") and type-of($color) == 'color' and type-of($colorRgba) == 'number' {
                border: $size + px $type rgba($color, $colorRgba); 
            } @else if($direction == "top") and type-of($color) == 'color' and type-of($colorRgba) == 'number' {
                border-top: $size + px $type rgba($color, $colorRgba);
            } @else if($direction == "left") and type-of($color) == 'color' and type-of($colorRgba) == 'number' {
                border-left: $size + px $type rgba($color, $colorRgba);
            } @else if($direction == "right") and type-of($color) == 'color' and type-of($colorRgba) == 'number' {
                border-right: $size + px $type rgba($color, $colorRgba);
            } @else if($direction == "bottom") and type-of($color) == 'color' and type-of($colorRgba) == 'number' {
                border-bottom: $size + px $type rgba($color, $colorRgba);
            } @else {
                @error "
                
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                - - - - - N E T Q U I C K  M I X I N  E R R O R  H A N D L E R - - - - -
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

                Unknown border direction value -> #{$direction}
                $SECTION_OR_PAGE_NAME_border -> none
                Default Values-> top | left | bottom | right | null

                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                - - - - - N E T Q U I C K  M I X I N  E R R O R  H A N D L E R - - - - -
                - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

                ";          
            }
        } @else {
            @error "
            
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            - - - - - N E T Q U I C K  M I X I N  E R R O R  H A N D L E R - - - - -
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

            Unknown border type value -> #{$direction}
            $SECTION_OR_PAGE_NAME_border -> none
            Default Values-> none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset | initial;

            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
            - - - - - N E T Q U I C K  M I X I N  E R R O R  H A N D L E R - - - - -
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

            ";
        }
    }
}