$menu_01_responsive_media: 1200px;
$menu_01_dropdown_width: 180px;
$menu_01_sub_menu: 'true';  /* true | false */
$menu_01_mega_menu: 'false';  /* true | false */
$menu_01_tab_menu: 'false';  /* true | false */

$menu_01_margin:0;
$menu_01_padding:0;
$menu_01_bg:(
    background-color: transparent
);


/* Top Menu S */
    $menu_01_ul_margin:0;
    $menu_01_ul_padding:0;
    $menu_01_li_margin:0;
    $menu_01_li_padding:0;
    $menu_01_a_font:(
        font-size: 18,
        font-weight:600,
        line-height: 150,
        color: $tertiary
    );
    $menu_01_a_padding:22.3 15;
    $menu_01_a_hover_active_font:(
        color: $secondary
    );
    $menu_01_a_hover_active_bg:(
        background-color: transparent
    );
/* Top Menu E */


/* Sub Menu S */
    $menu_01_sub_menu_li_margin:0;
    $menu_01_sub_menu_li_padding:0;
    $menu_01_sub_menu_li_bg:(
        background-color: $white
    );
    $menu_01_sub_menu_a_padding:10;
    $menu_01_sub_menu_a_font:(
        font-size:16,
        font-weight:600,
        line-height: 150,
        color: $tertiary,
    );
    $menu_01_sub_menu_a_border:(0 0 1 0),(solid),(($black, 0) ($black, 0) ($black, 0.1) ($black, 0));
    $menu_01_sub_menu_a_hover_active_font:(
        color: $white
    );
    $menu_01_sub_menu_a_hover_active_bg:(
        background-color: $secondary
    );
/* Sub Menu E */


/* Mega Menu S */
    $menu_01_mega_menu_padding:15;
    $menu_01_mega_menu_bg:(
        background-color: $white
    );
    
    $menu_01_mega_menu_mm_title_font:(
        font-size: 18,
        font-weight: 600,
        line-height: 110,
        color: $black,
    );
    $menu_01_mega_menu_mm_title_padding:0;
    $menu_01_mega_menu_mm_title_margin:0 0 15 0;

    $menu_01_mega_menu_mm_title_hover_font:(
        color: $secondary        
    );
    $menu_01_mega_menu_mm_title_hover_bg:(
        background-color: transparent
    );

    $menu_01_mega_menu_li_padding:0;
    $menu_01_mega_menu_li_margin:0;

    $menu_01_mega_menu_ul_li_padding:0;
    $menu_01_mega_menu_ul_li_margin:0;

    $menu_01_mega_menu_ul_li_border:(0 0 0 1),(solid),(($black, 0) ($black, 0) ($black, 0) ($black, 0.1));

    $menu_01_mega_menu_a_padding:5 10;
    $menu_01_mega_menu_a_font:(
        font-size: 14,
        font-weight: 500,
        line-height: 120,
        color: $tertiary,
    );
    $menu_01_mega_menu_a_hover_active_font:(
        color: $black
    );
    $menu_01_mega_menu_a_hover_active_bg:(
        background-color: transparent
    );
/* Mega Menu E */


/* Tab Menu S */
    $menu_01_tab_menu_padding:15;
    $menu_01_tab_menu_bg:(
        background-color: $white
    );

    $menu_01_tab_menu_li_margin:0;
    $menu_01_tab_menu_li_padding:0;
    $menu_01_tab_menu_li_border:(0 1 1 0),(solid),(($black, 0) ($black, 0.1) ($black, 0.1) ($black, 0));

    $menu_01_tab_menu_a_padding:8 10;
    $menu_01_tab_menu_a_font:(
        font-size: 14,
        font-weight: 500,
        line-height: 120,
        color: $tertiary,
    );
    $menu_01_tab_menu_a_hover_font:(
        color: $tertiary,
    );
    $menu_01_tab_menu_a_hover_bg:(
        background-color: transparent
    );

    $menu_01_tab_menu_ul_padding:15;
    $menu_01_tab_menu_ul_bg:(
        background-color: $white
    );
    $menu_01_tab_menu_tm_title_margin:0 0 10 0;
    $menu_01_tab_menu_tm_title_padding:0;
    $menu_01_tab_menu_tm_title_font:(
        font-size: 18,
        font-weight: 600,
        line-height: 110,
        color: $black
    );
    $menu_01_tab_menu_tm_title_hover_font:(
        color: $primary
    );
    $menu_01_tab_menu_tm_title_hover_bg:(
        background-color: transparent
    );

    $menu_01_tab_menu_ul_li_margin:0;
    $menu_01_tab_menu_ul_li_padding:0;

    $menu_01_tab_menu_ul_li_a_padding:5 0;

    $menu_01_tab_menu_ul_li_a_font:(
        font-size: 14,
        font-weight: 500,
        line-height: 120,
        color: $tertiary
    );
    $menu_01_tab_menu_ul_li_a_hover_active_font:(
        color: $primary
    );
    $menu_01_tab_menu_ul_li_a_hover_active_bg:(
        background-color: transparent
    );
    $menu_01_tab_menu_li_hover_active_border:(0 5 0 0),(solid),(($black, 0) ($black, 0.1) ($black, 0) ($black, 0));
    $menu_01_tab_menu_imgthum:150;
    $menu_01_tab_menu_thumbnail_container_bg:(
        background-color: rgba($black, 0.2)
    );
/* Tab Menu E */


/* Mobile S */
    $menu_01_mobile_margin:0;
    $menu_01_mobile_padding:0;
    $menu_01_mobile_bg:(
        background-color: $primary
    );
    $menu_01_mobile_width:230;
    $menu_01_mobile_ul_margin:0;
    $menu_01_mobile_ul_padding:0;
    $menu_01_mobile_li_margin:0;
    $menu_01_mobile_li_padding:0;
    $menu_01_mobile_li_border:(1 0 0 0),(solid),(($white, 0.25) ($white, 0) ($white, 0) ($white, 0));
    $menu_01_mobile_a_padding:8 10;
    $menu_01_mobile_a_font:(
        font-size: 14,
        font-weight: 500,
        line-height: 120,
        color: $white
    );
    $menu_01_mobile_a_active_font:(
        color: $secondary
    );
    $menu_01_mobile_ul_li_a_padding:8 10 8 20;

    $menu_01_mobile_is_open_bg:(
        background-color: $white
    );
    $menu_01_mobile_is_open_a_border:(0 1 0 0),(solid),(($white, 0) ($white, 0.25) ($white, 0) ($white, 0));
    $menu_01_mobile_is_open_first_child_border:(1 0 0 0),(solid),(($white, 0.25) ($white, 0) ($white, 0) ($white, 0));
    $menu_01_mobile_nav_overlay_bg:(
        background-color: rgba($primary, 0.7)
    );
/* Mobile E */


/* Menu Open Close S */
    $menu_01_menu_open_close_align:right;
    $menu_01_menu_open_close_margin:24 0 0 0;
    $menu_01_menu_open_align:left;
    $menu_01_menu_open_border:(0 0 2 0),(solid),(($primary, 0) ($primary, 0) ($primary, 1) ($primary, 0));
    $menu_01_menu_open_before_after_bg:(
        background-color: $primary
    );
    $menu_01_menu_close_before_after_bg:(
        background-color: $white
    );
/* Menu Open Close S */


/* Hide Header on on scroll down S */
    $menu_01_mobile_stick_bg:(
        background-color: $primary
    );
    $menu_01_mobile_stick_padding:10;
    $menu_01_mobile_stick_margin:0;
/* Hide Header on on scroll down E */


/* Only Mobile Menu Top Design S */
    $menu_01_menu_mobile_visibility_bg:(
        background-color: $white
    );
    $menu_01_menu_mobile_visibility_padding:15;
    $menu_01_col_half_border:(0 0 1 0),(solid),(($black,0.1) ($black,0) ($black,0) ($black,0));
/* Only Mobile Menu Top Design E */


@media (min-width: $menu_01_responsive_media + 1px){
    .menu {
        @include nq_margin ($menu_01_margin...);
        @include nq_padding ($menu_01_padding...);
        @include nq_bg ($menu_01_bg...);
        position: relative;
        z-index: 99;
        left: inherit !important;
        width: 100% !important;
        &:after{
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        ul {
            @include nq_margin ($menu_01_ul_margin...);
            @include nq_padding ($menu_01_ul_padding...);
            list-style: none;
            float: right;
            li {
                @include nq_margin ($menu_01_li_margin...);
                @include nq_padding ($menu_01_li_padding...);
                display: inline-block;
                float: left;
                a {
                    @include nq_font ($menu_01_a_font...);
                    @include nq_padding ($menu_01_a_padding...);
                    display: block;                    
                    &:hover {
                        @include nq_font ($menu_01_a_hover_active_font...);
                        @include nq_bg ($menu_01_a_hover_active_bg...);
                    }
                }
                &.active > a, &:hover > a{
                    @include nq_font ($menu_01_a_hover_active_font...);
                    @include nq_bg ($menu_01_a_hover_active_bg...);
                }
                > a {
                    &:after{
                        content: '';
                    }
                    &:only-child{
                        &:after{
                            content: '';
                        }
                    }
                }
                &:hover {
                    > a {
                        &:after{
                            content: '';
                        }
                        &:only-child{
                            &:after{
                                content: '';
                            }
                        }
                    }
                    > .sub-menu, > .mega-menu, > .tab-menu {
                        display: inherit;
                    }
                }
            }

            /* Sub Menu S */
            @if $menu_01_sub_menu == "true"{
                .sub-menu {
                    display: none;
                    position: absolute;
                    li {
                        @include nq_margin ($menu_01_sub_menu_li_margin...);
                        @include nq_padding ($menu_01_sub_menu_li_padding...);
                        @include nq_bg ($menu_01_sub_menu_li_bg...);
                        width: $menu_01_dropdown_width;
                        float: none;
                        display: list-item;
                        position: relative;

                        a {
                            display: block;
                            @include nq_padding ($menu_01_sub_menu_a_padding...);
                            @include nq_font ($menu_01_sub_menu_a_font...);
                            @include nq_border ($menu_01_sub_menu_a_border...);
                            &:hover {
                                @include nq_font ($menu_01_sub_menu_a_hover_active_font...);
                                @include nq_bg ($menu_01_sub_menu_a_hover_active_bg...);
                            }
                        }
                        &.active > a, &:hover > a{
                            @include nq_font ($menu_01_sub_menu_a_hover_active_font...);
                            @include nq_bg ($menu_01_sub_menu_a_hover_active_bg...);
                        }
                    }
                    .sub-menu {
                        li {
                            position: relative;
                            top: -42px;
                            left: $menu_01_dropdown_width;
                        }
                    }
                }
            } @else{
                .sub-menu{
                    display: none !important;
                }
            }
            /* Sub Menu E */

            /* Mega Menu S */
            @if $menu_01_mega_menu == "true"{
                .mega-menu{
                    display: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    @include nq_padding ($menu_01_mega_menu_padding...);
                    @include nq_bg ($menu_01_mega_menu_bg...);
                    
                    .mm_title{
                        display: block;
                        @include nq_font ($menu_01_mega_menu_mm_title_font...);
                        @include nq_padding ($menu_01_mega_menu_mm_title_padding...);
                        @include nq_margin ($menu_01_mega_menu_mm_title_margin...);
                        &:hover{
                            @include nq_font ($menu_01_mega_menu_mm_title_hover_font...);
                            @include nq_bg ($menu_01_mega_menu_mm_title_hover_bg...);
                        }
                    }

                    > li{
                        width: 20%;
                        float: left;
                        @include nq_padding ($menu_01_mega_menu_li_padding...);
                        @include nq_margin ($menu_01_mega_menu_li_margin...);
                        &:nth-child(5n+1){
                            clear: both;
                        }
                        ul {
                            li{
                                display: block;
                                width: 100%;
                                @include nq_padding ($menu_01_mega_menu_ul_li_padding...);
                                @include nq_margin ($menu_01_mega_menu_ul_li_margin...);
                                @include nq_border ($menu_01_mega_menu_ul_li_border...);
                                a{
                                    @include nq_padding ($menu_01_mega_menu_a_padding...);
                                    @include nq_font ($menu_01_mega_menu_a_font...);
                                    &:hover{
                                        @include nq_font ($menu_01_mega_menu_a_hover_active_font...);
                                        @include nq_bg ($menu_01_mega_menu_a_hover_active_bg...);
                                    }
                                }
                                &.active > a, &:hover > a{
                                    @include nq_font ($menu_01_mega_menu_a_hover_active_font...);
                                    @include nq_bg ($menu_01_mega_menu_a_hover_active_bg...);
                                }
                            }
                        }
                        &:hover > a{
                            @include nq_font ($menu_01_mega_menu_mm_title_hover_font...);
                            @include nq_bg ($menu_01_mega_menu_mm_title_hover_bg...);
                        }
                    }
                }
            } @else{
                .mega-menu{
                    display: none !important;
                }
            }
            /* Mega Menu E */

            /* Tab Menu S */
            @if $menu_01_tab_menu == "true"{
                .tab-menu{
                    display: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    @include nq_padding ($menu_01_tab_menu_padding...);
                    @include nq_bg ($menu_01_tab_menu_bg...);
                    
                    > li{
                        @include nq_margin ($menu_01_tab_menu_li_margin...);
                        @include nq_padding ($menu_01_tab_menu_li_padding...);
                        @include nq_border ($menu_01_tab_menu_li_border...);
                        width: 200px;
                        display: block;
                        float: none;
                        &:last-child{
                            border-bottom: none;
                        }
                        > a{
                            @include nq_padding ($menu_01_tab_menu_a_padding...);
                            @include nq_font ($menu_01_tab_menu_a_font...);
                            &:hover{
                                @include nq_font ($menu_01_tab_menu_a_hover_font...);
                                @include nq_bg ($menu_01_tab_menu_a_hover_bg...);
                            }
                        }
                        &:first-child{
                            ul{
                                display: block;
                            }
                        }
                        > ul {
                            display: none;
                            position: absolute;
                            z-index: 9;
                            left: 215px;
                            top: 0;
                            width: calc(100% - 215px);
                            @include nq_padding ($menu_01_tab_menu_ul_padding...);
                            @include nq_bg ($menu_01_tab_menu_ul_bg...);
                            > li{
                                float: left;
                                width: 25%;
                                .tm_title{
                                    display: block;
                                    @include nq_font ($menu_01_tab_menu_tm_title_font...);
                                    @include nq_margin ($menu_01_tab_menu_tm_title_margin...);
                                    @include nq_padding ($menu_01_tab_menu_tm_title_padding...);
                                    &:hover{
                                        @include nq_font ($menu_01_tab_menu_tm_title_hover_font...);
                                        @include nq_bg ($menu_01_tab_menu_tm_title_hover_bg...);
                                    }
                                }
                                ul {
                                    li{
                                        display: block;
                                        width: 100%;
                                        @include nq_margin ($menu_01_tab_menu_ul_li_margin...);
                                        @include nq_padding ($menu_01_tab_menu_ul_li_padding...);
                                        a{
                                            @include nq_padding ($menu_01_tab_menu_ul_li_a_padding...);
                                            @include nq_font ($menu_01_tab_menu_ul_li_a_font...);
                                            &:hover{
                                                @include nq_font ($menu_01_tab_menu_ul_li_a_hover_active_font...);
                                                @include nq_bg ($menu_01_tab_menu_ul_li_a_hover_active_bg...);
                                            }
                                        }
                                        &.active{
                                            > a{
                                                @include nq_font ($menu_01_tab_menu_ul_li_a_hover_active_font...);
                                                @include nq_bg ($menu_01_tab_menu_ul_li_a_hover_active_bg...);
                                            }
                                        }
                                    }
                                }
                                &.active > a, &:hover > a{
                                    @include nq_font ($menu_01_tab_menu_tm_title_hover_font...);
                                    @include nq_bg ($menu_01_tab_menu_tm_title_hover_bg...);
                                }
                            }
                        }
                        &.active{
                            @include nq_border ($menu_01_tab_menu_li_hover_active_border...);
                            > ul {
                                display: block;
                                z-index: 9;
                            }
                        }
                        &:hover{
                            @include nq_border ($menu_01_tab_menu_li_hover_active_border...);
                            > ul {
                                display: block;
                                z-index: 99;
                            }
                        }
                        &.active > a, &:hover > a{
                            @include nq_font ($menu_01_tab_menu_a_hover_font...);
                            @include nq_bg ($menu_01_tab_menu_a_hover_bg...);
                        }
                    }
                    .thumbnail-container{
                        @include nq_imgthum ($menu_01_tab_menu_imgthum);
                        @include nq_bg ($menu_01_tab_menu_thumbnail_container_bg...);
                    }
                }
            } @else{
                .tab-menu{
                    display: none !important;
                }
            }
            /* Tab Menu E */
        }
    }
    .is-open, .menu__open, .menu__close, .menu_mobile_visibility{
        display: none !important;
    }
    .col_half{
        width: 50%;
        float: left;
        display: block;
        &.left{
            padding-right: 50px;
        }
        &.right{
            padding-left: 50px;
        }
    }
    .header-gap{
        margin-top: 51px;
    }
}

@media (max-width: $menu_01_responsive_media){    
    .menu {
        @include nq_margin ($menu_01_mobile_margin...);
        @include nq_padding ($menu_01_mobile_padding...);
        @include nq_bg ($menu_01_mobile_bg...);
        @include css3-prefix ('transition','all 0.5s ease-in-out');
        width: nq-width($menu_01_mobile_width);
        left: nq-width(-$menu_01_mobile_width - 20);
        position: fixed;
        z-index: 999;
        overflow-x: scroll;        
        bottom: 0;
        top: 0;        
        ul {
            @include nq_margin ($menu_01_mobile_ul_margin...);
            @include nq_padding ($menu_01_mobile_ul_padding...);
            list-style: none;
            position: relative;
            z-index: 9;
            li {
                @include nq_margin ($menu_01_mobile_li_margin...);
                @include nq_padding ($menu_01_mobile_li_padding...);
                @include nq_border ($menu_01_mobile_li_border...);
                clear: both;
                &:last-child{
                    border-bottom: none;
                }
                &:after{
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }
                a{
                    @include nq_padding ($menu_01_mobile_a_padding...);
                    @include nq_font ($menu_01_mobile_a_font...);
                    display: block;
                }
                &.active{
                    > a{
                        @include nq_font ($menu_01_mobile_a_active_font...);
                    }
                }
                ul {
                    display: none;
                    min-height: auto !important;
                    clear: both;
                    li{
                        a{
                            @include nq_padding ($menu_01_mobile_ul_li_a_padding...);
                        }
                    }
                }
            }
        }
    }

    .menu_open_close{
        position: relative;
        @include nq_align ($menu_01_menu_open_close_align...);
        @include nq_margin ($menu_01_menu_open_close_margin...);
        .menu__open{
            @include nq_border ($menu_01_menu_open_border...);
            @include nq_align ($menu_01_menu_open_align...);
            position: relative;
            width: 32px;
            height: 22px;
            z-index: 99;
            display: inline-block;
            &:before, &:after{
                position: absolute;
                content: ' ';
                height: 2px;
                width: 32px;
                @include nq_bg ($menu_01_menu_open_before_after_bg...)
            }
            &:before{
                top: 0;
            }
            &:after{
                bottom: calc(50% - 2px);
            }
        }

        .menu__close {
            position: relative;
            width: 32px;
            height: 22px;
            z-index: 99;
            display: none;
            @include nq_align ($menu_01_menu_open_align...);
            &:before, &:after{
                position: absolute;
                left: 15px;
                top: -5px;
                content: ' ';
                height: 33px;
                width: 2px;
                @include nq_bg ($menu_01_menu_close_before_after_bg...)
            }
            &:before{
                @include css3-prefix ('transform', rotate(45deg));
            }
            &:after{
                @include css3-prefix ('transform', rotate(-45deg));
            }
        }
    }    
    
    .is-open{
        position: relative;
        z-index: 99;
        float: right;
        width: 40px;
        height: 32px;
        &:before, &:after{
            position: absolute;
            content: '';
            @include nq_bg ($menu_01_mobile_is_open_bg...);
        }
        &:before{            
            width: 11px;
            height: 1px;
            top: 50%;
            left: 37%;
        }
        &:after{
            width: 1px;
            height: 11px;
            top: calc(50% - 5px);
            left: 50%;
        }
        &.is-close{
            &:after{
                display: none;
            }
        }
    }

    .is-open-a > a{
        float: left;
        width: calc(100% - 40px);
        @include nq_border ($menu_01_mobile_is_open_a_border...);
    }

    .menu .is-open.is-close ~ ul {
        display: block;
        li{
            &:first-child{
                @include nq_border ($menu_01_mobile_is_open_first_child_border...);
            }
        }
    }

    .menu-hidden{
        display: none;
    }
    
    /* Only Mobile Menu Top Design S */
        .menu_mobile_visibility{
            @include nq_bg ($menu_01_menu_mobile_visibility_bg...)
            @include nq_padding ($menu_01_menu_mobile_visibility_padding...)
            a{
                display: block;
            }
        }
    /* Only Mobile Menu Top Design E */

    /* Menu Overlap S */
        .menu_overlap {
            position: relative;
            overflow: hidden;
            .nav-overlay {
                @include nq_bg ($menu_01_mobile_nav_overlay_bg...);
                position: fixed;
                z-index: 99;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    /* Menu Overlap E */

    .col_half {
        > ul > li:last-child{
            @include nq_border ($menu_01_col_half_border...)
        }
        .navbar-left, .navbar-right{
            float: none !important;
        }
    }
}

/* Hide Header on on scroll down S */
    @media (min-width: $menu_01_responsive_media + 1px){
        header{
            position: fixed;
            z-index: 9;
            top: 0;
            width: 100%;
        }
        header.nav-up{
            //top: -58px;
        }
    }

    @media (max-width: $menu_01_responsive_media){ 
        header.mobile-stick{
            .menu_open_close{
                position: fixed;
                z-index: 999;
                right: 0;
                top: 0;
                @include nq_padding ($menu_01_mobile_stick_padding...);
                @include nq_margin ($menu_01_mobile_stick_margin...);
                @include nq_bg ($menu_01_mobile_stick_bg...);
                @include css3-prefix ('border-radius', '2px');
                @include css3-prefix ('transform', 'scale(0.7)');
            }
        }
    }
/* Hide Header on on scroll down E */