@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hjolnm');
  src:  url('../fonts/icomoon.eot?hjolnm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hjolnm') format('truetype'),
    url('../fonts/icomoon.woff?hjolnm') format('woff'),
    url('../fonts/icomoon.svg?hjolnm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-construction:before {
  content: "\e907";
}
.icon-notebook:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-congratulation:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
