/* - - - - - - - - - - - - 
* Update Date: 20 11 2019
- - - - - - - - - - - - - */

@import 'our_recent_work_detail_variables';
@import 'our_recent_work_detail_temp_variables';

.ourwork_detail{
    /* Default Setting S */
        position: relative;
        z-index: 1;
        @include nq_bg($ourwork_detail_bg...);
    /* Default Setting E */
    
    .detail-img{
        max-width: 700px;
        width: 100%;
        float: left;
        margin:0 30px 15px 0;
        background-color:lighten($primary,76%);
        position: relative;
        z-index: 1;
        @media(max-width:1199px){
            max-width: 45%;
        }
        @media(max-width:479px){
            margin-right:0; 
            max-width: 100%;
        }
    }
    .thumbnail-container {
        @include nq_imgthum ($ourwork_detail_imgthum...)
    }

    .nqtitle{
        position: relative;
        z-index: 1;
    }
    .place_title{
        position: relative;
        z-index: 1;
    }
    p{
        position: relative;
        z-index: 1;
    }

    .detail_bg{
        position: relative;
        &:before{
            position: absolute;
            content: "";
            background: url(../images/build-home-bg.png);
            top: 180px;
            left: -15px;
            right: -15px;
            bottom: 0;
            opacity: 0.7;
        }
    }

    .place_title{
        color: $secondary;
        font-size: 14px;
        display: block;
        margin-bottom: 15px;
    }
}