/* - - - - - - - - - - - - 
* Update Date: 10 12 2019
- - - - - - - - - - - - - */

@import "buildhome_listing_variables";
@import "buildhome_listing_temp_variables";

.buildhome_list{
    position: relative;
    padding: 70px 0;
    @media(max-width: 1199px){
        padding: 40px 0;
    }
    @media(max-width: 767px){
        padding: 20px 0 50px;
    }
    .home-list{
        text-align: center;
        margin-bottom: 50px;
        @include css3-prefix ('transition', 'all 0.3s ease-in-out');
        h2,.home-title{
            /* @include home-title; */
            @include nq_font($home_title...);
            margin: 0 0 20px;
            color: $quaternary;
            @include css3-prefix ('transition', 'all 0.3s ease-in-out');
        }
        .home-box{
            position: relative;
            overflow: hidden;
            p{
                position: absolute;
                top: -15px;
                left: 30px;
                right: 30px;
                z-index: 1;
                height:42px;
                overflow: hidden;
                @include nq_font($home_para_font...);
                @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                opacity: 0;
                @include respond-below (md_lg) {
                    opacity: 1;
                    top: 15px;
                }
            }
            .thumbnail-container{
                padding-bottom: 150%;
                border:1px solid $quaternary-light;
                background: $quaternary-light;
                margin: 0;
                @include css3-prefix ('transition', 'all 0.3s ease-in-out');
            }
            .home-list-btn{
                position: absolute;
                bottom: 20px;
                right: 0;
                left: 0;
                .btn-tertiary{                       
                    span{
                        @include nq_btn ($nq_tertiary_btn_span...);
                        border-bottom: 1px solid $quaternary-lighter;
                        @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                    }
                    i{
                        @include nq_btn ($nq_tertiary_btn_i...);
                        @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                    }
                }
                &:hover{
                    @include respond-above (md_lg) {
                        .btn-tertiary{
                            color: $primary;
                            span{
                                margin:0 8px 0 0;
                            }
                        }
                    }
                }
            }                
        }
        &:hover{
            @include respond-above (md_lg) {
                .home-title{
                    color: lighten($primary,40%);
                }
                .home-box{
                    p{
                        opacity: 1;
                        top: 15px;
                    }
                    @media(min-width: 1199px){
                        .thumbnail-container{
                            background: $white;
                        }
                    }
                }
            }
        }
    }
    .owl-dots{
        @media(max-width: 1199px){
            bottom: -30px;
        }
    }
    .pagination{
        margin: 10px 0;
        @media(max-width: 767px){
            margin: 10px 0 20px;
        }
    }

}