/* - - - - - - - - - - - - 
* Update Date: 10 12 2019
- - - - - - - - - - - - - */
$career_01_title_font:(
    font-size: 22,
    font-weight: 400,
    line-height: 140
);
$career_01_title_a_link:(
    color: $primary,
    color-h: $secondary,
);
$search_content_font:(
     font-weight: 600,
     font-size:16,     
);
$search_content_767_font:(
    font-size: 14,
);
