/* - - - - - - - - - - - - 
* Update Date: 10 12 2019
- - - - - - - - - - - - - */

@import "buildhome_listing_variables";
@import "buildhome_listing_temp_variables";

.building-home{
    padding:75px 0 50px;
    .bsub-list{
        margin-bottom: 30px;
        .blist-image{
            background: $quaternary-light;
            .thumbnail-container{
                padding-bottom: 100%; 
            }
        }
        .buildhome-box{
            padding: 15px;
            @include css3-prefix('box-shadow', 0 0 12px rgba($black,0.08));
            background: $white;
            h3{
                height: 30px;
                overflow: hidden;
                .category-title{
                    margin-bottom: 5px;
                    @include nq_font ($career_01_title_font...);
                    color: $quaternary;
                    @media(min-width:1200px){
                        &:hover{
                            color:lighten($primary,40%);
                        }
                    }
                }
            }
            .desc{
                height: 42px;
                overflow: hidden;
                margin: 8px 0 0;
                @media(max-width: 767px){
                    margin: 5px 0 0;
                }
            }
        }
    }
    .bhomelist-title{
        margin: 0 0 40px;
        .sub-title{
            @media(max-width: 568px){
                margin: 0 0 20px;
            }            
        }
        .sorting_sec{              
              padding: 15px 25px;
              background: lighten($primary,40%);
              @include css3-prefix ('border-radius','100px');
              max-width: 337px;
              @media(max-width: 1199px){
                padding: 15px;
              }
              @media(max-width: 568px){
                max-width: 320px;
                margin: 0 auto;
              }
            .sort_by{
                span{
                    vertical-align: middle;
                    @include nq_font ($search_content_font...);
                    @media(max-width: 767px){
                        @include nq_font ($search_content_767_font...);
                    }
                    .text{

                    }
                }
                .bootstrap-select{
                    .selectpicker{
                        option{
                            color: $white;
                        }
                    }
                    .btn{
                        &.dropdown-toggle{
                            border-bottom: 1px solid $white !important;
                            padding: 5px !important;
                            .filter-option{
                                .filter-option-inner-inner{
                                    color: $quaternary;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottm-title{
        margin: 30px 0 0;
        padding: 40px 0 0;
        border-top: 1px solid lighten($tertiary,40%);        
        @media(max-width: 767px){
            margin: 10px 0 0;
            padding: 30px 0 0;
           text-align: center;
        }
        .nqtitle{
            margin-bottom: 10px;
        }
    }
    .building-home-bottom{
        margin: 30px 0 0;
        @media(max-width: 767px){
            margin: 15px 0 0;
        }
        .home-list{
            margin: 0;
        }
        .owl-dots{
            bottom: -30px;
        }
    }
}