/* - - - - - - - - - - - - 
* Update Date: 12 11 2019
- - - - - - - - - - - - - */
/* Default Setting S */
	$notfound_01_container:container;
/* Default Setting E */
$notfound_01_margin: 113 0 0 0;
$notfound_01_padding: 50 0 90 0;

$notfound_01_lg_margin: 60 0 0 0;
$notfound_01_lg_padding: 30 0 50 0;

$notfound_01_md_lg_margin: 30 0 0 0;
$notfound_01_md_lg_padding: 5 0 50 0;

$notfound_01_sm_margin: 20 0 0 0;
$notfound_01_sm_padding: 7 15 20 15;

$notfound_01_xs_padding: 10 15 20 15;

$notfound_01_xss_padding: 22 15 20 15;

$notfound_01_bg:(
    background-color: lighten($primary,40%),
);

$notfound_01_nq_container_padding:30;
$notfound_01_nq_container_sm_padding:15;
$notfound_01_msg_404_font:(
    font-size: 210,
    font-weight: 700,
    line-height: 100,
    color: lighten($primary,40%),
);
$notfound_01_msg_sm_404_font:(
    font-size: 140,
);
$notfound_01_msg_xs_404_font:(
    font-size: 120,
);
$notfound_01_msg_xss_404_font:(
    font-size: 70,
);
$notfound_01_oops_msg_font:(
    font-size: 32,
    line-height: 100,
    font-family: $font_family_01,
    font-weight: 500,
    color: $quaternary,
);
$notfound_01_oops_msg_sm_404_font:(
    font-size: 24,
);
$notfound_01_oops_msg_xs_404_font:(
    font-size: 17,
);
$notfound_01_oops_msg_xss_404_font:(
    font-size: 14,
);
$notfound_01_oops_msg_xss_margin:10 0 0 0;
$notfound_01_backhome_margin: 35 0 0 0;
$notfound_01_backhome_btn_primary_padding: 14 36;
$notfound_01_backhome_btn_primary_padding_1199: 12 32;
$notfound_01_backhome_btn_primary_padding_767: 10 28;
$notfound_01_backhome_btn_primary_padding: 14 36;
$notfound_01_backhome_btn_primary_i_margin:3;
$notfound_01_backhome_backhome_sm_margin: 20 0 0 0;