/* - - - - - - - - - - - - 
* Update Date: 19 11 2019
- - - - - - - - - - - - - */

@import '404_01_variables';
@import '404_01_temp_variables';

.notfound_01 {
    /* Default Setting S */
        position: relative;
        z-index: 1;
        
        @include d-flex();
        @include justify-center();
        @include align-items-center();
        @include nq_margin ($notfound_01_margin...);
        @include nq_padding ($notfound_01_padding...);
        @include nq_container ($notfound_01_container...);
        // @include nq_bg ($notfound_01_bg...);
        // background-image: url(../images/inner-banner-bg.png);
        /* background-image: url('#{$nq_image}themebanner404.jpg'); */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @include respond-below(lg){
            @include nq_margin ($notfound_01_lg_margin...);
            @include nq_padding ($notfound_01_lg_padding...);
        }
        @include respond-below(md_lg){
            @include nq_margin ($notfound_01_md_lg_margin...);
            @include nq_padding ($notfound_01_md_lg_padding...);
        }
        @include respond-below(sm){
            @include nq_margin ($notfound_01_sm_margin...);
            @include nq_padding ($notfound_01_sm_padding...);
        }
        @media(min-width: 600px) and (max-width: 601px){
            min-height: 550px !important;
        }
        @include respond-below(xs){
            @include nq_padding ($notfound_01_xs_padding...);
        }
        @include respond-below(xss){
            @include nq_padding ($notfound_01_xss_padding...);
        }
    /* Default Setting E */
        .nq_container{
            .notfound_box{
                background-image: url(../images/build-home-bg.png);
                max-width: 600px;
                @include nq_padding ($notfound_01_nq_container_padding...);
                @include respond-below(sm){
                    @include nq_padding ($notfound_01_nq_container_sm_padding...);
                }
                .msg_404{
                    .four{
                        @include nq_font($notfound_01_msg_404_font...);
                        @include respond-below(sm){
                            @include nq_font($notfound_01_msg_sm_404_font...);
                        }
                        @include respond-below(xs){
                            @include nq_font($notfound_01_msg_xs_404_font...);
                        }
                        @include respond-below(xss){
                            @include nq_font($notfound_01_msg_xss_404_font...);
                        }
                    }
                }
                .oops_msg{
                    @include nq_font($notfound_01_oops_msg_font...);
                    @include respond-below(sm){
                        @include nq_font($notfound_01_oops_msg_sm_404_font...);
                    }
                    @include respond-below(xs){
                        @include nq_font($notfound_01_oops_msg_xs_404_font...);
                    }
                    @include respond-below(xss){
                        @include nq_font($notfound_01_oops_msg_xss_404_font...);
                        @include nq_margin ($notfound_01_oops_msg_xss_margin...);
                    }
                }
                .backhome{
                    @include nq_margin ($notfound_01_backhome_margin...);
                    .btn-primary{
                        display: inline-block;
                        @include nq_padding ($notfound_01_backhome_btn_primary_padding...);
                        @media(max-wdith:1199px){
                            @include nq_padding ($notfound_01_backhome_btn_primary_padding_1199...);
                        }
                        @media(max-wdith:767px){
                            @include nq_padding ($notfound_01_backhome_btn_primary_padding_767...);
                        }
                        i{
                            @include nq_margin ($notfound_01_backhome_btn_primary_i_margin...);
                        }
                    }
                    @include respond-below(sm){
                        @include nq_margin ($notfound_01_backhome_backhome_sm_margin...);
                    }
                    
                }
            }
        }
}
