/* - - - - - - - - - - - - 
* Update Date: 07 11 2019
- - - - - - - - - - - - - */

@import 'banner_01_variables';
@import 'banner_01_temp_variables';

.banner_01 {
    position: relative;
    @include nq_container ($banner_01_container...);    
    @if $banner_01_margin_top != null {
        @media (min-width: 1025px){
            margin-top: $banner_01_margin_top + px;
        }
    }   
    .fill {
        @include nq_bg ($banner_01_fill_bg...);
        height: $banner_01_height;
        @media(max-width: 1199px){
            height: calc(100vh - 150px);
        }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
            height: calc(100vh - 150px) !important; 
        }
        @media(max-width: 825px){    
            height: 100vh;
        } 
        @media(max-width: 480px){    
            height: calc(100vh - 200px); 
        } 
    }
    .caption{
        position: absolute;
        z-index: 10;
        top: 172px;
        left: 0;
        right: 0;
        text-align: center;        
        @media(max-width: 1199px){
            text-align: left;
            top: 110px;
        }
        @media(max-width: 992px){
            top: 160px; 
        }
        @media(max-width: 567px){
            top: 110px;     
        }
        @media(max-width: 320px){
            width: auto;
        }
    }
    .small_title {
        @include nq_font($banner_01_small_title_font...);        
        @media only screen and (min-device-width : 320px) and (max-device-width : 825px) and (orientation : landscape) {            
            @include css3-prefix('text-shadow', 1px 1px 26px rgba($black,0.65)); 
        }
        @media (max-width: 767px) {
            @include nq_font($banner_01_small_title_767_font...);             
        }
        @media (max-width: 567px) {
            @include nq_font($banner_01_small_title_567_font...); 
        }
    }
    .owl-carousel{
        .owl-dots{
            bottom: 40px;
            .owl-dot{
                span{
                    background-color: $black;
                    &:before{
                        border:1px solid $black;
                    }
                }
                &.active{
                    span{
                        background-color: $black;
                    }
                }
                &:hover{
                    span{
                        background-color: $black !important;
                    }
                }
            }
        }
    }
}