/* - - - - - - - - - - - - 
* Update Date: 07 11 2019
- - - - - - - - - - - - - */

$banner_01_container:null;
$banner_01_margin_top:0;
$banner_01_height-bottom-remove:100;
$banner_01_height: 100vh;
$banner_01_fill_bg:(
	background-color: rgba($black,0.1),
	background-repeat: no-repeat,
	background-size: cover,
	background-position: center center,
);


$banner_01_small_title_font:(
	font-size: 42,
	font-weight: $font_weight_02,
	font-family: $font_family_02,
	line-height: 140, 
	color: $secondary,
	letter-spacing: 1,  
);
$banner_01_small_title_767_font:(
	font-size: 32,
	font-weight: $body_font_weight,
);
$banner_01_small_title_567_font:(
	font-size: 22,
	letter-spacing: 0.2,
);