/* - - - - - - - - - - - - 
* Update Date: 11 12 2019
- - - - - - - - - - - - - */
// $work_listing_title:(
// 	font-size: 26,
//     font-family: $font_family_01,
//     color: lighten($primary,40%),
// );
// $work_listing_1199_title:(
// 	font-size: 22,
// );
// $work_listing_767_title:(
// 	font-size: 20,
// );
// $work_listing_title_span:(
// 	font-size: $body_font_size,
//     font-family: $font_family_01,
//     color: $secondary,
// );
// $work_listing_title_1199_span:(
// 	font-size: $body_font_size - 2,
// );
// $work_listing_para:(
// 	font-size: 16,
// );
// $work_listing_767_para:(
// 	font-size: 14,
// );

$work_title:(
	font-size: 26,
    font-family: $font_family_01,
    color: lighten($primary,40%),
);
$work_title_1199:(
	font-size: 22,
);
$work_title_767:(
	font-size: 20,
);
$work_title_span:(
	font-size: 14,
    font-family: $font_family_01,
    color: $secondary,
);
$work_title_span_1199:(
	font-size: 12,
);
$work_desc_para:(
	font-size: 16,
    font-family: $font_family_01,
    font-weight: $font_weight_01,
    color: $quaternary,
    line-height: 160,
);
$work_desc_para_767:(
	font-size: 14,
);