/* - - - - - - - - - - - - 
* Update Date: 11 12 2019
- - - - - - - - - - - - - */

@import 'our_recent_work_listing_variables';
@import 'our_recent_work_listing_temp_variables';

// .ourworks_list {
//     padding: 70px 0;
//     @media(max-width: 1199px){
//         padding: 40px 0 30px;
//     }
//     @media(max-width: 767px){
//         padding: 40px 0 20px;
//     }
//     .single_works_list{
//         margin-bottom: 40px;
//         @include css3-prefix('border-radius','0');
//         @include css3-prefix('border','0');
//         @include css3-prefix('box-shadow','0 0 12px rgba(0,0,0,.08)');
//         @include css3-prefix('transition','all .5s ease-in-out');        
//         position: relative;
//         z-index: 1;
//         height: 300px;
//         margin-bottom: 40px;
//         overflow: hidden;
//         background: url(../images/build-home-bg.png);
//         @media(max-width: 1199px){
//             height: auto;
//         }
//         @media(max-width: 767px){
//             background: none;
//             box-shadow: none;
//             border-bottom: 1px solid rgba($primary,0.1);
//             padding: 0 0 15px;
//             margin-bottom: 15px;
//         }
//         &:hover{
//             @media(min-width: 1199px){
//                 @include css3-prefix('box-shadow','0px 0px 13px 6px rgba(0,0,0,0.09)');
//             }
//         }
//         .work-image{
//             flex: 50% 0 0;
//             @media(max-width: 1199px){
//                 flex: 40% 0 0;
//             }
//             @media(max-width: 767px){
//                 width: 40%;
//                 float: left;
//                 display: inline-block;
//                 margin: 0 15px 0 0;
//             }
//             @media(max-width: 479px){
//                 width: 100%;
//                 float: none;
//                 display: block;
//                 margin: 0 0 8px;
//             }
//             .thumbnail_container{            
//                 background-color: lighten($black,95%);
//                 padding-bottom: 66.7%;
//             }
//         }
//         .work-body{      
//             padding: 30px;            
//             @media(max-width: 1199px){
//                 padding: 15px 15px 20px;
//             }      
//             @media(max-width: 767px){
//                 padding: 0;
//             }
//             .work-title{
//                 .work-name{
//                     @include nq_font($work_listing_title...);
//                     @media(max-width: 1199px){
//                         @include nq_font($work_listing_1199_title...);
//                     }
//                     @media(max-width: 767px){
//                         @include nq_font($work_listing_767_title...);
//                     }
//                     span{
//                         display: block;
//                         @include nq_font($work_listing_title_span...);
//                         @media(max-width: 1199px){
//                             @include nq_font($work_listing_title_1199_span...);                            
//                         }
//                     }
//                 }
//             }
//             .work-desc{
//                 margin: 15px 0 20px;
//                 height: 149px;
//                 overflow: hidden;
//                 @media(max-width: 1199px){
//                     height: 133px;
//                 }
//                 @media(max-width: 991px){
//                     height: 74px;
//                 }
//                 @media(max-width: 767px){
//                     height:102px;
//                     margin: 10px 0;
//                 }
//                 @media(min-width: 600px) and (max-width: 601px){
//                     height: 82px !important;
//                 }
//                 @media(max-width: 479px){
//                     height: 64px;
//                 }
//                 p{
//                     @include nq_font($work_listing_para...);
//                     @media(max-width: 767px){
//                         @include nq_font($work_listing_767_para...);
//                     }
//                 }
//             }
//             .btn-tertiary{
//                 display: inline-block;
//             }
//         }
//     }
//     .pagination {
//         margin: 10px 0 0;
//     }
// }
/* - - - - - - - - - - - - 
* Update Date: 13 11 2019
- - - - - - - - - - - - - */

// @import 'our_recent_work_variables';
// @import 'our_recent_work_temp_variables';

.ourworks_list{
    padding: 60px 0 50px;
    position: relative;
    // &:before{
    //     position: absolute;
    //     content: "";
    //     background: url(../images/build-home-bg.png);
    //     top: 180px;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }
    @media(max-width: 1199px) {
        padding: 40px 0 40px;
    }
    @media(max-width: 767px) {
        padding: 20px 0 40px;
    }
    .btn-secondary{        
        padding: 14px 36px;
        @include respond-below (sm) {
            padding: 12px 20px;
        }
    }
    .recent-work-desc{
        margin-bottom: 70px;
        @include d-flex();        
        @include align-items-row();
        flex: 0 0 100%;
        position: relative;  
        @media(max-width: 1199px){
            margin-bottom: 50px;
        }          
        @media(max-width: 767px){
            display: block;
            margin-bottom: 30px;
        }
        &:last-child{
            margin-bottom: 30px;
        }
        .our-recent-work-image{
            @media(max-width: 767px){
                // margin: 15px 0 0;
            }
            a{
                // @include css3-prefix('transition','all .3s ease-in-out');   
                .thumbnail-container{
                    padding-bottom: 66.6%;
                    img{
                        @include css3-prefix('transition','all .5s ease-in-out');   
                    }
                }
            }
        }
        .our-recent-work-detail{
            padding: 80px 25px  0 50px;
            @media(max-width: 1366px){
                padding: 80px 0 0 42px;
            }
            @media(max-width: 1280px){
                padding: 60px 0 0 42px;
            }
            @media(max-width: 1199px){
                padding:0px 0 0 10px;
            }
            @media(max-width: 767px){
                margin: 15px 0 0;
                padding: 0;
            }           
            h4,.work-name{
                @include nq_font($work_title...);
                @include css3-prefix('transition','all .3s ease-in-out');
                @media(max-width: 1199px){
                    @include nq_font($work_title_1199...);
                }
                @media(max-width: 767px){
                    @include nq_font($work_title_767...);
                }
                &:hover{
                    color: $secondary;
                }
            }
            span{
                display: block; 
                @include nq_font($work_title_span...);                       
                @media(max-width: 1199px){
                    @include nq_font($work_title_span_1199...);
                }
            }            
            .work-desc{
                margin: 35px 0 40px;
                @media(max-width: 1199px){
                    margin: 20px 0;
                }
                p{
                    @include nq_font($work_desc_para...);            
                    @media(max-width: 767px){
                        @include nq_font($work_desc_para_767...);
                    }
                }
            }
            .btn-tertiary{
                span{
                    color: $quaternary;
                }
                &:hover{
                    span{
                        color: $primary;
                    }
                }
            }
        }
    }
}