/* - - - - - - - - - - - - 
* Update Date: 05 11 2019
- - - - - - - - - - - - - */

@import 'footer_02_variables';
@import 'footer_02_temp_variables';

.footer_02{
    @include nq_bg ($footer_02_bg...);
    @include nq_padding ($footer_padding...);
    @include respond-below(sm){
        @include nq_padding ($footer_padding_767...);
    }
    .footer-logo{
        @include nq_padding ($footer_top_padding...);
        @include respond-below (md) {
            padding: 0 0 15px 0;
        }
        a{
            img{
                @media(max-width: 479px){
                    max-width: 70%;
                }
            }
        }
    }
    .footer-contact{
        @media(max-width: 568px){
            display: table;
            margin: 0 auto 20px;
        }
        ul{
            margin: 0;
            padding: 0; 
            list-style-type: none;
            @include d-flex();
            @include justify-end();
            @include align-items-center();
            @include respond-below(sm){
                @include justify-center();
            }
            @media(max-width: 576px){
                @include justify-center();
                margin-top: 15px;
            }
            @media(max-width: 479px){
                display: block;
            }
            li{
                border-right: 1px solid lighten($quaternary ,55%);
                padding:10px 25px 10px 0;
                display: inline-block;
                vertical-align: middle;
                @media(max-width: 1199px){
                    padding: 0 15px 0 0;
                }
                @media(max-width: 479px){
                    display: block;
                    text-align: center;
                    border-right: none;
                }
                &:last-child{
                    border:none;
                }
                + li{
                    padding-left: 25px;
                    @media(max-width: 1199px){
                        padding-left: 15px;
                    }
                    @media(max-width: 767px){
                        border-right: none;
                    }
                    @media(max-width: 479px){
                        margin-top: 15px;
                    }
                }
                a{
                    @include nq_font ($footer_a_font...);
                    @media(max-width: 1199px){
                        @include nq_font ($footer_a_font_1199...);
                    }
                    @media(max-width: 991px){
                        @include nq_font ($footer_a_font_991...);  
                    }
                    &:hover{
                        @media(min-width: 1200px){
                            @include nq_link ($footer_link_a_link...);
                        }
                    }
                    span{
                            display: inline-block;
                            vertical-align: middle;
                        svg{
                            height:38px;
                            width: 38px;
                            @media(max-width: 1199px){
                                height: 32px;
                                width: 32px;
                            }
                            @media(max-width: 767px){
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-social{
        padding: 10px 0 0;
        // margin-left: 25px;
        @media(max-width: 1199px){
            // margin-left: 15px;
            padding: 0;
        }        
        // @media(max-width: 767px){
        //     margin: 0 auto;
        // }
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            @include d-flex();
            @media(max-width: 767px){
                @include justify-center();
                margin-top: 15px;
            }
            @media(max-width: 568px){
                margin: 0;
            }
            li{
                + li{
                    margin-left: 20px;
                    @media(max-width: 767px){
                        margin-left: 10px;
                    }
                }
                a{
                    @include nq_font ($footer_a_font...);
                    width: 40px;
                    height: 40px;
                    i{
                        @include nq_font ($footer_social_i_font...);
                        @include d-flex();
                        @include align-items-center();
                        @include justify-center();
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        border: 1px solid lighten($primary,40%);                        
                        @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                        @media(max-width: 1199px){
                           font-size: 16px;
                           height: 30px;
                           width: 30px;
                        }
                        &:hover{
                            @media(min-width: 1200px){
                                @include nq_link ($footer_social_a_link...);
                            }
                        }
                    }
                }
            }
        }
    }
}