/* - - - - - - - - - - - - 
* Update Date: 18 11 2019
- - - - - - - - - - - - - */

@import 'footer_variables';
@import 'footer_temp_variables';

footer {
    @include nq_bg ($footer_bg...);
    .footer-default {
        border-top: 1px solid $black;
        @include nq_padding ($footer_padding...);
        @include nq_margin ($footer_margin...);
        @media(max-width: 1199px){
            @include nq_margin ($footer_1199_margin...);
            
        }
        .link{
            line-height: 100%;
            @include nq_ulli ($footer_ulli...);
            @media(max-width: 991px){
                margin: 5px 0;
            }
            @media (max-width: 479px){
                @include nq_align ($footer_link_media_align);
                margin:8px 0;
            }
            li{
                @media (max-width: 768px){
                     @include nq_margin ($footer_link_767...);
                }
                @media (max-width: 568px){
                    @include nq_font ($footer_mobile_font...);
                }
                line-height: 100%;
                + li{
                    @include nq_margin ($footer_link_li_li_margin...);
                }
                a{
                    @include nq_font ($footer_link_font...);
                    @include nq_link ($footer_link_a_link...);
                    @media(max-width: 1199px){
                        @include nq_font ($footer_link_1199_font...);
                    }
                }
            }
        }
        .copyright{
            @include nq_font ($footer_copyright_font...);
            @media(max-width: 1199px){
                @include nq_font ($footer_copyright_1199_font...);
                line-height: 120%;
            }
            @media (max-width: 767px){
                @include nq_align ($footer_copyright_media_align);
            }
            @media (max-width: 479px){
                @include nq_font ($footer_mobile_font...);
            }
        }
        .designed{
            position: relative;
            @include nq_font ($footer_designed_font...);
            @media(max-width: 1199px){
                @include nq_margin ($footer_margin_designed...);
                @include nq_font ($footer_designed_1199_font...);
            }
            @media (max-width: 767px){
                @include nq_align ($footer_designed_media_align);
            }
            @media (max-width: 479px){
                @include nq_font ($footer_mobile_font...);
            }
        }
        .netclues_logo{
            @include css3-prefix ('transition', 'all 0.5s ease-in-out');
            position: relative;
            display: inline-block;
            top: 1px;
            height: 15px;
            width: 59px;
            @include nq_bg ($footer_netclues_logo_bg...);
        }
    }
}