/* - - - - - - - - - - - - 
* Update Date: 18 11 2019
- - - - - - - - - - - - - */

$footer_bg:(
);
$footer_padding:20 0;
$footer_margin: 35 0 0 0;
$footer_1199_margin: 20 0 0 0;
$footer_ulli:(
    margin-ul: 0,
    padding-ul: 0,
    margin-li: 0 5 0 0,
    padding-li: 0,
    display: inline-block,
);
$footer_link_align:left;
$footer_link_media_align: center;
$footer_link_font:(
    font-size: 14,
    font-weight: $font_weight_01,
    line-height: 100,
    color: $black,
);
$footer_link_1199_font:(
    font-size: 13,
);
$footer_link_767:0;
$footer_link_li_li_margin:0 0 0 15;
$footer_link_li_margin:6 0 4;
$footer_link_a_link:(
    color-h: $secondary,
);
$footer_copyright_align:center;
$footer_copyright_font:(
    font-size: 14,
    font-weight: $font_weight_01,
    line-height: 100,
    color: $black,
);
$footer_copyright_1199_font:(
    font-size: 13
);
$footer_copyright_media_align:center;

$footer_designed_align:right;
$footer_designed_font:(
    font-size: 14,
    font-weight: $font_weight_01,
    line-height: 100,
    color: $black,
);
$footer_designed_1199_font:(
    font-size: 13
);
$footer_designed_media_align: center;
$footer_netclues_logo_bg:(
    background-image: 'netclues-logo.svg',
    background-size: 100% 100%,
);
$footer_netclues_logo_hover_bg:(
    background-position: 0 -17px
);
$footer_margin_designed: 0 0 0 -10;
$footer_mobile_font:13;