/* - - - - - - - - - - - - 
* Update Date: 05 11 2019
- - - - - - - - - - - - - */
$footer_02_bg:(
	background-image: 'footer-bg2.png',
    background-repeat: no-repeat,
    background-position: bottom center,
    background-size: cover,
);
$footer_padding:40 0 0 0;
$footer_padding_767:30 0 0 0;
$footer_top_padding:0 0 40 0;
$footer_i_font:(
    font-size: 40,
    color:$secondary,
    font-weight: $font_weight_05,
    line-height: 100,
);
$footer_i_1024_font: (
    font-size: 34,
);
$footer_i_767_font: (
    font-size: 28,
);
$footer_a_font:(
    font-size: 26,
    font-weight: 400,
    color: lighten($primary,40%),
);
$footer_a_font_1199:(
    font-size: 22,
);
$footer_a_font_991:(
    font-size: 16,
);
$footer_link_a_link:(
	color-h: $secondary,
);
$footer_social_a_link:(
	background-color-h: lighten($primary,40%),
	color-h: $white,
);
$footer_social_i_font:(
    font-size: 20,
    font-weight: 500,
    color: $secondary,
);