/* - - - - - - - - - - - - 
* Update Date: 20 11 2019
- - - - - - - - - - - - - */

@import 'build-home_temp_variables';
@import 'build-home_variables';

.buildhome_detail{	
    .detail-top{
        margin: 0 0 40px;
        padding: 0 0 40px;
        border-bottom: 1px solid $quaternary-light;
        @media(max-width: 1199px){
            margin: 0 0 30px;
            padding: 0 0 30px;
        }
        .detail-slider{
            width: 400px;
            margin:0 20px 40px 0;
            float: left;
            @media(max-width: 1199px){
                width: 340px;
            }
            @media(max-width: 767px){
                width: 260px;
            }
            @media(max-width: 479px){
                margin: 0 auto 40px;
                float: none;
            }
            .thumbnail-container{
                padding-bottom: 150%;
                background:$quaternary-light;
            }
            .owl-dots{
                bottom: -25px;
            }
        }
    }
    .bottm-title{
        @media(max-width: 767px){
            text-align: center;
        }
    }
	.building-home-bottom{
        margin:40px 0 0;
        @include respond-below (md) {
            margin: 30px 0 0;
        }
        .home-list{
            text-align: center;
            width: 20%;
            @include css3-prefix ('transition', 'all 0.3s ease-in-out');
            h2,.home-title{                
                @include nq_font($home_title...);
                margin: 0 0 20px;                
                @include css3-prefix ('transition', 'all 0.3s ease-in-out');
            }
            .home-box{
                position: relative;
                overflow: hidden;
                p{
                    position: absolute;
                    top: -15px;
                    left: 30px;
                    right: 30px;
                    z-index: 1;
                    height:42px;
                    overflow: hidden;
                    @include nq_font($home_para_font...);
                    @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                    opacity: 0;
                    @include respond-below (md_lg) {
                        opacity: 1;
                        top: 15px;
                    }
                }
                .thumbnail-container{
                    padding-bottom: 150%;
                    border:1px solid $quaternary-light;
                    background: $quaternary-light;
                    margin: 0;
                    @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                }
                .home-list-btn{
                    position: absolute;
                    bottom: 20px;
                    right: 0;
                    left: 0;
                }                
            }
            &:hover{
                @include respond-above (md_lg) {
                    h2,.home-title{
                        color: lighten($primary,40%);
                    }
                    .home-box{
                        p{
                            opacity: 1;
                            top: 15px;
                        }
                        @media(min-width: 1199px){
                            .thumbnail-container{
                                background: $white;
                            }
                        }
                    }
                }
            }
        }
        .owl-dots{
            @media(max-width: 1199px){
                bottom: 20px;
            }
        }
    }
    .detail-gallery{              
        margin:0 0 40px;
        @media(max-width: 1199px){
            padding: 20px 0 0;
            margin: 30px 0;
        }
        @media(max-width: 767px){
            text-align: center;
        }
        .nqtitle{
            margin-bottom: 30px;
            @media(max-width: 1199px){
                margin-bottom: 15px;
            }
        }
        .detail-gallery-slider{
            .image_hover{
                @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                .thumbnail-container{
                    padding-bottom: 100%;
                    background-color: $quaternary-light;
                    .thumbnail{
                        img{
                            @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                        }
                        .fa{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include css3-prefix ('transform', 'translate(-50%,-50%)');                                
                            @include nq_font ($gallery_slider_icon...);
                            background:$primary;
                            border-radius: 100%;
                            @include css3-prefix ('border-radius', '100%');
                            @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                            height: 50px;
                            width: 50px;
                            line-height: 50px;
                            @media(min-width: 1199px){
                                &:hover{
                                    background: lighten($primary,40%);
                                    color: $white;
                               }
                            }
                        }
                    }                 
                }
            }
            .owl-dots{
                bottom: -25px;
            }
        }
    }
}