/* - - - - - - - - - - - - 
* Update Date: 20 11 2019
- - - - - - - - - - - - - */
/* - - - - - - - - - - - - 
* Update Date: 14 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */
$font_size_14: 14;
$font_size_18: 18;
$font_size_22: 22;

$home_title:(
    font-size: $font_size_22,
    letter-spacing: 0,
    font-family: $font_family_01,
    font-weight: $font_weight_01, 
    color: $quaternary,
);

$home_para_font:(
    font-size: 14,
    font-weight: $font_weight_05,
    font-family: $font_family_01,    
    color: $quaternary,
    letter-spacing: 0,
);

$building-home-para: (
    font-size: 16,     
    color: $quaternary,
    font-family: $font_family_01,
);

$building-home-767-para:(
    font-size: 14,  
);

$gallery_slider_icon:(
    font-size: 25,
    color: $secondary,    
);

/* Default Setting E */
