/* - - - - - - - - - - - - 
* Update Date: 07 11 2019
- - - - - - - - - - - - - */

@import 'header_01_variables';
@import 'header_01_temp_variables';

header {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    @media(max-width:1199px){
        position: relative;
    }
    &.header_01{
        .header-section{
            @include nq_bg ($header_01_bg...);
            .container-fluid{
                padding: 0 77px;
                @include respond-below(xl) {
                    padding: 0 45px; 
                }
                @include respond-below(xs) {
                    padding: 0 15px;
                } 
            }
            .hs-left{
                @include nq_margin ($header_01_left_margin...);
                @include nq_padding ($header_01_left_padding...);
                @if $header_01_left_width != null {
                    width: $header_01_left_width + px;
                } @else {
                    width: 87px;
                }
                @include respond-below(lg_xl) {
                    width: 165px;  
                }
                @include respond-below(sm) {
                    margin:10px 0;
                } 
                @include respond-below(xs) {
                    width: 140px;
                } 
                display: block;
                float: left;
                .hs-logo{
                    overflow: hidden;
                    a{
                        display: block;
                    }
                }
            }
            .hs-right{
                float: left;
                @include d-flex();
                @include nq_margin ($header_01_right_margin...);
                @if $header_01_left_width != null {
                    width: calc(100% - #{$header_01_left_width}#{px});
                } @else {
                    width: calc(100% - 87px);
                }
                @media(max-width: 1440px){
                    width: calc(100% - 221px); 
                }
                @include respond-below(lg_xl) {
                    width: calc(100% - 165px);   
                }
                @include respond-below(lg) {
                    @include align-items-row-end();
                    margin:27px 0 0;
                }
                @include respond-below(sm) {
                    margin:14px 0 0 0;   
                }
                @include respond-below(xs) {
                    width: calc(100% - 140px); 
                    margin: 6px 0 0 0;
                }
            }
            .hs-info{
                float: left;
                @include d-flex();
                @include align-items-center();
                @include justify-end();
                text-align: $header_01_info_align;
                @if $header_01_info_width != null {
                    width: $header_01_info_width + px;
                } @else {
                    width: 125px;
                }  
                @media(max-width: 1440px){
                    width: 250px;
                }
                .btn{
                    @include nq_padding ($header_01_info_btn_padding...); 
                    @include nq_margin ($header_01_info_btn_margin...);
                    letter-spacing: $header_01_info_btn_ls; 
                    @include css3-prefix ('border', none);  
                    background-color: lighten($primary,40%);
                    color: $white;
                    @include css3-prefix ('box-shadow', 9.027px 11.98px 7.5px rgba($black,0.06));
                    vertical-align: $header_01_info_btn_align;
                    @include css3-prefix('transition',  "all .5s ease-in-out"); 
                    @include respond-above(lg) {
                        &:hover{
                            background-color: $primary;
                        }    
                    }
                    @include respond-below(lg_xl) {
                        margin: 0 12px 0 0; 
                    }
                    @include respond-below(lg) {
                        margin: 0 25px 0 0; 
                    }
                    @include respond-below(xs) {
                        padding: 14px;
                        margin:0;
                        background-color: transparent;                        
                        @include css3-prefix('box-shadow',  "none");
                    }
                    span{
                        @include respond-below(xs) {
                           display: none; 
                        }
                    }
                    i{
                        display: none;
                        @include respond-below(xs) {
                           display: block; 
                           font-size: 26px;
                           font-weight: 600; 
                           color: $primary;
                        } 
                    }
                }
                .hs-call{
                    @include nq_font ($header_01_info_call_font...); 
                    margin: $header_01_info_call_margin;
                    display: inline-block; 
                    @include respond-above(lg) {
                        &:hover{
                            color: $secondary;
                                    
                        }    
                    }
                    svg{
                        width: 30px;
                        height: 30px;
                    }
                    // i{
                    //     @include nq_font ($header_01_info_call_i_font...);  
                    //     vertical-align: middle;
                    //     margin-right: 8px;  
                    // } 
                    span{
                        @media(max-width: 1440px){
                            display: none;
                        } 
                    }
                    @include respond-below(lg) {
                        display: none; 
                    }
                }   
            }
        }
    }
}

@media (min-width: $menu_01_responsive_media + 1px){
    .menu {
        @include d-flex();
        @include justify-end();
        @include align-items-center();
        @include nq_margin ($menu_01_margin...);
        @include nq_padding ($menu_01_padding...);
        @include nq_bg ($menu_01_bg...);
        position: relative;
        z-index: 99;
        left: inherit !important;
        width: calc(100% - #{$header_01_info_width}#{px}) !important; 
        @media (max-width: 1440px){
            width: calc(100% - 250px) !important; 
        } 
        &:after{
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        ul {
            @include nq_margin ($menu_01_ul_margin...);
            @include nq_padding ($menu_01_ul_padding...);
            list-style: none;
            float: right;
            li {
                @include nq_margin ($menu_01_li_margin...);
                @include nq_padding ($menu_01_li_padding...);
                display: inline-block;
                float: left;
                position: relative;
                a {
                    @include nq_font ($menu_01_a_font...);
                    @include nq_padding ($menu_01_a_padding...);
                    @include nq_margin ($menu_01_a_margin...);
                    display: block;
                    @media(max-width: 1600px){
                        margin-right: 18px;
                    } 
                    @media(max-width: 1280px) and (min-width: 1279px){
                        margin-right: 16px;
                    }                   
                    &:hover {
                        @include nq_font ($menu_01_a_hover_active_font...);
                        @include nq_bg ($menu_01_a_hover_active_bg...);
                    }
                }
                &.active > a, &:hover > a{
                    @include nq_font ($menu_01_a_hover_active_font...);
                    @include nq_bg ($menu_01_a_hover_active_bg...);
                }
                > a {
                    &:after{
                        content: '';
                    }
                    &:only-child{
                        &:after{
                            content: '';
                        }
                    }
                }
                &:hover {
                    > a {
                        &:after{
                            content: '';
                        }
                        &:only-child{
                            &:after{
                                content: '';
                            }
                        }
                    }
                    > .sub-menu, > .mega-menu, > .tab-menu {
                        display: inherit;
                    }
                }
                @media(max-width: 1280px) and (min-width: 1279px){
                    &:last-child{
                        a{
                            margin:0;
                        }
                    }        
                }
            }

            /* Sub Menu S */
            @if $menu_01_sub_menu == "true"{
                .sub-menu {
                    display: none;
                    position: absolute;
                    @include nq_padding ($menu_01_sub_menu_padding...);
                    &:before{
                        @media(min-width: 1200px){
                            position: absolute;
                            content: "";
                            left: 10px;
                            top: -12px;
                            border-top: 12px solid transparent;
                            border-right: 12px solid transparent;
                            border-bottom: 12px solid lighten($primary,40%);
                            border-left: 12px solid transparent;
                            z-index: 0;
                        }
                    }
                    li {
                        @include nq_margin ($menu_01_sub_menu_li_margin...);
                        @include nq_padding ($menu_01_sub_menu_li_padding...);
                        background-color: lighten($primary,40%);
                        width: $menu_01_dropdown_width;
                        float: none;
                        display: list-item;
                        position: relative;

                        a {
                            display: block;
                            @include nq_padding ($menu_01_sub_menu_a_padding...);
                            @include nq_font ($menu_01_sub_menu_a_font...);
                            @include nq_border ($menu_01_sub_menu_a_border...);
                            @include nq_margin($menu_01_sub_menu_li_margin...);
                            &:hover {
                                @include nq_font ($menu_01_sub_menu_a_hover_active_font...);
                                @include nq_bg ($menu_01_sub_menu_a_hover_active_bg...);
                            }
                        }
                        &.active > a, &:hover > a{
                            @include nq_font ($menu_01_sub_menu_a_hover_active_font...);
                            @include nq_bg ($menu_01_sub_menu_a_hover_active_bg...);
                        }
                    }
                    .sub-menu {
                        li {
                            position: relative;
                            top: -42px;
                            left: $menu_01_dropdown_width;
                        }
                    }
                }
            } @else{
                .sub-menu{
                    display: none !important;
                }
            }
            /* Sub Menu E */

            /* Mega Menu S */
            @if $menu_01_mega_menu == "true"{
                .mega-menu{
                    display: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    @include nq_padding ($menu_01_mega_menu_padding...);
                    @include nq_bg ($menu_01_mega_menu_bg...);
                    
                    .mm_title{
                        display: block;
                        @include nq_font ($menu_01_mega_menu_mm_title_font...);
                        @include nq_padding ($menu_01_mega_menu_mm_title_padding...);
                        @include nq_margin ($menu_01_mega_menu_mm_title_margin...);
                        &:hover{
                            @include nq_font ($menu_01_mega_menu_mm_title_hover_font...);
                            @include nq_bg ($menu_01_mega_menu_mm_title_hover_bg...);
                        }
                    }

                    > li{
                        width: 20%;
                        float: left;
                        @include nq_padding ($menu_01_mega_menu_li_padding...);
                        @include nq_margin ($menu_01_mega_menu_li_margin...);
                        &:nth-child(5n+1){
                            clear: both;
                        }
                        ul {
                            li{
                                display: block;
                                width: 100%;
                                @include nq_padding ($menu_01_mega_menu_ul_li_padding...);
                                @include nq_margin ($menu_01_mega_menu_ul_li_margin...);
                                @include nq_border ($menu_01_mega_menu_ul_li_border...);
                                a{
                                    @include nq_padding ($menu_01_mega_menu_a_padding...);
                                    @include nq_font ($menu_01_mega_menu_a_font...);
                                    &:hover{
                                        @include nq_font ($menu_01_mega_menu_a_hover_active_font...);
                                        @include nq_bg ($menu_01_mega_menu_a_hover_active_bg...);
                                    }
                                }
                                &.active > a, &:hover > a{
                                    @include nq_font ($menu_01_mega_menu_a_hover_active_font...);
                                    @include nq_bg ($menu_01_mega_menu_a_hover_active_bg...);
                                }
                            }
                        }
                        &:hover > a{
                            @include nq_font ($menu_01_mega_menu_mm_title_hover_font...);
                            @include nq_bg ($menu_01_mega_menu_mm_title_hover_bg...);
                        }
                    }
                }
            } @else{
                .mega-menu{
                    display: none !important;
                }
            }
            /* Mega Menu E */

            /* Tab Menu S */
            @if $menu_01_tab_menu == "true"{
                .tab-menu{
                    display: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    @include nq_padding ($menu_01_tab_menu_padding...);
                    @include nq_bg ($menu_01_tab_menu_bg...);
                    
                    > li{
                        @include nq_margin ($menu_01_tab_menu_li_margin...);
                        @include nq_padding ($menu_01_tab_menu_li_padding...);
                        @include nq_border ($menu_01_tab_menu_li_border...);
                        width: 200px;
                        display: block;
                        float: none;
                        &:last-child{
                            border-bottom: none;
                        }
                        > a{
                            @include nq_padding ($menu_01_tab_menu_a_padding...);
                            @include nq_font ($menu_01_tab_menu_a_font...);
                            &:hover{
                                @include nq_font ($menu_01_tab_menu_a_hover_font...);
                                @include nq_bg ($menu_01_tab_menu_a_hover_bg...);
                            }
                        }
                        &:first-child{
                            ul{
                                display: block;
                            }
                        }
                        > ul {
                            display: none;
                            position: absolute;
                            z-index: 9;
                            left: 215px;
                            top: 0;
                            width: calc(100% - 215px);
                            @include nq_padding ($menu_01_tab_menu_ul_padding...);
                            @include nq_bg ($menu_01_tab_menu_ul_bg...);
                            > li{
                                float: left;
                                width: 25%;
                                .tm_title{
                                    display: block;
                                    @include nq_font ($menu_01_tab_menu_tm_title_font...);
                                    @include nq_margin ($menu_01_tab_menu_tm_title_margin...);
                                    @include nq_padding ($menu_01_tab_menu_tm_title_padding...);
                                    &:hover{
                                        @include nq_font ($menu_01_tab_menu_tm_title_hover_font...);
                                        @include nq_bg ($menu_01_tab_menu_tm_title_hover_bg...);
                                    }
                                }
                                ul {
                                    li{
                                        display: block;
                                        width: 100%;
                                        @include nq_margin ($menu_01_tab_menu_ul_li_margin...);
                                        @include nq_padding ($menu_01_tab_menu_ul_li_padding...);
                                        a{
                                            @include nq_padding ($menu_01_tab_menu_ul_li_a_padding...);
                                            @include nq_font ($menu_01_tab_menu_ul_li_a_font...);
                                            &:hover{
                                                @include nq_font ($menu_01_tab_menu_ul_li_a_hover_active_font...);
                                                @include nq_bg ($menu_01_tab_menu_ul_li_a_hover_active_bg...);
                                            }
                                        }
                                        &.active{
                                            > a{
                                                @include nq_font ($menu_01_tab_menu_ul_li_a_hover_active_font...);
                                                @include nq_bg ($menu_01_tab_menu_ul_li_a_hover_active_bg...);
                                            }
                                        }
                                    }
                                }
                                &.active > a, &:hover > a{
                                    @include nq_font ($menu_01_tab_menu_tm_title_hover_font...);
                                    @include nq_bg ($menu_01_tab_menu_tm_title_hover_bg...);
                                }
                            }
                        }
                        &.active{
                            @include nq_border ($menu_01_tab_menu_li_hover_active_border...);
                            > ul {
                                display: block;
                                z-index: 9;
                            }
                        }
                        &:hover{
                            @include nq_border ($menu_01_tab_menu_li_hover_active_border...);
                            > ul {
                                display: block;
                                z-index: 99;
                            }
                        }
                        &.active > a, &:hover > a{
                            @include nq_font ($menu_01_tab_menu_a_hover_font...);
                            @include nq_bg ($menu_01_tab_menu_a_hover_bg...);
                        }
                    }
                    .thumbnail-container{
                        @include nq_imgthum ($menu_01_tab_menu_imgthum);
                        @include nq_bg ($menu_01_tab_menu_thumbnail_container_bg...);
                    }
                }
            } @else{
                .tab-menu{
                    display: none !important;
                }
            }
            /* Tab Menu E */
        }

        > ul {
            > .is-open-a > a{
                &:after{
                    // display: inline-block;
                    // margin-left: .255em;
                    // vertical-align: .255em;
                    // content: "";
                    // top: 2px;
                    // position: relative;
                    // border-top: .3em solid;
                    // border-right: .3em solid transparent;
                    // border-bottom: 0;
                    // border-left: .3em solid transparent;
                }
            }
        }
    }
    .is-open, .menu__open, .menu__close, .menu_mobile_visibility{
        display: none !important;
    }
    .col_half{
        width: 50%;
        float: left;
        display: block;
        &.left{
            padding-right: 50px;
        }
        &.right{
            padding-left: 50px;
        }
    }
    .header-gap{
        margin-top: 51px;
    }
}

@media (max-width: $menu_01_responsive_media){    
    .menu {
        @include nq_margin ($menu_01_mobile_margin...);
        @include nq_padding ($menu_01_mobile_padding...);
        @include nq_bg ($menu_01_mobile_bg...);
        @include css3-prefix ('transition','all 0.5s ease-in-out');
        width: nq-width($menu_01_mobile_width);
        left: nq-width(-$menu_01_mobile_width - 20);
        position: fixed;
        z-index: 999;
        overflow-x: scroll;        
        bottom: 0;
        top: 0;        
        ul {
            @include nq_margin ($menu_01_mobile_ul_margin...);
            @include nq_padding ($menu_01_mobile_ul_padding...);
            list-style: none;
            position: relative;
            z-index: 9;
            li {
                @include nq_margin ($menu_01_mobile_li_margin...);
                @include nq_padding ($menu_01_mobile_li_padding...);
                @include nq_border ($menu_01_mobile_li_border...);
                clear: both;
                &:last-child{
                    border-bottom: none;
                }
                &:after{
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }
                a{
                    @include nq_padding ($menu_01_mobile_a_padding...);
                    @include nq_font ($menu_01_mobile_a_font...);
                    display: block;
                }
                &.active{
                    > a{
                        @include nq_font ($menu_01_mobile_a_active_font...);
                    }
                }
                ul {
                    display: none;
                    min-height: auto !important;
                    clear: both;
                    li{
                        a{
                            @include nq_padding ($menu_01_mobile_ul_li_a_padding...);
                        }
                    }
                }
            }
        }
    }

    .menu_open_close{
        position: relative;
        @include nq_align ($menu_01_menu_open_close_align...);
        // @include nq_margin ($menu_01_menu_open_close_margin...); 
        @include d-flex();
        @include align-items-center();
        .menu__open{
            @include nq_border ($menu_01_menu_open_border...);
            @include nq_align ($menu_01_menu_open_align...);
            position: relative;
            width: 32px;
            height: 22px;
            z-index: 99;
            display: inline-block;
            &:before, &:after{
                position: absolute;
                content: ' ';
                height: 2px;
                width: 32px;
                @include nq_bg ($menu_01_menu_open_before_after_bg...)
            }
            &:before{
                top: 0;
            }
            &:after{
                bottom: calc(50% - 2px);
            }
        }

        .menu__close {
            position: relative;
            width: 32px;
            height: 22px;
            z-index: 99;
            display: none;
            @include nq_align ($menu_01_menu_open_align...);
            &:before, &:after{
                position: absolute;
                left: 15px;
                top: -5px;
                content: ' ';
                height: 33px;
                width: 2px;
                @include nq_bg ($menu_01_menu_close_before_after_bg...)
            }
            &:before{
                @include css3-prefix ('transform', rotate(45deg));
            }
            &:after{
                @include css3-prefix ('transform', rotate(-45deg));
            }
        }
    }    
    
    .is-open{
        position: relative;
        z-index: 99;
        float: right;
        width: 40px;
        height: 32px;
        &:before, &:after{
            position: absolute;
            content: '';
            @include nq_bg ($menu_01_mobile_is_open_bg...);
        }
        &:before{            
            width: 11px;
            height: 1px;
            top: 50%;
            left: 37%;
        }
        &:after{
            width: 1px;
            height: 11px;
            top: calc(50% - 5px);
            left: 50%;
        }
        &.is-close{
            &:after{
                display: none;
            }
        }
    }

    .is-open-a > a{
        float: left;
        width: calc(100% - 40px);
        @include nq_border ($menu_01_mobile_is_open_a_border...);
    }

    .menu .is-open.is-close ~ ul {
        display: block;
        li{
            &:first-child{
                @include nq_border ($menu_01_mobile_is_open_first_child_border...);
            }
        }
    }

    .menu-hidden{
        display: none;
    }
    
    /* Only Mobile Menu Top Design S */
        .menu_mobile_visibility{
            @include nq_bg ($menu_01_menu_mobile_visibility_bg...)
            @include nq_padding ($menu_01_menu_mobile_visibility_padding...)
            a{
                display: block;
            }
        }
    /* Only Mobile Menu Top Design E */

    /* Menu Overlap S */
        .menu_overlap {
            position: relative;
            overflow: hidden;
            .nav-overlay {
                @include nq_bg ($menu_01_mobile_nav_overlay_bg...);
                position: fixed;
                z-index: 99;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    /* Menu Overlap E */

    .col_half {
        > ul > li:last-child{
            @include nq_border ($menu_01_col_half_border...)
        }
        .navbar-left, .navbar-right{
            float: none !important;
        }
    }
}

/* Hide Header on on scroll down S */
    header.mobile-stick{
        // @include css3-prefix ('box-shadow', '1px 1px 26px 0 #f8f8f8');
        @include respond-below(lg) {
            @include css3-prefix ('box-shadow', 'none');
        }
        .header-section{
            background-color: $white; 
            .hs-right{
                .menu{
                    ul{
                        li{
                            .sub-menu{
                                padding: 46px 0 0;
                                &:before{
                                    top: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $menu_01_responsive_media){ 
        header.mobile-stick{
            .menu_open_close{
                // position: fixed;
                // z-index: 999;
                // right: 0;
                // top: 0;
                // @include nq_padding ($menu_01_mobile_stick_padding...);
                // @include nq_margin ($menu_01_mobile_stick_margin...);
                // @include nq_bg ($menu_01_mobile_stick_bg...);
                // @include css3-prefix ('border-radius', '2px');
                // @include css3-prefix ('transform', 'scale(0.7)');
            }
        }
    }
/* Hide Header on on scroll down E */