$header_01_right_margin:33 0 0 0;
$menu_01_a_margin:0 28 0 0;
$header_01_info_align:right;
$header_01_info_margin:33 0 0 0;
$header_01_info_btn_padding:14 22;
$header_01_info_btn_ls:0.3px;
$header_01_info_btn_margin:0 30 0 0;
$header_01_info_btn_align: top;
$header_01_info_call_font:(
    font-size: 16,
    font-weight:500,
    line-height: 150,
    color: lighten($primary,40%),
    letter-spacing: 0.3
);
$header_01_info_call_margin:0 0 0 0;
$header_01_info_call_i_font:(
    font-size: 42,
    font-weight:500,
    line-height: 100,
    color: $secondary,
);
