/* - - - - - - - - - - - - 
* Update Date: 07 11 2019
- - - - - - - - - - - - - */

$header_01_bg:(
	background-color: transparent
);
$header_01_left_margin:20 0;
$header_01_left_padding:0;
$header_01_left_width:221;
$header_01_info_width:435;


$menu_01_responsive_media: 1199px;
$menu_01_dropdown_width: 200px;
$menu_01_sub_menu: 'true';  /* true | false */
$menu_01_mega_menu: 'false';  /* true | false */
$menu_01_tab_menu: 'false';  /* true | false */

$menu_01_margin:0;
$menu_01_padding:0;
$menu_01_bg:(
    background-color: transparent
);


/* Top Menu S */
    $menu_01_ul_margin:0;
    $menu_01_ul_padding:0;
    $menu_01_li_margin:0;
    $menu_01_li_padding:0;
    $menu_01_a_font:(
        font-size: 16,
        font-weight:500,
        line-height: 150,
        color: $quaternary,
        letter-spacing: 0.3
    );
    $menu_01_a_padding:0;
    $menu_01_a_hover_active_font:(
        color: $secondary
    );
    $menu_01_a_hover_active_bg:(
        background-color: transparent
    );
/* Top Menu E */


/* Sub Menu S */
    $menu_01_sub_menu_padding:10 0 0 0;
    $menu_01_sub_menu_li_margin:0;
    $menu_01_sub_menu_li_padding:0;
    $menu_01_sub_menu_a_padding:6 10;
    $menu_01_sub_menu_a_font:(
        font-size:16,
        font-weight:400,
        line-height: 150,
        color: $white,
    );
    $menu_01_sub_menu_a_border:(0 0 1 0),(solid),(($black, 0) ($black, 0) ($black, 0.1) ($black, 0));
    $menu_01_sub_menu_a_hover_active_font:(
        color: $white
    );
    $menu_01_sub_menu_a_hover_active_bg:(
        background-color: $secondary
    );
/* Sub Menu E */


/* Mega Menu S */
    $menu_01_mega_menu_padding:15;
    $menu_01_mega_menu_bg:(
        background-color: $white
    );
    
    $menu_01_mega_menu_mm_title_font:(
        font-size: 18,
        font-weight: 400,
        line-height: 110,
        color: $black,
    );
    $menu_01_mega_menu_mm_title_padding:0;
    $menu_01_mega_menu_mm_title_margin:0 0 15 0;

    $menu_01_mega_menu_mm_title_hover_font:(
        color: $secondary        
    );
    $menu_01_mega_menu_mm_title_hover_bg:(
        background-color: transparent
    );

    $menu_01_mega_menu_li_padding:0;
    $menu_01_mega_menu_li_margin:0;

    $menu_01_mega_menu_ul_li_padding:0;
    $menu_01_mega_menu_ul_li_margin:0;

    $menu_01_mega_menu_ul_li_border:(0 0 0 1),(solid),(($black, 0) ($black, 0) ($black, 0) ($black, 0.1));

    $menu_01_mega_menu_a_padding:5 10;
    $menu_01_mega_menu_a_font:(
        font-size: 14,
        font-weight: 400,
        line-height: 120,
        color: $tertiary,
    );
    $menu_01_mega_menu_a_hover_active_font:(
        color: $black
    );
    $menu_01_mega_menu_a_hover_active_bg:(
        background-color: transparent
    );
/* Mega Menu E */


/* Tab Menu S */
    $menu_01_tab_menu_padding:15;
    $menu_01_tab_menu_bg:(
        background-color: $white
    );

    $menu_01_tab_menu_li_margin:0;
    $menu_01_tab_menu_li_padding:0;
    $menu_01_tab_menu_li_border:(0 1 1 0),(solid),(($black, 0) ($black, 0.1) ($black, 0.1) ($black, 0));

    $menu_01_tab_menu_a_padding:8 10;
    $menu_01_tab_menu_a_font:(
        font-size: 14,
        font-weight: 500,
        line-height: 120,
        color: $tertiary,
    );
    $menu_01_tab_menu_a_hover_font:(
        color: $tertiary,
    );
    $menu_01_tab_menu_a_hover_bg:(
        background-color: transparent
    );

    $menu_01_tab_menu_ul_padding:15;
    $menu_01_tab_menu_ul_bg:(
        background-color: $white
    );
    $menu_01_tab_menu_tm_title_margin:0 0 10 0;
    $menu_01_tab_menu_tm_title_padding:0;
    $menu_01_tab_menu_tm_title_font:(
        font-size: 18,
        font-weight: 400,
        line-height: 110,
        color: $black
    );
    $menu_01_tab_menu_tm_title_hover_font:(
        color: $primary
    );
    $menu_01_tab_menu_tm_title_hover_bg:(
        background-color: transparent
    );

    $menu_01_tab_menu_ul_li_margin:0;
    $menu_01_tab_menu_ul_li_padding:0;

    $menu_01_tab_menu_ul_li_a_padding:5 0;

    $menu_01_tab_menu_ul_li_a_font:(
        font-size: 14,
        font-weight: 500,
        line-height: 120,
        color: $tertiary
    );
    $menu_01_tab_menu_ul_li_a_hover_active_font:(
        color: $primary
    );
    $menu_01_tab_menu_ul_li_a_hover_active_bg:(
        background-color: transparent
    );
    $menu_01_tab_menu_li_hover_active_border:(0 5 0 0),(solid),(($black, 0) ($black, 0.1) ($black, 0) ($black, 0));
    $menu_01_tab_menu_imgthum:150;
    $menu_01_tab_menu_thumbnail_container_bg:(
        background-color: rgba($black, 0.2)
    );
/* Tab Menu E */


/* Mobile S */
    $menu_01_mobile_margin:0;
    $menu_01_mobile_padding:0;
    $menu_01_mobile_bg:(
        background-color: $primary
    );
    $menu_01_mobile_width:230;
    $menu_01_mobile_ul_margin:0;
    $menu_01_mobile_ul_padding:0;
    $menu_01_mobile_li_margin:0;
    $menu_01_mobile_li_padding:0;
    $menu_01_mobile_li_border:(1 0 0 0),(solid),(($white, 0.25) ($white, 0) ($white, 0) ($white, 0));
    $menu_01_mobile_a_padding:8 10;
    $menu_01_mobile_a_font:(
        font-size: 14,
        font-weight: 500,
        line-height: 120,
        color: $white
    );
    $menu_01_mobile_a_active_font:(
        color: $secondary
    );
    $menu_01_mobile_ul_li_a_padding:8 10 8 20;

    $menu_01_mobile_is_open_bg:(
        background-color: $white
    );
    $menu_01_mobile_is_open_a_border:(0 1 0 0),(solid),(($white, 0) ($white, 0.25) ($white, 0) ($white, 0));
    $menu_01_mobile_is_open_first_child_border:(1 0 0 0),(solid),(($white, 0.25) ($white, 0) ($white, 0) ($white, 0));
    $menu_01_mobile_nav_overlay_bg:(
        background-color: rgba($primary, 0.7)
    );
/* Mobile E */


/* Menu Open Close S */
    $menu_01_menu_open_close_align:right;
    $menu_01_menu_open_close_margin:24 0 0 0;
    $menu_01_menu_open_align:left;
    $menu_01_menu_open_border:(0 0 2 0),(solid),(($primary, 0) ($primary, 0) ($primary, 1) ($primary, 0));
    $menu_01_menu_open_before_after_bg:(
        background-color: $primary
    );
    $menu_01_menu_close_before_after_bg:(
        background-color: $white
    );
/* Menu Open Close S */


/* Hide Header on on scroll down S */
    $menu_01_mobile_stick_bg:(
        background-color: $secondary
    );
    $menu_01_mobile_stick_padding:10;
    $menu_01_mobile_stick_margin:0;
/* Hide Header on on scroll down E */


/* Only Mobile Menu Top Design S */
    $menu_01_menu_mobile_visibility_bg:(
        background-color: $white
    );
    $menu_01_menu_mobile_visibility_padding:15;
    $menu_01_col_half_border:(0 0 1 0),(solid),(($black,0.1) ($black,0) ($black,0) ($black,0));
/* Only Mobile Menu Top Design E */
