/* - - - - - - - - - - - - 
* Update Date: 11 12 2019
- - - - - - - - - - - - - */

@import 'testimonials_01_variables';
@import 'testimonials_01_temp_variables';

.testimonials_01 {
    /* Default Setting S */
        position: relative;
        z-index: 1;
        @include nq_container ($testimonials_01_container...);
        @include nq_bg($testimonials_01_bg...);
        @include nq_align ($testimonials_01_align);
        padding: 70px 0;
        @media(max-width: 1199px){
            padding: 40px 0;
        }
    /* Default Setting E */    


    article{
        @include d-flex(); 
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: relative;
        margin: 0 0 30px;  
        @media(max-width:479px){
            display: block;
        }
    }   
     .testi-img{
        max-width:391px;
        width:100%; 
        margin-right:20px;
        box-shadow: 0 0 20px 3px rgba($black,0.05);
        -ms-flex-item-align: start;align-self: flex-start;
        @media(max-width:1199px){
             max-width:260px;
        }
        @media(max-width:767px){
             max-width:150px;
        }
        @media(max-width:479px){
             max-width:100%;
             margin:0 auto;
        }
        .thumbnail-container{
            padding-bottom: 66.6%;
            background: lighten($black,99%);
            .overlay{
                position: absolute;
                top: calc(50% - 30px);
                left: calc(50% - 27px);
                text-align: center;
                opacity: 0;
                @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                @media(max-width: 1199px){
                    top: calc(50% - 20px);
                    left: calc(50% - 20px);
                    opacity: 1;
                }
                i{
                    color: $white;
                    font-size: 60px;
                    opacity: 0.6;
                    line-height: 100%;
                    @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                    @media(max-width: 1199px){
                        font-size: 35px;
                    }
                    &:hover{
                        @media(min-width: 1199px){
                            color: $secondary;
                        }
                    }
                }
            }
            &:hover{
                @media(min-width: 1199px){
                    .overlay{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .testi-desc{
        padding: 22px;
        position: relative; 
        background: lighten($black,97%); 
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
        @media(max-width: 1199px){
            padding: 20px;
        }
        @media(max-width: 767px){
            padding: 15px;
        }
        i{
            color: $quaternary-light;
            opacity: 0.25;
            position: absolute;
            font-size: 240px;
            top: 30px; 
            right: 30px;
            text-align: center;  
            @media(max-width: 991px){
                font-size: 180px;
            }              
        }           
        .test-title{
            @include nq_font ($testimonial_title_font...);
            margin-bottom: 10px;
            @media(max-width: 1199px){
                @include nq_font ($testimonial_title_1199_font...);
            }
            @media(max-width: 767px){
                @include nq_font ($testimonial_title_767_font...);
            }
        }
        .testi-border{
            .t_b_content{
                position: relative;
                padding-bottom: 20px;
                border-bottom: 1px solid $secondary;
                 @media(max-width: 1199px){ 
                    padding-bottom: 13px;
                }
                @media(max-width: 767px){ 
                    padding-bottom: 7px;
                }
                &:after{
                    position: absolute;
                    content: "";
                    background-color: transparent;
                    height: 21px;
                    width: 21px;
                    border-left: 1px solid $secondary;
                    border-bottom: 1px solid $secondary;
                    left: 40px;
                    bottom: -11px;                    
                    @include css3-prefix('transform','rotate(-45deg)') ;
                    background: lighten($tertiary-light,45%);
                    /*@media(max-width: 479px){
                        background:$white;
                    }*/
                }
                 p{
                    @include nq_font ($testimonial_desc_font...); 
                    @media(max-width: 1199px){
                        @include nq_font ($testimonial_desc_1199_font...); 
                    }
                    @media(max-width: 767px){
                        @include nq_font ($testimonial_desc_767_font...); 
                    }                       
                }
                // span{
                //     position: absolute;
                //     &.left{
                //         background: $secondary;
                //         bottom: 0;
                //         height: 1px;
                //         width: 30px;
                //         left: 0;
                //     }
                //     &.center{
                //         background-color: transparent;
                //         border-color: transparent $secondary $secondary transparent;
                //         border-style: solid;
                //         border-width: 1px;
                //         bottom: -10px;                        
                //         height: 21px;
                //         left: 44px;                        
                //         @include css3-prefix ('transform', 'translateX(-50%) rotate(45deg)');
                //         width: 21px;
                //     }
                //     &.right{
                //         background: $secondary;
                //         bottom: 0;
                //         height: 1px;
                //         width: calc(100% - 58px);
                //         right: 0;
                //     }
                // } 
            }  
        }
        .testi-writer{
            margin: 45px 0 0;
            @include nq_font ($testimonial_writer_font...);
            @media(max-width: 1199px){
                margin: 25px 0 0;
            }
            @media(max-width: 767px){
                @include nq_font ($testimonial_writer_767_font...);
            }
        }
    }
 

    .pagination {
        @include nq_align ($testimonials_01_pagination_align);
        margin: 0 0 15px;
        @media (max-width: 992px){
            @include nq_align ($testimonials_01_pagination_media_align);
        }
    }
}