/* - - - - - - - - - - - - 
* Update Date: 11 12 2019
- - - - - - - - - - - - - */

/* Default Setting S */
    $testimonials_01_container:container;
    $testimonials_01_bg:(
        background-color: $white,
    );
    $testimonials_01_align: null;
/* Default Setting E */

$testimonials_01_cms_margin:0 0 15 0;
$testimonials_01_cms_alignment: center;

$testimonials_01_imgthum:(
	imgthum:square,
	background-color: rgba($black, 0.03),
	border-radius: 150
);

$testimonials_01_info_padding:15 0 0 85;
$testimonials_01_name_font:(
    font-weight: 600,
    font-size: 18,
    line-height: 130,
    color: $primary,
    text-transform: uppercase,
);
$testimonials_01_name_margin:null;

$testimonials_01_position_font:(
    font-size: 14,
    color: $tertiary
);
$testimonials_01_position_margin:0;
  

$testimonials_01_pagination_align:center;
$testimonials_01_pagination_media_align:center;