/* - - - - - - - - - - - - 
* Update Date: 05 11 2019
- - - - - - - - - - - - - */

@import 'inner_banner_01_variables';
@import 'inner_banner_01_temp_variables';

.inner_banner_01{
    position: relative;
    z-index: 2;
    @media (min-width: 1200px) {
        @include nq_margin ($inner_banner_01_margin...);
    }
    @media(max-width:1199px){
        margin-bottom: 20px;
    }
    .caption{
        @include nq_margin ($inner_banner_01_caption_margin...);
        @include nq_align ($inner_banner_01_caption_align);
        background-color: lighten($primary,40%);
        background-image: url(../images/inner-banner-bg.png);
        padding: 50px 0;
        @media (max-width: 1024px) {
            position: relative;
            bottom: 0;
            @include nq_padding ($inner_banner_01_caption_padding...);
        }

        @media (min-width: 1025px) {
            .nq-table {
                display: table;
                width: 100%;
                .nq-center {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        
        .title{
            @include nq_font ($inner_banner_01_title_font...);
            @include nq_margin ($inner_banner_01_title_margin...);
            @media (max-width: 1024px) {
                @include nq_font ($inner_banner_01_title_1024_font...);
            }
        }
        .sub-title{
            @include nq_font ($inner_banner_01_sub_title_font...);
            @include nq_margin ($inner_banner_01_sub_title_margin...);
            @media (max-width: 767px) {
                @include nq_font ($inner_banner_01_sub_title_1024_font...);
            }
        }
    }

    .back-to-list{
        position: absolute;
        bottom: -59px;
        left: 0;
        right: 0;
        @media(max-width: 1199px){
            bottom: -49px;
        }
        .btn-primary{
            @include nq_font ($inner_banner_01_back_to_list_font...);
            @include nq_link ($inner_banner_01_back_to_list_link...);
            background:$secondary;
            border:1px solid $secondary;
            padding:12px 28px;
            i{
                font-size: 18px;
                padding-right: 5px;
                vertical-align: -1px;
                @media(max-width:767px){
                    font-size:16px;
                }
            }
            @media(max-width: 767px){
                @include nq_font ($inner_banner_01_back_to_list_font_767...);
                padding: 10px 18px;
            }
            &:hover{
                color: $white !important;
                background:$primary;
                border:1px solid $primary;
            }
        }
    }
}

/* Breadcrumb S */
    @include nq_breadcrumb ($inner_banner_01_breadcrumb...);
/* Breadcrumb E */

