/* - - - - - - - - - - - - 
* Update Date: 05 11 2019
- - - - - - - - - - - - - */

$inner_banner_01_margin:113 0 0 0;

/* Caption S */
    $inner_banner_01_caption_align:center;
    $inner_banner_01_caption_margin:0 auto;
    $inner_banner_01_caption_padding:30 0 40;
    
/* Caption E */

/* Title S */
    $inner_banner_01_title_font:(
        font-size: 44,
        font-weight: 400,
        line-height: 100,
        color: $primary,
        text-transform: uppercase,
    );
    $inner_banner_01_title_margin:0;
    $inner_banner_01_title_1024_font:(
        font-size: 28
    );
/* Title E */

/* Sub Title S */
    $inner_banner_01_sub_title_font:(
        font-size: 20,
        font-weight: 400,
        line-height: 100,
        color: $white,
    );
    $inner_banner_01_sub_title_margin:5 0 0 0;
    $inner_banner_01_sub_title_1024_font:(
        font-size: 16
    );
/* Sub Title E */

/* Breadcrumb S */
    $inner_banner_01_breadcrumb:(
        margin-ul: 15 0 0 0,
        padding-ul: 0,
        margin-li: 0,
        padding-li: 0,
        font-size: 16,
        font-weight: 400,
        line-height: 120,
        color: $black,
        color-h: $secondary,
        padding-before:0 0 0 5,
        color-before: $black,
        content-before:'-',
    );
/* Breadcrumb E */

/* Back To Listing S */    
    $inner_banner_01_back_to_list_font:(
        font-size: 16,
        font-weight: 500,
        line-height: 110,
    );
    $inner_banner_01_back_to_list_font_767:(
        font-size: 14,
    );
    $inner_banner_01_back_to_list_link:(
        color: $primary,
        color-h: $secondary,
    );
/* Back To Listing E */