/* - - - - - - - - - - - - 
* Update Date: 20 11 2019
- - - - - - - - - - - - - */

@import 'service_detail_01_variables';
@import 'service_detail_01_temp_variables';

.service_detail{
    /* Default Setting S */
        position: relative;
        z-index: 1;
        background-image: url(../images/service-bg.svg);
        background-repeat: no-repeat;
        background-position: left bottom;        
        padding: 40px 0 0;        
        @media(max-width: 1199px){            
            padding: 20px 0;
        }
        @media(max-width: 767px){
            padding: 20px 0;
        }
        .service-title{
            @include nq_font ($service_detail_title...);
            @include nq_margin ($service_detail_title_margin...);            
            @media(max-width: 1199px){
                @include nq_font ($service_detail_1199_title...);
            }
            @media(max-width: 767px){
                @include nq_font ($service_detail_767_title...);
            }
            @media(max-width: 479px){
                margin: 0 auto 10px;
                display: table;
            }
        }
        .detail-img{
            width: 400px;
            float: left;
            margin:0 25px 15px 0;
            @media(max-width: 1199px){
                width: 340px;
            }
            @media(max-width: 767px){
                width: 260px;
                margin-right: 15px;
            }
            @media(max-width: 479px){
                margin: 0 auto 20px;
                float: none;
            }
            .thumbnail-container{
                @include nq_imgthum ($service_detail_imgthum...);
            }
            .owl-dots{
                bottom: -30px;
                @media(max-width: 1199px){
                    bottom: -20px;
                }
            }
        }
        .cms{
            p{
                @include nq_font ($service_detail_desc...);
                @media(max-width: 767px){
                    @include nq_font ($service_detail_desc_767...);
                }
            }
        }
    /* Default Setting E */


    .related{        
        border-top: 1px solid $quaternary-light;
        @include nq_margin ($service_detail_related_margin...);
        @include nq_padding ($service_detail_related_padding...);
        .title{
           @include nq_font ($service_detail_title_font...);           
           @media(max-width: 1199px){
                @include nq_font ($service_detail_title_1199_font...);
           }
        }
        article{
            position: relative;
            margin:0 0 30px;
            @media(max-width: 1199px){
                margin:0 0 15px;
            }
            .thumbnail-container{
               @include nq_imgthum ($service_detail_related_imgthum...);
               &:before{
                position: absolute;
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                @include css3-prefix ('background','linear-gradient(to top,rgba(0,0,0,.45) 0,rgba(0,0,0,0) 100%)');
                @include css3-prefix ('transition','all .3s ease-in-out');
               }
            }
            .content{
                position: absolute;
                width: 100%;
                bottom: 20px;
                left: 0;
                z-index: 1;
                padding: 0 15px;
                text-align: left;
                .r_title{
                    @include nq_font ($service_detail_r_title...);
                    position: relative;
                    padding-bottom: 10px;
                    @media(max-width: 1199px){
                        @include nq_font ($service_detail_r_title_1199...);
                    }
                    &:before{
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 40px;
                        height: 2px;
                        background: $secondary;
                    }
                }   
            }
        }
    }
}