/* - - - - - - - - - - - - 
* Update Date: 20 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */
	
	$service_detail_01_bg:(
		background-color: $white
	);
	$service_detail_01_align: null;
	$service_detail_01_nqtitle_font:(
		font-size: 24,
		font-family: $special_font_family,
		font-weight: 300
	);
	$service_detail_01_nqtitle_margin:0;
	$service_detail_01_btn:();
	$service_detail_01_p_font:(
		text-align: justify 
	);
/* Default Setting E */
$service_detail_title:(
	font-size: 30,	
);

$service_detail_1199_title:(
	font-size: 26,
);
$service_detail_767_title:(
	font-size: 22,
);

$service_detail_title_margin:0 0 10 0;

$service_detail_imgthum:(
	imgthum: vertical,
	background-color: rgba($black,0.1),
);

$service_detail_desc:(
	font-size: 16,
	text-align: justify,
);

$service_detail_desc_767:(
	font-size: 14,
);

$service_detail_related_padding:30 0;
$service_detail_related_margin:30 0 0 0;

$service_detail_title_font:(
	font-size: 26,		
);

$service_detail_title_1199_font:(
	font-size: 22,
);

$service_detail_related_imgthum:(
	imgthum: vertical,
	background-color: rgba($black,0.1),
);

$service_detail_r_title:(
	font-size: 26,
    font-weight: 400,
    color: $white,
);

$service_detail_r_title_1199:(
	font-size: 20,
);