.#{$nq}-cookies {
	position: fixed;
	z-index: 9;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	width: 475px;
	@media (max-width: 480px) {
		width: 100%;
	}
	.#{$nq}-c-info{
		display: inline-block;
		background-color: rgba($white, 0.9);
		padding: 10px;
		margin: 0 15px;
		font-size: 14px;
		font-weight: 400;
		line-height: 110%;
		color: $black;
		border-radius: 5px;
		border: 1px solid rgba($tertiary,0.1);
		br {
			display: none;
		}
		@media (max-width: 480px) {
			br {
				display: block;
			}
		}
	}
	.#{$nq}-c-find{
		color: $primary;
		&:hover{
			color: $secondary;
		}
	}
	.#{$nq}-c-btn {
		margin-left: 10px;
	    padding: 7px 15px;
	    font-size: 14px;
	    font-weight: 400;
	    color: $white;
	    line-height: 100%;
	    background-color: $primary;
	    display: inline-block;
	    border-radius: 5px;
	    &:hover {
	    	background-color: $secondary;
	    }
	    @media (max-width: 480px) {
	    	margin-left: 0;
	    	margin-top: 5px;
	    }
	}
}