/* - - - - - - - - - - - - 
* Update Date: 19 11 2019
- - - - - - - - - - - - - */

/* Default Setting S */
    $sitemap_01_container:container;
    $sitemap_01_padding:60 0;
    $sitemap_01_1199_padding:40 0 0 0;
    $sitemap_01_767_padding:30 0 0 0;
    $sitemap_01_bg:(
        background-color: $white
    );
    $sitemap_01_align: null;
    $sitemap_01_nqtitle_font:(
        font-size: 30,
    );

$sitemap_cols_li_margin:0 0 45 0;
$sitemap_cols_li_a_sp_main_menu_sm_font:(
    font-size: 20,
);
$sitemap_cols_li_md_font:(
    font-size: 18,
);
$sitemap_cols_li_sm_font:(
    font-size: 16,
);
$sitemap_cols_li_sm_margin: 0 0 25 0;
$sitemap_cols_li_xs_margin: 0 0 20 0;
$sitemap_cols_li_lastchild_sm_margin:0 0 10 0 ;
$sitemap_cols_li_a_sp_main_menu_padding:12 0 12 50;
$sitemap_cols_li_a_sp_main_menu_link:(
    color: $black,
    color-h: $secondary,
);
$sitemap_cols_li_a_sp_main_menu_font:(
    font-size: 18,
    font-weight: 400,
    line-height: 100,
);
$sitemap_cols_li_a_sp_main_menu_sm_margin:8 0 0 0;
$sitemap_cols_li_a_sp_main_menu_sm_font:(
    font-size: 16,
);
$sitemap_cols_li_ul_border:(0 0 0 1),(solid),(($black, 0) ($black, 0) ($black, 0) ($black, 0.1));
$sitemap_cols_li_ul_margin:2 0 0 14;
$sitemap_cols_li_ul_li_margin: 4 0;
$sitemap_cols_li_ul_li_padding:0 0 0 37;
$sitemap_cols_li_ul_li_font:(
    font-size: 16,
);
$sitemap_cols_li_ul_li_sm_font:(
    font-size: 14,
);
$sitemap_cols_li_ul_li_before_border:(1 0 0 0),(solid),(($black, 0.1) ($black, 0) ($black, 0) ($black, 0));
$sitemap_cols_li_ul_li_before_margin:12 0 0 -37;
$sitemap_cols_li_ul_li_before_sm_margin:11 0 0 -37;
// $sitemap_cols_li_ul_li_a_link:(
//     color-h: $secondary,
// );
$sitemap_cols_li_ul_li_a_sm_font:(
    font-size: 14,
);
$sitemap_cols_li_ul_li_a_xs_font:(
    font-size: 12,
);

$sitemap_cols_li_a_sp_icon_bg:(
    background-color: $primary
);
