/* - - - - - - - - - - - - 
* Update Date: 08 11 2019
- - - - - - - - - - - - - */

@import 'sitemap_01_variables';
@import 'sitemap_01_temp_variables';

.sitemap_01 {
    /* Default Setting S */
        position: relative;
        z-index: 1;
        @include nq_padding ($sitemap_01_padding...);
        @include respond-below(lg) {
            @include nq_padding ($sitemap_01_1199_padding...);
        }
        @include respond-below(sm) {
            @include nq_padding ($sitemap_01_767_padding...);
        }
        @include nq_container ($sitemap_01_container...);
        @include nq_bg($sitemap_01_bg...);
        @include nq_align ($sitemap_01_align);

        &:before{
            position: absolute;
            content: "";
            background-image: url(../images/service-bg.svg);
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 80%;
            right: -44%;
            bottom: 6%;
            opacity: 1;
        }
        .nqtitle {
            @include nq_font ($sitemap_01_nqtitle_font...);
        }
    /* Default Setting E */
    .cols {
        @include d-flex();
        flex-flow: row wrap;
        align-items: stretch;
        list-style-type: none;
        margin: 0;
        li{
            flex: 0 0 25%;
            position: relative;
            @include nq_margin ($sitemap_cols_li_margin...);            
            @include respond-below(md) {
                flex: 0 0 33.33%;
                @include nq_font ($sitemap_cols_li_md_font...);
            }
            @include respond-below(sm) {
                flex: 0 0 50%;
                @include nq_font ($sitemap_cols_li_sm_font...);
                @include nq_margin ($sitemap_cols_li_sm_margin...);
            }
            @include respond-below(xs) {
                flex: 0 0 100%;
                @include nq_margin ($sitemap_cols_li_xs_margin...);
            }
            a{
                @include nq_link ($sitemap_cols_li_a_sp_main_menu_link...);                
                .sp_icon{
                    content: " ";
                    position: absolute;
                    text-align: center;
                    left: 0;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    top: 0;
                    font-size: 20px;
                    @include css3-prefix('border-radius','100%;');
                    @include nq_bg($sitemap_cols_li_a_sp_icon_bg...);
                    @include css3-prefix ('transition', 'all 0.5s ease-in-out');
                    color: $white;
                    i{

                    }
                }
                .sp-main-menu{
                    display: inline-block;                    
                    vertical-align: middle;
                    @include nq_font($sitemap_cols_li_a_sp_main_menu_sm_font...);                    
                    @include nq_padding ($sitemap_cols_li_a_sp_main_menu_padding...);     
                    @include css3-prefix ('transition', 'all 0.3s ease-in-out');                                   
                    @include respond-below(sm) {
                        @include nq_margin ($sitemap_cols_li_a_sp_main_menu_sm_margin...);
                        @include nq_font ($sitemap_cols_li_a_sp_main_menu_sm_font...);
                    }
                }
                &:hover{
                    .sp-main-menu{
                        color: $secondary;
                    }
                }
            }
            &:last-child{
                @include respond-below(xs) {
                    @include nq_margin ($sitemap_cols_li_lastchild_sm_margin...);
                }
            }
            ul{
                list-style-type: none;
                overflow: hidden;
                @include nq_border ($sitemap_cols_li_ul_border...);
                @include nq_margin ($sitemap_cols_li_ul_margin...);
                li{
                    width: 100%;
                    @include nq_margin ($sitemap_cols_li_ul_li_margin...);
                    /*margin: 4px 0!important;*/
                    @include nq_padding ($sitemap_cols_li_ul_li_padding...);
                    @include nq_font ($sitemap_cols_li_ul_li_font...);
                    @include respond-below(sm) {
                        @include nq_font ($sitemap_cols_li_ul_li_sm_font...);
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        width: 25px;
                        @include nq_border ($sitemap_cols_li_ul_li_before_border...);
                        @include nq_margin ($sitemap_cols_li_ul_li_before_margin...);
                        @include respond-below(sm) {
                            @include nq_margin ($sitemap_cols_li_ul_li_before_sm_margin...);
                        }
                    }
                    // a:hover{
                    //     @include nq_link ($sitemap_cols_li_ul_li_a_link...);
                    // }
                    a{
                        @include respond-below(sm) {
                            @include nq_font ($sitemap_cols_li_ul_li_a_sm_font...);
                        }
                        @include respond-below(xs) {
                            @include nq_font ($sitemap_cols_li_ul_li_a_xs_font...);
                        }
                    }
                }
            } 
        }
        .nqtitle{
            @include respond-below(sm) {
                display: table;
                margin: 0 auto;
            }
        }
    }
}