.privacy_pw_popup {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 999999;background: #000;background: rgba(0,0,0,.5);}
.privacy_pw_popup .fl{float:left}.privacy_pw_popup .fr{float:right;}
.privacy_pw_popup .p-pw_box {position: relative;max-width: 500px;margin: 0 auto;top: 70px;padding-bottom: 15px;overflow: hidden;border-radius:10px;
  background: #fff;background: rgba(255,255,255,.9);}
.privacy_pw_popup .p-pw_box .p-pw_title{font-size: 22px;font-weight: 400;text-align: center;margin:0 0 2px 0;line-height: 140%;color: #000;padding: 15px;
 /*  background-image: -webkit-gradient(linear,left top, right top,color-stop(10%, #404e67),to(#6f85ad));background-image: -webkit-linear-gradient(left,#404e67 10%,#6f85ad 100%);background-image: -o-linear-gradient(left,#404e67 10%,#6f85ad 100%);background-image: linear-gradient(to right,#404e67 10%,#6f85ad 100%); */
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.2);box-shadow: 0 0 2px rgba(0,0,0,.2);border-radius:0;}
.privacy_pw_popup .p-pw_box .p-pw_title .close{box-shadow:0 2px 2px rgba(0,0,0,0.2);width:25px;height:25px; border-radius:20px;position:absolute;top:4px;right:4px;font-style:normal;transform:rotate(45deg);line-height:25px;font-size:24px;text-decoration:none;outline:none;color:#fff;}
.privacy_pw_popup .p-pw_box .privacy_title span {font-size: inherit;font-weight: inherit;display: block;color: inherit;}
.privacy_pw_popup .p-pw_box .p-pw_desc {max-height:calc(100vh - 230px);overflow-y: auto;padding: 0 20px;margin-bottom:10px;}
.privacy_pw_popup .p-pw_box .p-pw_desc p {font-size: 14px;margin: 15px 0;color:#838383;text-align:left;letter-spacing:0.5px}
.privacy_pw_popup .p-pw_box .d_view{font-size:15px;color:rgba(16, 128, 242, 1);font-weight:600;margin-bottom:10px; }
.privacy_pw_popup .p-pw_box .d_view a{color:rgba(16, 128, 242, 1);text-decoration:none;outline:none;transition: 0.5s}
.privacy_pw_popup .p-pw_box .d_view a:hover{color:#000;}
.p-pw_desc h3,.p-pw_desc h4,.p-pw_desc h5 {color:#1b2148;font-size: 20px;font-weight:normal;}
.privacy_pw_popup .p-pw_box ul{padding:0;margin:0;}
.privacy_pw_popup .p-pw_box ul li {padding-left: 15px;position: relative;margin-bottom: 15px;color:#838383;list-style:none}
.privacy_pw_popup .p-pw_box ul li:before {position: absolute;content: "";width: 7px;height: 7px;left: 0;top: 7px;border-radius: 50%;background:#838383;}
.privacy_pw_popup .p-pw_center{text-align:center;border-top:1px solid #e8e8e8;padding:15px 15px 0;}
.privacy_pw_popup .p-pw_box .p-pw_center .btn.agree-btn {font-size: 16px;width: auto;text-align: center;display: inline-block;padding:6px 20px;border-radius: 5px;background:rgba(16, 128, 242, 1);outline:none;text-decoration:none;color:#fff;font-weight:600;border:1px solid rgba(16, 128, 242, 1);transition: 0.5s}
.privacy_pw_popup .p-pw_box .p-pw_center .btn.agree-btn:hover {opacity: .8;}
.privacy_pw_popup .p-pw_box .p-pw_center .btn.close-btn {font-size: 16px;width: auto;text-align: center;display: inline-block;padding:6px 20px;border-radius: 5px;background:#f2f2f2;outline:none;text-decoration:none;color:#fff;font-weight:600;border:1px solid rgba(16, 128, 242, 0.1);color:rgba(16, 128, 242, 1);transition: 0.5s}
.privacy_pw_popup .p-pw_box .p-pw_center .btn.close-btn:hover {opacity: .8;}
@media(max-width:767px){
  .privacy_pw_popup .p-pw_box{max-width:479px;}
  .privacy_pw_popup .p-pw_box .p-pw_title{font-size:18px}
}
 @media(max-width:479px){
  .privacy_pw_popup .p-pw_box{max-width:300px;}
  .privacy_pw_popup .p-pw_box .p-pw_title{font-size:16px}
}