body #back-top {
    position: fixed;
    bottom: 25px;
    right: 15px;
    cursor: pointer;
    z-index: 999;
    i{
        background-color: $primary;
        @include css3-prefix ('border-radius','250px');
        font-size: 16px;
        line-height: 37px;
        color: $white;
        text-align: center;
        @include css3-prefix ('transition','all 0.5s ease 0s');
        display: block;
        height: 40px;
        width: 40px;
        &:hover{
            background-color: $secondary;
        }
        @media (max-width:767px) {
            display: none;
        }
    }
}