/* - - - - - - - - - - - - 
* Update Date: 10 12 2019
- - - - - - - - - - - - - */
@import 'build-home_variables';
@import 'build-home_temp_variables';

.building-home{
    padding: 75px 0;
    position: relative;
    &:before{
        position: absolute;
        content: "";
        background: url(../images/build-home-bg.png);
        top: 0;
        left: 0;
        right: 0;
        bottom: 160px;
    }
    @media(max-width: 1199px){
        padding: 40px 0 80px;
    }
    @media(max-width: 767px){
        padding: 30px 0 70px;
    }
    .container{
        width: 100%;
        @media(min-width: 1600px){    
            max-width: 1440px;
        }
        @media(min-width: 1400px){
            max-width: 1360px;
        }
    }
    
    .building-home-top{
        padding: 0 80px;
        @media(max-width: 1199px){
            padding: 0 40px;
        }
        @media(max-width: 767px){
            padding: 0;
        }
        .nqtitle{            
        }
        p{
            @include nq_font ($building-home-para...); 
            @include respond-below (md_lg) {
                @include nq_font ($building-home-767-para...);
            }
        }
        .building-home-btn{
            margin: 40px 0 0;
            @include respond-below (md_lg) {
                margin: 20px 0 0;
            }
            li{
                display: inline-block;
                list-style: none;
                + li{
                    margin: 0 0 0 20px;
                    @include respond-below (xs) {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
    }
    
    .building-home-bottom{
        margin:40px 0 0;
        @include respond-below (sm) {
            margin: 30px 0 0;
        }
        .home-list{
            text-align: center;
            width: 20%;
            @include css3-prefix ('transition', 'all 0.3s ease-in-out');
            h2,.home-title{                
                @include nq_font($home_title...);
                margin: 0 0 20px;                
                @include css3-prefix ('transition', 'all 0.3s ease-in-out');
            }
            .home-box{
                position: relative;
                overflow: hidden;
                p{
                    position: absolute;
                    top: -15px;
                    left: 30px;
                    right: 30px;
                    z-index: 1;
                    height:42px;
                    overflow: hidden;
                    @include nq_font($home_para_font...);
                    @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                    opacity: 0;
                    @include respond-below (md_lg) {
                        opacity: 1;
                        top: 15px;
                    }
                }
                .thumbnail-container{
                    padding-bottom: 150%;
                    border:1px solid $quaternary-light;
                    background: $quaternary-light;
                    margin: 0;
                    @include css3-prefix ('transition', 'all 0.3s ease-in-out');
                }
                .home-list-btn{
                    position: absolute;
                    bottom: 20px;
                    right: 0;
                    left: 0;
                }                
            }
            &:hover{
                @include respond-above (md_lg) {
                    h2,.home-title{
                        color: lighten($primary,40%);
                    }
                    .home-box{
                        p{
                            opacity: 1;
                            top: 15px;
                        }
                        @media(min-width: 1199px){
                            .thumbnail-container{
                                background: $white;
                            }
                        }
                    }
                }
            }
        }
        .owl-dots{
            @media(max-width: 1199px){
                bottom: -30px;
            }
        }
    }
}