/* - - - - - - - - - - - - 
* Update Date: 14 11 2019
- - - - - - - - - - - - - */

$home_title:(
    font-size: $h3_font_size,
    letter-spacing: 0,
    font-family: $font_family_01,
    font-weight: $font_weight_01, 
    color: $quaternary,
);

$home_para_font:(
    font-size: $body_font_size,
    font-weight: $font_weight_05,
    font-family: $font_family_01,    
    color: $quaternary,
    letter-spacing: 0,
);

$building-home-para: (
	font-size: $body_font_size + 2,     
    color: $quaternary,
    font-family: $font_family_01,    
);

$building-home-767-para:(
	font-size: $body_font_size,  
);