$base_font: 14px;
$base_font_weight: 400;
$base_height: 150%;

$nq_select_height: 35px;
$nq_select_dropdown_menu_border_color: rgba($tertiary,0.5);
$nq_select_dropdown_menu_bg: rgba($tertiary,0.1); 
$nq_select_dropdown_menu_text_size:  $base_font;
$nq_select_dropdown_menu_text_weight:  $base_font_weight;
$nq_select_dropdown_menu_text_color: rgba($tertiary,1);
$nq_select_dropdown_menu_text_hover: rgba($black,1);

$nq_select_dropdown_header_border_color: rgba($tertiary,0.2);
$nq_select_dropdown_header_bg: rgba($tertiary,0.5);
$nq_select_dropdown_header_text_size:  $base_font;
$nq_select_dropdown_header_text_weight:  $base_font_weight;
$nq_select_dropdown_header_text_color: rgba($white,1);

$nq_select_check_mark_color: rgba($black,1);

/* Bootstrap Select S */
    .bootstrap-select{
        .btn.dropdown-toggle{
            border-radius: 2px;
            background: $white;
            border-width:  1px;
            border-style: solid;
            border-color: rgba($tertiary, 0.5);
            padding: 10px 12px;
            height: $nq_select_height;
            @include css3-prefix ('box-shadow', 'none');
            &.bs-placeholder{
                .filter-option{
                    color: rgba($tertiary, 0.5);
                }    
            }
            .filter-option{
                font-size: $base_font;
                font-weight: $base_font_weight;
                line-height: 150%;
                color: $tertiary;
            }
            &:focus, &:active{
                background: transparent;
                @include css3-prefix ('box-shadow', 'none');
                outline: none !important;
            }
            &:not([disabled]):not(.disabled):active{
                background: transparent !important;
                @include css3-prefix ('box-shadow', 'none');
                outline: none !important;
            }
            &:hover{
                border-color: $primary;
            }
        }
        .caret {
            border-top: 4px dashed $tertiary;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
        &.dropup .caret{
            border-top: 0px;
            border-bottom: 4px dashed $tertiary;
        }
        &.show, &.open{
            .dropdown-toggle{
                background: transparent;
                @include css3-prefix ('box-shadow', 'none');
                outline: none !important;
                border-color: $primary !important;
                &:hover, &:active{
                    background: transparent;
                    @include css3-prefix ('box-shadow', 'none');
                    outline: none !important;
                }
                &:focus{
                    background: transparent;
                    @include css3-prefix ('box-shadow', 'none');
                    outline: none !important;
                }
            }   
        }
        .dropdown-menu{
            margin: -1px 0 0 0;
            padding: 0;
            list-style: none;
            border-radius: 0;
            li{
                margin: 0;
                padding: 0;
                a{
                    padding: 10px 15px;
                    border-bottom: 1px solid $nq_select_dropdown_menu_border_color;
                    .text{
                        font-weight: $nq_select_dropdown_menu_text_weight;
                        font-size: $nq_select_dropdown_menu_text_size;
                        color: $nq_select_dropdown_menu_text_color;
                        line-height: 0;
                    }
                    &.active, &:hover, &:active{
                        background-color: $nq_select_dropdown_menu_bg;
                        .text{
                            color: $nq_select_dropdown_menu_text_hover;
                        }
                    }
                    &.opt{
                        padding-left: 20px !important;
                        &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
                            outline: none !important;
                        }
                    }
                    &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
                        outline: none !important;
                    }
                }
                &.disabled{
                    a{
                        background-color: $nq_select_dropdown_menu_bg;
                        .text{
                            color: $nq_select_dropdown_menu_text_hover;
                        }
                    }
                }
                &.selected{
                    .check-mark{  
                        &:after{
                            right: 0px;
                            top: 2px;
                            position: absolute;
                            content: '';
                            display: block;
                            width: 6px;
                            height: 10px;
                            border: solid $nq_select_check_mark_color;
                            border-width: 0 2px 2px 0;
                            @include css3-prefix ('transform','rotate(45deg)');
                        }
                    }
                }
                &:last-child{
                    a{
                        border-bottom: none;
                    }
                }
                &.divider{
                    display: none;
                }
                &.dropdown-header{
                    padding: 6px 10px 5px 10px;
                    border-bottom: 1px solid $nq_select_dropdown_header_border_color;
                    background-color: $nq_select_dropdown_header_bg;
                    .text{
                        font-size: $nq_select_dropdown_header_text_size;
                        font-weight: $nq_select_dropdown_header_text_weight;
                        color: $nq_select_dropdown_header_text_color;
                    }
                    ~ .dropdown-divider {
                        border: none;
                    }
                }
                .text-muted, &.active .text-muted{
                    color: $primary;
                }
            }
        }
        .bs-searchbox{
            .form-control{
                font-size: $base_font;
                font-weight: $base_font_weight;
                font-style: normal;
                line-height: 150%;
                color: $black;
                border: 1px solid rgba($tertiary, 0.5);
                resize: none;
                height: $base_height;
                border-radius: 0;
                @include css3-prefix ('box-shadow', 'none');
                &:focus{
                    outline: none;
                    border-color: $primary;
                    @include css3-prefix ('box-shadow', 'none');
                    
                }
                @include placeholder (){
                    color: rgba($tertiary, 0.5);
                }
            }
        }
        .bootstrap-select .dropdown-menu .notify, .bs-actionsbox, .bs-actionsbox, .bs-donebutton, .bs-searchbox {
            padding: 8px 8px !important;
        }
        .no-results {
            padding: 5px 15px;
        }
        .close{
            position: absolute;
            right: 15px;
            top: 2px;
            &:hover, &:focus, &:visited, &:active, &:not([disabled]):not(.disabled):active, .focus{
                background: none;
                color: $tertiary;
                @include css3-prefix ('box-shadow', 'none');
            }
        }
        .glyphicon {
            margin-right: 5px;
        }
    }

    .btn.dropdown-toggle{
        border-radius: 0;
        background: $white;
        border-width:  0 0 1px 0;
        border-style: solid;
        border-color: rgba($tertiary, 0.2);
        padding: 6px 0;
        @include css3-prefix ('box-shadow', 'none');
        border-radius: 0;
    }
    
    .#{$nq}-form-md{
        
    }
/* Bootstrap Select E */